<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2019  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="printer-feature-template">
    <div data-bind="visible:nonUniqueSpeedList().length > 0 || missingSpeedsList().length > 0">
        <hr/>
        <p class="text-error">
            There may be some issues with your speed settings.  If you are not using 'High Quality Mode' you can ignore these safely:
            <small>
                <a href="#" class="muted"
                   data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#show_print_feature_issues.hide' }">
                    <i class="fa fa-no-shadow fa-caret-right"></i> {{ _('Show Issues') }}
                </a>
            </small>
        </p>
        <div id="show_print_feature_issues" class="control-group hide">
            <div data-bind="visible: nonUniqueSpeedList().length > 0">
                <div>
                    <p>The following speeds are non-unique:</p>
                    <ul data-bind="foreach: nonUniqueSpeedList">

                        <li><span data-bind="text: speed"></span>:<span data-bind="foreach: feature_names"><!-- ko if: $index() != 0 -->,<!-- /ko -->&nbsp;<span class="text-warning" data-bind="text: $data"></span></span></li>

                    </ul>
                </div>
            </div>
            <div data-bind="visible: missingSpeedsList().length > 0">
                <p>
                    The following speeds are missing:&nbsp;<span class="text-warning" data-bind="foreach: missingSpeedsList"><!-- ko if: $index() != 0 -->,&nbsp;<!-- /ko --><span data-bind="text: $data" /></span>
                </p>

            </div>
        </div>
        <hr/>
    </div>
</script>
