<!-- Raspberry Cam Module V2 template -->
<script type="text/html" id="octolapse-mjpg-streamer-raspi-cam-v2">
    <div class="row-fluid">
        <div class="span12 text-center no-min-height">
            <strong>Raspberry Pi Camera Module V2 or Equivalent Detected</strong>
        </div>
    </div>
    <div class="column">
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>General Settings</legend>
                <div>
                    <!--Brightness-->
                    <span data-bind="text: data.controls_dict['9963776'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url': data.controls_dict['9963776'].help_url, 'data-help-title':data.controls_dict['9963776'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963776'].min, max: data.controls_dict['9963776'].max, step: data.controls_dict['9963776'].step }, octolapseSliderValue: data.controls_dict['9963776'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963776'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--Contrast-->
                    <span data-bind="text: data.controls_dict['9963777'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963777'].help_url, 'data-help-title':data.controls_dict['9963777'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963777'].min, max: data.controls_dict['9963777'].max, step: data.controls_dict['9963777'].step }, octolapseSliderValue: data.controls_dict['9963777'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963777'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--Saturation-->
                    <span data-bind="text: data.controls_dict['9963778'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963778'].help_url, 'data-help-title':data.controls_dict['9963778'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963778'].min, max: data.controls_dict['9963778'].max, step: data.controls_dict['9963778'].step }, octolapseSliderValue: data.controls_dict['9963778'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963778'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--Sharpness-->
                    <span data-bind="text: data.controls_dict['9963803'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963803'].help_url, 'data-help-title':data.controls_dict['9963803'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963803'].min, max: data.controls_dict['9963803'].max, step: data.controls_dict['9963803'].step }, octolapseSliderValue: data.controls_dict['9963803'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963803'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--JPEG Quality-->
                    <span data-bind="text: data.controls_dict['1'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['1'].help_url, 'data-help-title':data.controls_dict['1'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['1'].min, max: data.controls_dict['1'].max, step: data.controls_dict['1'].step }, octolapseSliderValue: data.controls_dict['1'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['1'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--JPEG Compression Quality-->
                    <span data-bind="text: data.controls_dict['10291459'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10291459'].help_url, 'data-help-title':data.controls_dict['10291459'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['10291459'].min, max: data.controls_dict['10291459'].max, step: data.controls_dict['10291459'].step }, octolapseSliderValue: data.controls_dict['10291459'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['10291459'].value" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>Effects</legend>
                <div>
                    <!--Color Effects-->
                    <span data-bind="text: data.controls_dict['9963807'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963807'].help_url, 'data-help-title':data.controls_dict['9963807'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['9963807'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['9963807'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Color Effects, CbCr-->
                    <span data-bind="text: data.controls_dict['9963818'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963818'].help_url, 'data-help-title':data.controls_dict['9963818'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963818'].min, max: data.controls_dict['9963818'].max, step: data.controls_dict['9963818'].step }, octolapseSliderValue: data.controls_dict['9963818'].value, enable: data.custom_camera_viewmodel.color_effects_cb_cr_enabled" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963818'].value, visible: !data.custom_camera_viewmodel.color_effects_cb_cr_enabled()">disabled</span>
                            <span data-bind="text: data.controls_dict['9963818'].value, visible: data.custom_camera_viewmodel.color_effects_cb_cr_enabled" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>Flip/Rotate Image</legend>
                <div>
                    <!--Horizontal Flip-->
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: data.controls_dict['9963796'].checkbox_checked, attr: {title: data.controls_dict['9963796'].checkbox_title}" title="Enable or disable autofocus" /><span data-bind="text: data.controls_dict['9963796'].name"></span>&nbsp;&nbsp;
                        <a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963796'].help_url, 'data-help-title':data.controls_dict['9963796'].name}"></a>
                    </label>
                </div>
                <div>
                    <!--Vertical Flip-->
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: data.controls_dict['9963797'].checkbox_checked, attr: {title: data.controls_dict['9963797'].checkbox_title}" /><span data-bind="text: data.controls_dict['9963797'].name"></span>&nbsp;&nbsp;
                        <a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963797'].help_url, 'data-help-title':data.controls_dict['9963797'].name}"></a>
                    </label>
                </div>
                <div>
                    <!--Rotate-->
                    <span data-bind="text: data.controls_dict['9963810'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963810'].help_url, 'data-help-title':data.controls_dict['9963810'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963810'].min, max: data.controls_dict['9963810'].max, step: data.controls_dict['9963810'].step }, octolapseSliderValue: data.controls_dict['9963810'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963810'].value" />
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>Balance</legend>
                <div>
                    <!--White Balance, Auto & Preset-->
                    <span data-bind="text: data.controls_dict['10094868'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094868'].help_url, 'data-help-title':data.controls_dict['10094868'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['10094868'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['10094868'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Red Balance-->
                    <span data-bind="text: data.controls_dict['9963790'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963790'].help_url, 'data-help-title':data.controls_dict['9963790'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963790'].min, max: data.controls_dict['9963790'].max, step: data.controls_dict['9963790'].step}, disable: (data.controls_dict['10094868'].value() != '0'), octolapseSliderValue: data.controls_dict['9963790'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963790'].value, visible: (data.controls_dict['10094868'].value() == '0')" />
                            <span data-bind="visible: (data.controls_dict['10094868'].value() != '0')">Auto</span>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Blue Balance-->
                    <span data-bind="text: data.controls_dict['9963791'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963791'].help_url, 'data-help-title':data.controls_dict['9963791'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['9963791'].min, max: data.controls_dict['9963791'].max, step: data.controls_dict['9963791'].step}, disable: (data.controls_dict['10094868'].value() != '0'), octolapseSliderValue: data.controls_dict['9963791'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['9963791'].value, visible: (data.controls_dict['10094868'].value() == '0')" />
                            <span data-bind="visible: (data.controls_dict['10094868'].value() != '0')">Auto</span>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>Codec Controls</legend>
                <div>
                    <!--Video Bitrate Mode-->
                    <span data-bind="text: data.controls_dict['10029518'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10029518'].help_url, 'data-help-title':data.controls_dict['10029518'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['10029518'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['10029518'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Video Bitrate-->
                    <span data-bind="text: data.controls_dict['10029519'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10029519'].help_url, 'data-help-title':data.controls_dict['10029519'].name}"></a>
                    <div class="row-fluid">
                        <div class="span8">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['10029519'].min, max: data.controls_dict['10029519'].max, step: data.controls_dict['10029519'].step }, octolapseSliderValue: data.controls_dict['10029519'].value" />
                        </div>
                        <div class="span4">
                            <span data-bind="text: data.controls_dict['10029519'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--Repeat Sequence Header-->
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: data.controls_dict['10029538'].checkbox_checked, attr: {title: data.controls_dict['10029538'].checkbox_title}" /><span data-bind="text: data.controls_dict['10029538'].name"></span>&nbsp;&nbsp;
                        <a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10029538'].help_url, 'data-help-title':data.controls_dict['10029538'].name}"></a>
                    </label>
                </div>
                <div>
                    <!--H264 I-Frame Period-->
                    <span data-bind="text: data.controls_dict['10029670'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10029670'].help_url, 'data-help-title':data.controls_dict['10029670'].name}"></a>
                    <div class="row-fluid">
                        <div class="span8">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['10029670'].min, max: data.controls_dict['10029670'].max, step: data.controls_dict['10029670'].step }, octolapseSliderValue: data.controls_dict['10029670'].value" />
                        </div>
                        <div class="span4">
                            <span data-bind="text: data.controls_dict['10029670'].value" />
                        </div>
                    </div>
                </div>
                <div>
                    <!--H264 Level-->
                    <span data-bind="text: data.controls_dict['10029671'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10029671'].help_url, 'data-help-title':data.controls_dict['10029671'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['10029671'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['10029671'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--H264 Profile-->
                    <span data-bind="text: data.controls_dict['10029675'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10029675'].help_url, 'data-help-title':data.controls_dict['10029675'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['10029675'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['10029675'].value"></select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>Exposure</legend>
                <div>
                    <!--Scene Mode-->
                    <span data-bind="text: data.controls_dict['10094874'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094874'].help_url, 'data-help-title':data.controls_dict['10094874'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['10094874'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['10094874'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Auto Exposure-->
                    <span data-bind="text: data.controls_dict['10094849'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094849'].help_url, 'data-help-title':data.controls_dict['10094849'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="
                                        enable: data.custom_camera_viewmodel.auto_exposure_enabled,
                                        options: data.controls_dict['10094849'].get_options,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: data.controls_dict['10094849'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Exposure Time, Absolute-->
                    <span data-bind="text: data.controls_dict['10094850'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094850'].help_url, 'data-help-title':data.controls_dict['10094850'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['10094850'].min, max: 1000, step: data.controls_dict['10094850'].step}, enable: data.custom_camera_viewmodel.manual_exposure_controls_enabled, octolapseSliderValue: data.controls_dict['10094850'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['10094850'].value, visible: data.custom_camera_viewmodel.manual_exposure_controls_enabled" />
                            <span data-bind="visible: !data.custom_camera_viewmodel.manual_exposure_controls_enabled()">Auto</span>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Exposure, Dynamic Framerate-->
                    <label class="checkbox" data-bind="css: {'disabled': !data.custom_camera_viewmodel.scene_or_auto_exposure_enabled()}">
                        <input type="checkbox" data-bind="checked: data.controls_dict['10094851'].checkbox_checked, attr: {title: data.controls_dict['10094851'].checkbox_title}, enable: data.custom_camera_viewmodel.scene_or_auto_exposure_enabled" /><span data-bind="text: data.controls_dict['10094851'].name"></span>&nbsp;&nbsp;
                        <a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094851'].help_url, 'data-help-title':data.controls_dict['10094851'].name}"></a>
                    </label>
                </div>
                <div>
                    <!--Auto Exposure, Bias-->
                    <span data-bind="text: data.controls_dict['10094867'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094867'].help_url, 'data-help-title':data.controls_dict['10094867'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['10094867'].min, max: data.controls_dict['10094867'].max, step: data.controls_dict['10094867'].step}, enable: data.custom_camera_viewmodel.scene_or_auto_exposure_enabled, octolapseSliderValue: data.controls_dict['10094867'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['10094867'].value, visible: data.custom_camera_viewmodel.scene_or_auto_exposure_enabled" />
                            <span data-bind="visible: !data.custom_camera_viewmodel.scene_or_auto_exposure_enabled()">Disabled</span>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Image Stabilization-->
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: data.controls_dict['10094870'].checkbox_checked, attr: {title: data.controls_dict['10094870'].checkbox_title}" /><span data-bind="text: data.controls_dict['10094870'].name"></span>&nbsp;&nbsp;
                        <a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094870'].help_url, 'data-help-title':data.controls_dict['10094870'].name}"></a>
                    </label>
                </div>

                <div>
                    <!--ISO Sensitivity, Auto-->
                    <span data-bind="text: data.controls_dict['10094872'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094872'].help_url, 'data-help-title':data.controls_dict['10094872'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="
                                        enable: data.custom_camera_viewmodel.scene_or_auto_exposure_enabled,
                                        options: data.controls_dict['10094872'].get_options,
                                        optionsText: 'name',
                                        optionsValue: 'value',
                                        value: data.controls_dict['10094872'].value"></select>
                        </div>
                    </div>
                </div>
                <div>
                    <!--ISO Sensitivity-->
                    <span data-bind="text: data.controls_dict['10094871'].slider_label"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094871'].help_url, 'data-help-title':data.controls_dict['10094871'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <input class="octolapse-slider" type="range" data-bind="attr: {min: data.controls_dict['10094871'].min, max: data.controls_dict['10094871'].max, step: data.controls_dict['10094871'].step}, enable: data.custom_camera_viewmodel.is_sensitivity_enabled, octolapseSliderValue: data.controls_dict['10094871'].value" />
                        </div>
                        <div class="span2">
                            <span data-bind="text: data.controls_dict['10094871'].value, visible: data.custom_camera_viewmodel.is_sensitivity_enabled" />
                            <span data-bind="visible: !data.custom_camera_viewmodel.is_sensitivity_enabled()">Auto</span>
                        </div>
                    </div>
                </div>
                <div>
                    <!--Exposure, Metering Mode-->
                    <span data-bind="text: data.controls_dict['10094873'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['10094873'].help_url, 'data-help-title':data.controls_dict['10094873'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['10094873'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['10094873'].value"></select>
                        </div>
                    </div>
                </div>

            </fieldset>
        </div>
        <div class="no-column-break">
            <fieldset class="octolapse">
                <legend>Misc</legend>
                <div>
                    <!--Powerline Frequency-->
                    <span data-bind="text: data.controls_dict['9963800'].name"></span>&nbsp;&nbsp;<a class="octolapse_help" data-bind="attr: {'data-help-url':data.controls_dict['9963800'].help_url, 'data-help-title':data.controls_dict['9963800'].name}"></a>
                    <div class="row-fluid">
                        <div class="span10">
                            <select class="full-width"
                                    data-bind="options: data.controls_dict['9963800'].get_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: data.controls_dict['9963800'].value"></select>
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
    </div>
</script>
