include README.md
recursive-include octoprint_octolapse/templates *
recursive-include octoprint_octolapse/translations *
recursive-include octoprint_octolapse/static *
recursive-include octoprint_octolapse/data *
recursive-include octoprint_octolapse/data/images *
recursive-include octoprint_octolapse/data/lib/c *

include versioneer.py
include octoprint_octolapse/_version.py
