<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="printer-automatic-configuration-template">
    <div>
        <h4>Make and Model</h4>
        <p>Select your make and model so that Octolapse can automatically update your printer profile.  This list will be updated as more profiles are created, so check back if your printer isn't listed!</p>
    </div>
    <div class="control-group">
        <label class="control-label" for="printer_profile_make">Make</label>
        <div class="controls">
            <select id="printer_profile_make" data-bind="options: makes,
                               optionsText: 'name',
                               optionsValue: 'value',
                               value: make,
                               optionsCaption: 'Please select...'"></select>
            <a class="octolapse_help" data-help-url="profiles.printer.automatic_configuration.make.md" data-help-title="Make"></a>
            <div class="error_label_container text-error" data-error-for="printer_profile_make"></div>
        </div>
    </div>
    <div class="control-group" data-bind="slideVisible: make() == 'other'">
        <label class="control-label" for="printer_profile_other_make">Other Make:</label>
        <div class="controls">
            <input id="printer_profile_other_make" name="name" type="text" class="form-input ignore_hidden_errors" data-bind="value: other_make" required />
            <div class="error_label_container text-error" data-error-for="printer_profile_other_make"></div>
        </div>
    </div>
    <div class="control-group" data-bind="slideVisible:make()">
        <label class="control-label" for="printer_profile_model">Model</label>
        <div class="controls">
            <select id="printer_profile_model" data-bind="options: models,
                               optionsText: 'name',
                               optionsValue: 'value',
                               value: model,
                               optionsCaption: 'Please select...'"></select>
            <a class="octolapse_help" data-help-url="profiles.printer.automatic_configuration.model.md" data-help-title="Model"></a>
            <div class="error_label_container text-error" data-error-for="printer_profile_model"></div>
        </div>
    </div>
    <div class="control-group" data-bind="slideVisible: make() && model() == 'other'">
        <label class="control-label" for="printer_profile_other_model">Other Model:</label>
        <div class="controls">
            <input id="printer_profile_other_make" name="name" type="text" class="form-input ignore_hidden_errors" data-bind="value: other_model" required />
            <div class="error_label_container text-error" data-error-for="printer_profile_other_model"></div>
        </div>
    </div>
    <div data-bind="slideVisible:can_update_from_repo">
        <div class="control-group">
            <label class="control-label" for="printer_profile_is_custom">Customize Server Profile</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="printer_profile_is_custom" name="is_custom" type="checkbox" data-bind="checked: is_custom" title="Customize the current printer profile" />Enabled
                    <a class="octolapse_help" data-help-url="profiles.printer.automatic_configuration.is_custom.md" data-help-title="Customize Printer profile"></a>
                </label>
                <span class="help-inline">
                    Customize the server profile or view the current settings.  Prevents automatic updates.
                </span>
            </div>
        </div>
    </div>
    <div data-bind="slideVisible: automatic_changed_to_custom">
        <p><span class="label label-important">Attention</span>&nbsp;This profile is now a custom profile, which will not be updated automatically from the server.</p>
    </div>
</script>
