<script type="text/html" id="latest-snapshot-template">
  <div id="octolapse_latest_snapshot_dialog" class="latest-snapshot-modal fade hide">
          <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
          <img class="fade-in" id="octolapse_latest_snapshot"></img>
          <img id="octolapse_previous_snapshot"></img>
          <a href="#" class="cancel btn btn-primary" data-bind="click: cancelLatestSnapshotDialog">Close</a>  
  </div>
</script>
