<script type="text/html" id="printer-template">
  <div class="control-group">
    <label class="control-label">Printer Profile Name:</label>
    <div class="controls">
      <input name="name" type="text" class="input-block-level form-input" data-bind="value: name" required="True"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
      <textarea name="description" type="text" class="input-block-level" data-bind="value: description" required="false" maxlength="1024"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Retraction Length</label>
    <div class="controls">
      <div class="input-append form-inline">
        <input name="retract_length" type="number" class="input-small text-right" data-bind="value: retract_length" step="0.05" min="0.05" max="100.0" required="true" />
        <span class="add-on">mm</span>
      </div>
      <div class="error_label_container text-error" ></div>
    </div>

  </div>
  
  <div class="control-group">
    <label class="control-label">Retraction Speed</label>

    <div class="controls">
      <div class="input-append form-inline">
        <input name="retract_speed" type="number" class="input-small text-right" data-bind="value: retract_speed" step="10" min="0" max="9999999" required="true" />
        <span class="add-on">mm</span>
        <span class="add-on">min</span>
      </div>
      <div class="error_label_container text-error" ></div>
      <span class="help-inline">Use 0 mm/min to use the previous axis speed.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Detraction Speed</label>

    <div class="controls">
      <div class="input-append form-inline">
        <input name="detract_speed" type="number" class="input-small text-right" data-bind="value: detract_speed" step="10" min="0" max="9999999" required="true" />
        <span class="add-on">mm</span>
        <span class="add-on">min</span>
      </div>
      <div class="error_label_container text-error" ></div>
      <span class="help-inline">Use 0 mm/min to use the previous axis speed.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Movement Speed</label>
    <div class="controls">
      <div class="input-append form-inline">
        <input name="movement_speed" type="number" class="input-small text-right" data-bind="value: movement_speed" step="10" min="0" max="9999999" required="true" />
        <span class="add-on">mm</span>
        <span class="add-on">min</span>
      </div>
      <div class="error_label_container text-error" ></div>
      <span class="help-inline">Use 0 mm/min to use the previous axis speed.</span>
    </div>
  </div>
  
  

  <div class="control-group">
    <label class="control-label">Z-Hop Height</label>
    <div class="controls">
      <div class="input-append form-inline">
        <input name="z_hop" type="number" class="input-small text-right" data-bind="value: z_hop" step="0.05" min=".05" max="100.0" required="true" />
        <span class="add-on">mm</span>
      </div>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Z-Hop Speed</label>
    <div class="controls">
      <div class="input-append form-inline">
        <input name="z_hop_speed" type="number" class="input-small text-right" data-bind="value: z_hop_speed" step="10" min="0" max="9999999" required="true" />
        <span class="add-on">mm</span>
        <span class="add-on">min</span>
      </div>
      <div class="error_label_container text-error" ></div>
      <span class="help-inline">Use 0 mm/min to use the previous axis speed.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Printer Position Tolerance</label>
    <div class="controls">
      <div class="input-append form-inline">
        <input name="printer_position_confirmation_tolerance" type="number" class="input-small text-right" data-bind="value: printer_position_confirmation_tolerance" required="true" />
        <span class="add-on">mm</span>
      </div>
      <div class="error_label_container text-error" ></div>
      <span class="help-inline">Used when rounding values and checking for equality.  If you are unsure, please leave this alone.</span>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Snapshot Command</label>
    <div class="controls">
      <input name="snapshot_command" type="text" class="input-small text-right" data-bind="value: snapshot_command" required="true" />
      <div class="error_label_container text-error" ></div>
      
    </div>
  </div>
  
</script>



