<script type="text/html" id="latest-snapshot-template">
  <div id="octolapse_latest_snapshot_dialog" class="latest-snapshot-modal fade">
    
          <a href="#" class="close" data-dismiss="modal" aria-hidden="true">&times;</a>
          
          <img id="octolapse_previous_snapshot"></img>
          <img class="octolapse-fade-in" id="octolapse_latest_snapshot"></img>
          <a href="#" class="cancel btn btn-primary" data-bind="click: cancelLatestSnapshotDialog">Close</a>  
          
          

  </div>
</script>
