<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2017  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="printer-template">
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label" for="printer_profile_name">Name:</label>
            <div class="controls">
                <input id="printer_profile_name" name="name" type="text" class="input-block-level form-input" data-bind="value: name" required />
                <div class="error_label_container text-error" data-error-for="printer_profile_name"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="printer_profile_description">Description</label>
            <div class="controls">
                <textarea id="printer_profile_description" name="description" type="text" class="input-block-level" data-bind="value: description" maxlength="1024"></textarea>
                <div class="error_label_container text-error" data-error-for="printer_profile_description"></div>
            </div>
        </div>
    </div>
    <div data-bind="visible: !saved_by_user_flag()" class="text-warning">
        <p>You have not yet configured this printer profile.  Please select your slicer from the list below, and copy all of the settings from your slicer into this profile before using Octolapse.</p>
    </div>
    <hr />

    <div>
        <h3>Current Slicer Settings</h3>
        <p>These settings must be copied from your slicer and be kept up-to-date.  Some features of Octolapse will fail to work or will result in lower print quality if they do not match your slicer settings exactly.</p>
    </div>
        <div class="control-group">
                <label class="control-label" for="printer_profile_slicer_type">Slicer Type</label>
                <div class="controls">
                    <select id="printer_profile_slicer_type" data-bind="options: Octolapse.Printers.profileOptions.slicer_type_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: slicer_type"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#slicer-type" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_slicer_type"></div>
                </div>
        </div>
        <!-- Other Slicer Type -->
        <div data-bind="visible: slicer_type() == 'other', template:'printer-slicer-other-template'"></div>
        <div data-bind="visible: slicer_type() == 'slic3r-pe', template:'printer-slic3r-pe-template'"></div>
        <div data-bind="visible: slicer_type() == 'cura', template:'printer-cura-template'"></div>
        <div data-bind="visible: slicer_type() == 'simplify-3d', template:'printer-slicer-simplify-3d-template'"></div>
    </div>
    <div>
        <div>
            <div>
                <h4>Slicer/Octoprint Start Gcode</h4>
                <p>
                    The following settings depend on your printer's start gcode.  By default Octolapse requires certain commands to be in your starting gcode in order to properly track your printer's position and to issue stabilization commands.  Use caution when switching from 'Require Explicit' to 'Absolute' or 'Relative' modes.
                </p>
            </div>

            <div class="control-group">
                <label class="control-label" for="printer_profile_xyz_axes_default_mode">X/Y/Z Axis Mode</label>
                <div class="controls">
                    <select id="printer_profile_xyz_axes_default_mode" data-bind="options: Octolapse.Printers.profileOptions.xyz_axes_default_mode_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: xyz_axes_default_mode"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#xyz-axis-mode" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_xyz_axes_default_mode"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_e_axis_default_mode_options">E Axis Mode</label>
                <div class="controls">
                    <select id="printer_profile_e_axis_default_mode_options" data-bind="options: Octolapse.Printers.profileOptions.e_axis_default_mode_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: e_axis_default_mode"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#e-axis-mode" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_e_axis_default_mode_options"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_g90_influences_extruder_options">G90/G91 Influences Extruder</label>
                <div class="controls">
                    <select id="printer_profile_g90_influences_extruder_options" data-bind="options: Octolapse.Printers.profileOptions.g90_influences_extruder_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: g90_influences_extruder"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#g90g91-influences-extruder" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_g90_influences_extruder_options"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_units_default">Default Units</label>
                <div class="controls">
                    <select id="printer_profile_units_default" data-bind="options: Octolapse.Printers.profileOptions.units_default_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: units_default"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#default-units" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_units_default"></div>
                    <span class="help-inline">
                        <span class="label label-important">Attention</span>&nbsp;Currently octolapse does not support any units besides Millimeters and will fail if movement is detected while using Inches.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_priming_height">Priming Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_priming_height" name="priming_height" type="number" class="input-small text-right" data-bind="value: priming_height" required min="0.0" step="0.01" />
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#priming-height" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_priming_height"></div>
                    <span class="help-inline">Some start gcode is configured to prime quite far from the printer bed.  This setting will prevent layer detection until extrusion is detected BELOW a current height.  If the 'Position State' info panel displays a current layer height that is higher than you expect, and no snapshots are being taken, you may need to adjust this setting.  Set to 0 to turn off.</span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <h4>Automatic Position Detection</h4>
            <p>In order to take snapshots, Octolapse needs to know the location of each axis.  Providing a home position, either manually or through auto-discovery, will allow Octolapse to start taking snapshots immediately after a home command is sent to the printer.  If <i>Auto-Detect Home Position</i> is not enabled, and an absolute home position is not supplied, Octolapse will monitor the GCode in order to to discover the current absolute position.</p>
        </div>

        <div class="control-group">
            <label class="control-label" for="printer_profile_auto_detect_position">Auto-Detect Position</label>
            <div class="controls">
                <label class="checkbox">
                    <input id="printer_profile_auto_detect_position" name="auto_detect_position" type="checkbox" data-bind="checked: auto_detect_position" title="Auto-detect the current position after receiving a home command" />Enabled
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#auto-detect-position" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </label>
                <span class="help-inline">
                    Setting this option to true causes Octolapse request a position (M114) after receiving a home/mesh bed leveling command (G28, G29).
                </span>
            </div>
        </div>
        <div data-bind="visible:auto_detect_position">
            <div class="control-group">
                <label class="control-label" for="printer_profile_auto_position_detection_commands">Additional location detection commands</label>
                <div class="controls">
                    <span class="input-append">
                        <input id="printer_profile_auto_position_detection_commands" name="auto_position_detection_commands" type="text" class="ignore_hidden_errors" data-bind="value: auto_position_detection_commands" />
                        <span class="add-on">csv</span>
                    </span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#additional-location-detection-commands" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>

                    <div class="error_label_container text-error" data-error-for="printer_profile_auto_position_detection_commands"></div>
                    <span class="help-inline">Provide a comma separated list of commands require position detection.  For example, the MK2 and MK3 use G80 for mesh bed leveling, so that command should be listed for those printers.  You do not need to include G28,or G29 in the list.</span>
                </div>
            </div>
        </div>
        <div data-bind="visible:!auto_detect_position()">
            <p class="help-inline">Enter the known origin for each of the three axes, or leave them blank to force Octolapse to search for absolute movement.</p>
            <div class="control-group">
                <label class="control-label" for="printer_profile_origin_x">X Origin</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_origin_x" name="origin_x" type="number" class="input-small text-right" data-bind="value: origin_x" step="any" />
                        <span class="add-on">mm</span>
                    </div>
                    <div class="error_label_container text-error" data-error-for="printer_profile_origin_x"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="printer_profile_origin_y">Y Origin</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_origin_y" name="origin_y" type="number" class="input-small text-right" data-bind="value: origin_y" step="any" />
                        <span class="add-on">mm</span>
                    </div>
                    <div class="error_label_container text-error" data-error-for="printer_profile_origin_y"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="printer_profile_origin_z">Z Origin</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_origin_z" name="origin_z" type="number" class="input-small text-right" data-bind="value: origin_z" step="any" />
                        <span class="add-on">mm</span>
                    </div>
                    <div class="error_label_container text-error" data-error-for="printer_profile_origin_z"></div>
                </div>
            </div>

        </div>
    </div>
    <hr />
    <div>
        <div>
            <h4>Print Volume</h4>
            <p>If you want to specify a custom volume, you may do so below.  Any values entered here will be used instead of Octoprint's printer profile.  All snapshot positions must be within the print volume, else they will be skipped.</p>
        </div>
        <div class="control-group">
            <label class="control-label" for="auto_detect_position">Override Octoprint Printer Profile</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="auto_detect_position" type="checkbox" data-bind="checked: override_octoprint_print_volume" title="Uses the bed sizes from the Octoprint printer profiles." />Enabled
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#override-octoprint-printer-profile" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </label>
                <span class="help-inline">
                    When enabled the print volume within your current Octoprint Printer Profile will be overridden.  This does not affect the function of Octoprint, only the Octolapse plugin.
                </span>
            </div>
        </div>
        <div class="control-group" data-bind="visible:override_octoprint_print_volume">
            <label class="control-label" for="octolapse_printer_min_x">X - Width</label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="input-prepend input-append">
                            <span class="add-on">Min</span>
                            <input id="octolapse_printer_min_x" name="min_x" type="number" class="input-small ignore_hidden_errors text-right" data-bind="value: min_x" step="any" required />
                            <span class="add-on">mm</span>
                            <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#override-octoprint-printer-profile" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        </div>
                        <div class="error_label_container text-error" data-error-for="octolapse_printer_min_x"></div>
                    </div>
                    <div class="span6">
                        <div class="input-prepend input-append">
                            <span class="add-on">Max</span>
                            <input id="octolapse_printer_max_x" name="max_x" type="number" class="input-small ignore_hidden_errors  text-right" data-bind="value: max_x" step="any" required />
                            <span class="add-on">mm</span>
                        </div>
                        <div class="error_label_container text-error" data-error-for="octolapse_printer_max_x"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group" data-bind="visible:override_octoprint_print_volume">
            <label class="control-label" for="octolapse_printer_min_y">Y - Depth</label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="input-prepend input-append">
                            <span class="add-on">Min</span>
                            <input id="octolapse_printer_min_y" name="min_y" type="number" class="input-small ignore_hidden_errors text-right" data-bind="value: min_y" step="any" required />
                            <span class="add-on">mm</span>
                        </div>
                        <div class="error_label_container text-error" data-error-for="octolapse_printer_min_y"></div>
                    </div>
                    <div class="span6">
                        <div class="input-prepend input-append">
                            <span class="add-on">Max</span>
                            <input id="octolapse_printer_max_y" name="max_y" type="number" class="input-small ignore_hidden_errors text-right" data-bind="value: max_y" step="any" required />
                            <span class="add-on">mm</span>
                        </div>
                        <div class="error_label_container text-error" data-error-for="octolapse_printer_max_y"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group" data-bind="visible:override_octoprint_print_volume">
            <label class="control-label" for="octolapse_printer_min_z">Z - Height</label>
            <div class="controls">
                <div class="row-fluid">
                    <div class="span6">
                        <div class="input-prepend input-append">
                            <span class="add-on">Min</span>
                            <input id="octolapse_printer_min_z" name="min_z" type="number" class="input-small ignore_hidden_errors  text-right" data-bind="value: min_z" step="any" required />
                            <span class="add-on">mm</span>
                        </div>
                        <div class="error_label_container text-error" data-error-for="octolapse_printer_min_z"></div>
                    </div>
                    <div class="span6">
                        <div class="input-prepend input-append">
                            <span class="add-on">Max</span>
                            <input id="octolapse_printer_max_z" name="max_z" type="number" class="input-small ignore_hidden_errors  text-right" data-bind="value: max_z" step="any" required />
                            <span class="add-on">mm</span>
                        </div>
                        <div class="error_label_container text-error" data-error-for="octolapse_printer_max_z"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="abort_out_of_bounds">Abort Snapshot When Out-Of-Bounds</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="abort_out_of_bounds" type="checkbox" data-bind="checked: abort_out_of_bounds" title="Abort snapshots when the position is out-of-bounds" />Enabled <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#abort-snapshot-when-out-of-bounds" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </label>
                <span class="help-inline">When enabled snapshots will be aborted if the snapshot position is out of bounds.  When disabled the closest in-bounds position will be used.  In either case an out-of-bounds error popup will display to let you know an error occurred.</span>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <h4>Miscellaneous Settings</h4>
        </div>
        <div class="control-group">
            <label class="control-label" for="printer_profile_printer_position_confirmation_tolerance">Printer Position Tolerance</label>
            <div class="controls">
                <div class="input-append form-inline">
                    <input id="printer_profile_printer_position_confirmation_tolerance" name="printer_position_confirmation_tolerance" type="number" class="input-small text-right" data-bind="value: printer_position_confirmation_tolerance" required step="any" min="0" />
                    <span class="add-on">mm</span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#printer-position-tolerance" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </div>
                <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#printer-position-tolerance" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                <div class="error_label_container text-error" data-error-for="printer_profile_printer_position_confirmation_tolerance"></div>
                <span class="help-inline">Used when rounding values and checking for equality.  If you are unsure, please leave this alone.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="printer_profile_snapshot_command">Snapshot Command</label>
            <div class="controls">
                <input id="printer_profile_snapshot_command" name="snapshot_command" type="text" class="input-small text-right" data-bind="value: snapshot_command" required />
                <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#snapshot-command" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                <div class="error_label_container text-error" data-error-for="printer_profile_snapshot_command"></div>
                <span class="help-inline">This custom command can be used in conjunction with the gcode trigger to initiate a snapshot.  All comments will be stripped from the command entered here after saving.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="suppress_snapshot_command_always">Suppress Snapshot Command When Disabled</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="suppress_snapshot_command_always" type="checkbox" data-bind="checked: suppress_snapshot_command_always" title="Abort snapshots when the position is out-of-bounds" />Enabled
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#suppress-snapshot-command-when-disabled" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </label>
                <span class="help-inline">When checked, Octolapse will prevent the snapshot command above from being sent to the printer even when Octolapse it is disabled.</span>
            </div>
        </div>

        <div class="control-group">
            <label class="control-label" for="default_firmware_retractions">Use Retraction/Detraction settings for Firmware Retract/Detract</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="default_firmware_retractions" type="checkbox" data-bind="checked: default_firmware_retractions" title="Use Retraction/Detraction settings for Firmware Retract/Detract" />Enabled
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#use-retractiondetraction-settings-for-firmware-retractdetract" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </label>
                <span class="help-inline">When enabled Octolapse will assume that your firmware is set to use the same retraction/detraction settings (except z-lift) as your Octolapse profile.  It is always a good idea to include an M207 and or M208 in your start gcode if you are using firmware retract/detract so that Octolapse knows what values to use when tracking position.</span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="default_firmware_retractions_zhop">Use Z-Hop (Z-Lift) settings for Firmware Retract/Detract</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="default_firmware_retractions_zhop" type="checkbox" data-bind="checked: default_firmware_retractions_zhop" title="Use Retraction/Detraction settings for Firmware Retract/Detract" />Enabled
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#use-z-hop-z-lift-settings-for-firmware-retractdetract" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </label>
                <span class="help-inline">When enabled Octolapse will assume that your firmware is set to use the same zlift value for retraction/detraction settings as your Octolapse profile.  It is always a good idea to include an M207 and or M208 in your start gcode if you are using firmware retract/detract so that Octolapse knows what values to use when tracking position.</span>
                <p>
                    <span class="label label-important">Attention</span>  Enable this setting ONLY if you are using firmware zlift!  If your gcode is performing zlift manually (g0/g1) using absolute coordinates, your nozzle may crash into your part.  When in doubt, leave this unchecked!.
                </p>
            </div>
        </div>
    </div>

</script>


{% include "octolapse_profiles_printer_slicer_other.jinja2" %}
{% include "octolapse_profiles_printer_slicer_slic3r_pe.jinja2" %}
{% include "octolapse_profiles_printer_slicer_cura.jinja2" %}
{% include "octolapse_profiles_printer_slicer_simplify3d.jinja2" %}


