<script type="text/html" id="trigger-status-template">

  <div class="text-center octolapse-icon-container">
    <div class="row-fluid">
      <span class="span12">Template Trigger</span>
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:triggerStateText}">
        <i class="fa fa-square fa-stack-2x" data-bind="css:triggerBackgroundIconClass"></i>
        <i class="fa fa-print fa-1x fa-stack-1x" data-bind="css:triggerIconClass"></i>
      </span>
      <span class="span4 fa-stack fa-2x" title="Trigger Count">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-camera fa-stack-1x bg-trigger-count">
        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-count" data-bind ="text:Octolapse.ToCompactInt(TriggeredCount())"></p>
        </i>
      </span>
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:getInfoText}">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-info-circle fa-lg fa-stack-1x bg-trigger-info">

        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-info" data-bind ="text:getInfoIconText"></p>
        </i>
      </span>
      <span class="span12" data-bind="text:triggerStateText"></span>
    </div>
  </div>

</script>
<script type="text/html" id="gcode-trigger-status-template">
  <div class="text-center  margin-small">
    <span>GCode</span>
    <div class="row-fluid">

      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:triggerStateText}">
        <i class="fa fa-square fa-stack-2x" data-bind="css:triggerBackgroundIconClass"></i>
        <i class="fa fa-print fa-1x fa-stack-1x" data-bind="css:triggerIconClass"></i>
      </span>
      <span class="span4 fa-stack fa-2x" title="Trigger Count">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-camera fa-stack-1x bg-trigger-count">
        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-count" data-bind ="text:Octolapse.ToCompactInt(TriggeredCount())"></p>
        </i>
      </span>
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:getInfoText}">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-info-circle fa-lg fa-stack-1x bg-trigger-info">

        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center gcode-triggered-info" data-bind ="text:SnapshotCommand"></p>
        </i>
      </span>
      <span class="span12 icon-text-2" data-bind="text:triggerStateText"></span>
    </div>
  </div>
</script>
<script type="text/html" id="layer-trigger-status-template">

  <div class="text-center margin-small">
    <span>Layer Trigger</span>
    <div class="row-fluid">
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:triggerStateText}">
        <i class="fa fa-square fa-stack-2x" data-bind="css:triggerBackgroundIconClass"></i>
        <i class="fa fa-arrows-v fa-1x fa-stack-1x" data-bind="css:triggerIconClass"></i>
      </span>
      <span class="span4 fa-stack fa-2x" title="Trigger Count">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-camera fa-stack-1x bg-trigger-count">
        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-count" data-bind ="text:Octolapse.ToCompactInt(TriggeredCount())"></p>
        </i>
      </span>
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:getInfoText}">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-info-circle fa-lg fa-stack-1x bg-trigger-info">

        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-info" data-bind="text:getInfoIconText"></p>
        </i>
      </span>
      <span class="span12 icon-text-2" data-bind="text:triggerStateText"></span>
    </div>
  </div>

</script>
<script type="text/html" id="timer-trigger-status-template">

  <div class="text-center  margin-small">
    <span>Timer</span>
    <div class="row-fluid">
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:triggerStateText}">
        <i class="fa fa-square fa-stack-2x" data-bind="css:triggerBackgroundIconClass"></i>
        <i class="fa fa-clock-o fa-1x fa-stack-1x" data-bind="css:triggerIconClass"></i>
      </span>
      <span class="span4 fa-stack fa-2x" title="Trigger Count">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-camera fa-stack-1x bg-trigger-count">
        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-count" data-bind ="text:Octolapse.ToCompactInt(TriggeredCount())"></p>
        </i>
      </span>
      <span class="span4 fa-stack fa-2x" data-bind="attr:{title:getInfoText}">
        <i class="fa fa-square fa-stack-2x"></i>
        <i class="fa fa-info-circle fa-lg fa-stack-1x bg-trigger-info">

        </i>
        <i class="fa fa-stack-1x">
          <p class="text-center triggered-info" data-bind ="text:Octolapse.ToTimer(SecondsToTrigger())"></p>
        </i>


      </span>
      <span class="span12 icon-text-2" data-bind="text:triggerStateText"></span>
    </div>
  </div>

</script>




