<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="stabilization-template">
    <input type="hidden" data-bind="value : guid" />

    <div>
        <div>
            <h4>stabilization Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input id="octolapse_stabilization_name" name="octolapse_stabilization_name"
                       class="input-block-level form-input"
                       data-bind="value: name"
                       type="text"
                />
                <div class="error_label_container text-error" data-error-for="octolapse_stabilization_name"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>

            <div class="controls">
                <textarea id="octolapse_stabilization_description" name="octolapse_stabilization_description"
                          class="input-block-level"
                          data-bind="textInput: description"
                          type="text" maxlength="1024"></textarea>
                <div class="error_label_container text-error" data-error-for="octolapse_stabilization_description"></div>
            </div>

        </div>

    </div>

    <div data-bind="template: {name:'octolapse-profile-library-test-template', data: automatic_configuration}"></div>
    <div data-bind="slideVisible: !automatic_configuration.updating_from_server()">
        <hr/>
        <div>
            <div>
                <h5>X Axis Stabilization</h5>
                <p>Controls the X axis stabilizations, which is the position on the X axis where the bed/extruder will be when we take a snapshot.</p>
            </div>
            <div class="control-group">
                <label class="control-label">X Stabilization Type</label>
                <div class="controls">
                    <select id="octolapse_stabilization_x_type" name="octolapse_stabilization_x_type"
                            class="ignore_hidden_errors"
                            data-bind="options: Octolapse.Stabilizations.profileOptions.real_time_xy_stabilization_type_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: x_type"></select>
                    <a class="octolapse_help" data-help-url="profiles.stabilization.x_type.md" data-help-title="X Stabilization Type"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_x_type"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'fixed_coordinate'">
                <label class="control-label">Fixed Coordinate</label>
                <div class="controls">
                    <div class="input-append">
                        <input id="octolapse_stabilization_x_fixed_coordinate" name="octolapse_stabilization_x_fixed_coordinate"
                               class="input-small ignore_hidden_errors"
                               data-bind="value: x_fixed_coordinate"
                               type="text"/>
                        <span class="add-on">mm</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_fixed_coordinate.md" data-help-title="X Fixed Coordinate"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_x_fixed_coordinate"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'fixed_path'">
                <label class="control-label">Fixed Path</label>
                <div class="controls">
                    <div class="input-append input-block-level">
                        <input id="octolapse_stabilization_x_fixed_path" name="octolapse_stabilization_x_fixed_path"
                               class="input-block-level ignore_hidden_errors"
                               data-bind="value: x_fixed_path"
                               type="text"
                        />
                        <span class="add-on">mm</span>
                        <span class="add-on">csv</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_fixed_path.md" data-help-title="X Fixed Path"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_x_fixed_path"></div>
                    <span class="help-inline">Provide a list of fixed coordinates separated by commas</span>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'fixed_path'">
                <label class="control-label">Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_x_fixed_path_loop" name="octolapse_stabilization_x_fixed_path_loop"
                               type="checkbox"
                               data-bind="checked: x_fixed_path_loop"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_fixed_path_loop.md" data-help-title="X Fixed Path Loop"></a>
                    </label>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'fixed_path' && x_fixed_path_loop()">
                <label class="control-label">Invert Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_x_fixed_path_invert_loop" name="octolapse_stabilization_x_fixed_path_invert_loop"
                               data-bind="checked: x_fixed_path_invert_loop"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_fixed_path_invert_loop.md" data-help-title="X Fixed Path Invert Loop"></a>
                    </label>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'relative'">
                <label class="control-label">Relative Coordinate</label>
                <div class="controls">
                    <div class="input-append">
                        <input id="octolapse_stabilization_x_relative" name="octolapse_stabilization_x_relative"
                               class="input-small form-input ignore_hidden_errors "
                               data-bind="value: x_relative"
                               type="text"
                        />
                        <span class="add-on">%</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_relative.md" data-help-title="X Relative Coordinate"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_x_relative"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'relative_path'">
                <label class="control-label">Relative Path</label>
                <div class="controls">
                    <div class="input-append input-block-level">
                        <input id="octolapse_stabilization_x_relative_path" name="octolapse_stabilization_x_relative_path"
                               class="input-block-level ignore_hidden_errors"
                               data-bind="value: x_relative_path"
                               type="text"
                        />
                        <span class="add-on">%</span>
                        <span class="add-on">csv</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_relative_path.md" data-help-title="X Relative Path"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_x_relative_path"></div>
                    <span class="help-inline">Provide a list of relative coordinates separated by commas</span>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'relative_path'">
                <label class="control-label">Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_x_relative_path_loop" name="octolapse_stabilization_x_relative_path_loop"
                               data-bind="checked: x_relative_path_loop"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_relative_path_loop.md" data-help-title="X Relative Path Loop"></a>
                    </label>
                </div>
            </div>
            <div class="control-group" data-bind="visible: x_type() === 'relative_path' && x_relative_path_loop()">
                <label class="control-label">Invert Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_x_relative_path_invert_loop" name="octolapse_stabilization_x_relative_path_invert_loop"
                               data-bind="checked: x_relative_path_invert_loop"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.x_relative_path_invert_loop.md" data-help-title="X Relative Path Invert Loop"></a>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <div>
                <h5>Y Axis Stabilization</h5>
                <p>Controls the Y axis stabilizations, which is the position on the Y axis where the bed/extruder will be when we take a snapshot.</p>
            </div>
            <div class="control-group">
                <label class="control-label">Y Stabilization Type</label>
                <div class="controls">
                    <select id="octolapse_stabilization_y_type" name="octolapse_stabilization_y_type"
                            class="ignore_hidden_errors"
                            data-bind="options: Octolapse.Stabilizations.profileOptions.real_time_xy_stabilization_type_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: y_type"></select>
                    <a class="octolapse_help" data-help-url="profiles.stabilization.y_type.md" data-help-title="Y Stabilization Type"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_y_type"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'fixed_coordinate'">
                <label class="control-label">Fixed Coordinate</label>
                <div class="controls">
                    <div class="input-append">
                        <input id="octolapse_stabilization_y_fixed_coordinate" name="octolapse_stabilization_y_fixed_coordinate"
                               class="input-small ignore_hidden_errors"
                               data-bind="value: y_fixed_coordinate"
                               type="text"
                        />
                        <span class="add-on">mm</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_fixed_coordinate.md" data-help-title="Y Fixed Coordinate"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_y_fixed_coordinate"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'fixed_path'">
                <label class="control-label">Fixed Path</label>
                <div class="controls">
                    <div class="input-append input-block-level">
                        <input id="octolapse_stabilization_y_fixed_path" name="octolapse_stabilization_y_fixed_path"
                               class="input-block-level ignore_hidden_errors"
                               data-bind="value: y_fixed_path"
                               type="text"
                        />
                        <span class="add-on">mm</span>
                        <span class="add-on">csv</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_fixed_path.md" data-help-title="Y Fixed Path"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_y_fixed_path"></div>
                    <span class="help-inline">Provide a list of fixed coordinates separated by commas</span>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'fixed_path'">
                <label class="control-label">Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_y_fixed_path_loop" name="octolapse_stabilization_y_fixed_path_loop" type="checkbox" data-bind="checked: y_fixed_path_loop" />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_fixed_path_loop.md" data-help-title="Y Fixed Path Loop"></a>
                    </label>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'fixed_path' && y_fixed_path_loop() ">
                <label class="control-label">Invert Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_y_fixed_path_invert_loop" name="octolapse_stabilization_y_fixed_path_invert_loop"
                               data-bind="checked: y_fixed_path_invert_loop"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_fixed_path_invert_loop.md" data-help-title="Y Fixed Path Invert Loop"></a>
                    </label>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'relative'">
                <label class="control-label">Relative Coordinate</label>
                <div class="controls">
                    <div class="input-append">
                        <input id="octolapse_stabilization_y_relative" name="octolapse_stabilization_y_relative"
                               class="input-small ignore_hidden_errors"
                               data-bind="value: y_relative"
                               type="text"
                        />
                        <span class="add-on">%</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_relative.md" data-help-title="Y Relative Coordinate"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_y_relative"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'relative_path'">
                <label class="control-label">Relative Path</label>
                <div class="controls">
                    <div class="input-append input-block-level">
                        <input id="octolapse_stabilization_y_relative_path" name="octolapse_stabilization_y_relative_path"
                               class="input-block-level ignore_hidden_errors"
                               data-bind="value: y_relative_path"
                               type="text"
                        />
                        <span class="add-on">%</span>
                        <span class="add-on">csv</span>
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_relative_path.md" data-help-title="Y Relative Path"></a>
                    </div>
                    <div class="error_label_container text-error" data-error-for="octolapse_stabilization_y_relative_path"></div>
                    <span class="help-inline">Provide a list of relative coordinates separated by commas</span>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'relative_path'">
                <label class="control-label">Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_y_relative_path_loop" name="octolapse_stabilization_y_relative_path_loop"
                               data-bind="checked: y_relative_path_loop"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_relative_path_loop.md" data-help-title="Y Relative Path Loop"></a>
                    </label>
                </div>
            </div>
            <div class="control-group" data-bind="visible: y_type() === 'relative_path' && y_relative_path_loop()">
                <label class="control-label">Invert Loop</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_y_relative_path_invert_loop" name="y_relative_path_invert_loop"
                               data-bind="checked: y_relative_path_invert_loop"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.y_relative_path_invert_loop.md" data-help-title="Y Relative Path Invert Loop"></a>
                    </label>
                </div>
            </div>
        </div>
        <div>
            <a data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#advanced-stabilization-settings.hide'}"><i class="fa fa-no-shadow fa-caret-right"></i>&nbsp;Advanced Settings</a>
            <div id="advanced-stabilization-settings" class="control-group hide">
                <label class="control-label">Wait for Moves To Finish</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_stabilization_wait_for_moves_to_finish" name="octolapse_stabilization_wait_for_moves_to_finish"
                               data-bind="checked: wait_for_moves_to_finish"
                               type="checkbox"
                        />Enabled
                        <a class="octolapse_help" data-help-url="profiles.stabilization.wait_for_moves_to_finish.md" data-help-title="Wait For Moves To Finish"></a>
                    </label>
                    <span class="help-inline">
                        <span class="label label-important">Important</span>&nbsp;This is a beta feature, use at your own risk!  Disabling this option will result in a destabilized timelapse, similar to the stock Octoprint timelapse.  Octolapse will not retract, lift, or travel to the stabilization point when this option is enabled.  Additionally, any before/after snapshot scripts will be executed asynchronously when this option is disabled.
                        </span>
                </div>
            </div>
        </div>
    </div>
</script>



