<form class="form-horizontal" >
  <div id="octolapse_settings">
    <div data-bind="with: global_settings.settings.plugins.octolapse">
      <div class="well">
        <h3>Octolapse Settings</h3>
      </div>
      <span class="help-inline">
        <span class="label label-important">USE AT YOUR OWN RISK</span> Using this could (and probably will) break your printer.  It's experimental and free, so don't blame me!
      </span>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: is_octolapse_enabled" title="Enable or disable the plugin"/>Enable Octolapse
          </label>
        </div>
      </div>
      <div data-bind="visible: is_octolapse_enabled">
        <div id="printer_profiles" class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="span4 text-right">
                <span class="text-info">Active Printer Profile</span>
              </div>
              <div class="span4">
                <select name="current_printer_guid" data-bind="foreach: printers, value: current_printer_guid">
                  <option data-bind="text:name, value:guid"></option>
                </select>
              </div>
              <div class="span4 text-right">
                <div id="printer_profile_controls" class="toggle-off">
                  <button class="btn pull-right" data-bind="click: function() { $root.copyCurrentPrinter(); }">Copy</button>
                  <button class="btn pull-right" data-bind="click: function() { $root.resetCurrentPrinter(); }">Defaults</button>
                  <a title="Delete Printer" class="btn btn-danger pull-right"  data-bind="click: function() { $root.removeCurrentPrinter(); }">
                    <i class="icon-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div>
              <button class="btn btn-default input-block-level toggle " type="button" data-toggle='{"elements": [{"selector": "#octolapse_settings #printer_settings_toggle","onClass": "fa-caret-down","offClass": "fa-caret-right"},{"selector": "#octolapse_settings #printers","onClass": "toggle-on","offClass": "toggle-off"},{"selector": "#octolapse_settings #printer_profile_controls","onClass": "toggle-on","offClass": "toggle-off"}]}'>
                <i class="fa icon-black icon-print"></i>&nbsp;Printer Settings&nbsp;<i id="printer_settings_toggle" class="toggle-caret fa icon-black fa-caret-right"></i>
              </button>
            </div>
            <div id="printers" data-bind="foreach:printers" class="settings toggle-off">
              <div data-bind="visible: guid() == $parent.current_printer_guid()">
                <input type="hidden"  data-bind="value : guid" />
                <div class="control-group">
                  <label class="control-label">Printer Profile Name</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: name"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Retraction Length</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: retract_length"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Retraction Speed</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: retract_speed"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Movement Speed</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: movement_speed"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Z-Hop</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: z_hop"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Snapshot Command</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: snapshot_command"/>
                  </div>
                </div>
                <div class="control-group">
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox" data-bind="checked: is_e_relative"/>Extruder is always relative
                    </label>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Minimum Z-Height Before position tracking begins</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: z_min"/>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="stabilization_profiles" class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="span4 text-right">
                <span class="text-info">Active Stabilization Profile</span>
              </div>
              <div class="span4">
                <select name="current_stabilization_guid" data-bind="foreach: stabilizations, value: current_stabilization_guid">
                  <option data-bind="text:name, value:guid"></option>
                </select>
              </div>
              <div class="span4 text-right">
                <div id="stabilization_profile_controls" class="toggle-off" >
                  <button class="btn pull-right" data-bind="click: function() { $root.copyCurrentStabilization(); }">Copy</button>
                  <button class="btn pull-right" data-bind="click: function() { $root.resetCurrentStabilization(); }">Defaults</button>
                  <a title="Delete Stabilization" class="btn btn-danger pull-right"  data-bind="click: function() { $root.removeCurrentStabilization(); }">
                    <i class="icon-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="span12">
                <button class="btn btn-default input-block-level toggle " type="button" data-toggle='{"elements": [{"selector": "#octolapse_settings #stabilization_settings_toggle","onClass": "fa-caret-down","offClass": "fa-caret-right"},{"selector": "#octolapse_settings #stabilizations","onClass": "toggle-on","offClass": "toggle-off"},{"selector": "#octolapse_settings #stabilization_profile_controls","onClass": "toggle-on","offClass": "toggle-off"}]}'>
                  <i class="fa icon-black icon-print"></i>&nbsp;Stabilization Settings&nbsp;<i id="stabilization_settings_toggle" class="toggle-caret fa icon-black fa-caret-right"></i>
                </button>
              </div>
            </div>
            <div id="stabilizations" data-bind="foreach:stabilizations" class="settings toggle-off row">
              <div class="span12">
                <div data-bind="visible: guid() == $parent.current_stabilization_guid()">
                  <input type="hidden"  data-bind="value : guid" />
                  <div class="control-group">
                    <label class="control-label">Profile Name</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: name"/>
                    </div>
                  </div>
                  <div id="octolapse_stabilization_x">
                    <h4>X-Stabilization Options</h4>

                    <div class="control-group">
                      <label class="control-label">Stabilization Type</label>
                      <div class="controls">
                        <select data-bind="options: $parent.stabilization_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   optionsCaption: 'Select One...',
                                   value: x_type"></select>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: x_type() === 'fixed_coordinate'">
                      <label class="control-label">Fixed Coordinate</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: x_fixed_coordinate"/>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: x_type() === 'fixed_path'">
                      <label class="control-label">Fixed Path</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: x_fixed_path"/>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: x_fixed_path_loop" />Loop
                        </label>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: x_type() === 'relative'">
                      <label class="control-label">Relative Coordinate</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: x_relative"/>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: x_type() === 'relative_path'">
                      <label class="control-label">Relative Path</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: x_relative_path"/>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: x_relative_path_loop" />Loop
                        </label>
                      </div>
                    </div>
                  </div>
                  <div id="octolapse_stabilization_y">
                    <h4>Y-Stabilization Options</h4>
                    <div class="control-group">
                      <label class="control-label">Stabilization Type</label>
                      <div class="controls">
                        <select data-bind="options: $parent.stabilization_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   optionsCaption: 'Select One...',
                                   value: y_type"></select>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: y_type() === 'fixed_coordinate'">
                      <label class="control-label">Fixed Coordinate</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: y_fixed_coordinate"/>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: y_type() === 'fixed_path'">
                      <label class="control-label">Fixed Path</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: y_fixed_path"/>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: y_fixed_path_loop" />Loop
                        </label>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: y_type() === 'relative'">
                      <label class="control-label">Relative Coordinate</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: y_relative"/>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: y_type() === 'relative_path'">
                      <label class="control-label">Relative Path</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: y_relative_path"/>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: y_relative_path_loop" />Loop
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


        </div>
        <div id="snapshot_profiles" class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="span4 text-right">
                <span class="text-info">Active Snapshot Profile</span>
              </div>
              <div class="span4">
                <select name="current_snapshot_guid" data-bind="foreach: snapshots, value: current_snapshot_guid">
                  <option data-bind="text:name, value:guid"></option>
                </select>
              </div>
              <div class="span4 text-right">
                <div id="snapshot_profile_controls" class="toggle-off" >
                  <button class="btn pull-right" data-bind="click: function() { $root.copyCurrentSnapshot(); }">Copy</button>
                  <button class="btn pull-right" data-bind="click: function() { $root.resetCurrentSnapshot(); }">Defaults</button>
                  <a title="Delete Snapshot" class="btn btn-danger pull-right"  data-bind="click: function() { $root.removeCurrentSnapshot(); }">
                    <i class="icon-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div>
              <button class="btn btn-default input-block-level toggle " type="button" data-toggle='{"elements": [{"selector": "#octolapse_settings #snapshot_settings_toggle","onClass": "fa-caret-down","offClass": "fa-caret-right"},{"selector": "#octolapse_settings #snapshots","onClass": "toggle-on","offClass": "toggle-off"},{"selector": "#octolapse_settings #snapshot_profile_controls","onClass": "toggle-on","offClass": "toggle-off"}]}'>
                <i class="fa icon-black icon-print"></i>&nbsp;Snapshot Settings&nbsp;<i id="snapshot_settings_toggle" class="toggle-caret fa icon-black fa-caret-right"></i>
              </button>
            </div>
            <div id="snapshots" data-bind="foreach:snapshots" class="settings toggle-off">
              <div id="octolapse_active_snapshot"  data-bind="visible: guid() == $parent.current_snapshot_guid()">
                <input type="hidden"  data-bind="value : guid" />
                <div class="control-group">
                  <label class="control-label">Snapshot Profile Name</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: name"/>
                  </div>
                </div>
                <div>
                  <label class="control-label">Snapshot On Gcode</label>
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: gcode_trigger_enabled" />Enabled
                      </label>
                    </div>
                  </div>
                  <div class="control-group" data-bind="visible: gcode_trigger_enabled">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: gcode_trigger_require_zhop" />Trigger only on ZHop
                      </label>
                    </div>
                  </div>
                  <div class="control-group" data-bind="visible: gcode_trigger_enabled">
                    <div class="controls">
                      <small>
                        <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_gcode_advanced.hide' }">
                          <i class="fa fa-caret-right"></i> {{ _('Advanced Gcode Trigger Options') }}
                        </a>
                      </small>
                    </div>

                    <div id="trigger_gcode_advanced" class="hide">
                      <div class="control-group">
                        <div class="controls">
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: gcode_trigger_on_extruding" />Trigger On Extruding
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: gcode_trigger_on_extruding_start" />Trigger On Extruding Start
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: gcode_trigger_on_primed"/>Trigger On Extruder Primed
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: gcode_trigger_on_retracting" />Trigger On Filament Retract
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: gcode_trigger_on_retracted" />Trigger On Filament Retracted
                          </label>
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: gcode_trigger_on_detracting" />Trigger On Filament Detracting
                          </label>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
                <div>
                  <label class="control-label">Timer Trigger:</label>
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: timer_trigger_enabled" />Enabled
                      </label>
                    </div>
                    <div class="control-group" data-bind="visible: timer_trigger_enabled">
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_require_zhop" />Trigger only on ZHop
                        </label>
                      </div>
                    </div>
                    <div class="control-group" data-bind="visible: timer_trigger_enabled">
                      <label class="control-label">Seconds to Trigger</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: timer_trigger_seconds"/>
                        <small>
                          <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_timer_advanced.hide' }">
                            <i class="fa fa-caret-right"></i> {{ _('Advanced Timer Trigger Options') }}
                          </a>
                        </small>
                      </div>
                    </div>
                  </div>
                  <div id="trigger_timer_advanced" class="hide">
                    <div class="control-group">
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_on_extruding" />Trigger On Extruding
                        </label>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_on_extruding_start" />Trigger On Extruding Start
                        </label>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_on_primed"/>Trigger On Extruder Primed
                        </label>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_on_retracting" />Trigger On Filament Retract
                        </label>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_on_retracted" />Trigger On Filament Retracted
                        </label>
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: timer_trigger_on_detracting" />Trigger On Filament Detracting
                        </label>
                      </div>
                    </div>
                  </div>
                </div>
                <div>
                  <label class="control-label">Layer/Height Trigger:</label>
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_enabled" />Enabled
                      </label>
                    </div>
                    <div class="control-group" data-bind="visible: layer_trigger_enabled">
                      <div class="control-group">
                        <label class="control-label">Trigger Height (0 for trigger at layer change)</label>
                        <div class="controls">
                          <input type="text" class="input-block-level" data-bind="value: layer_trigger_height"/>
                        </div>
                      </div>
                      <div class="control-group">
                        <div class="controls">
                          <label class="checkbox">
                            <input type="checkbox" data-bind="checked: layer_trigger_require_zhop" />Trigger only on ZHop
                          </label>
                        </div>
                      </div>
                      <div class="controls">
                        <small>
                          <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_height_advanced.hide' }">
                            <i class="fa fa-caret-right"></i> {{ _('Advanced Layer/Height Trigger Options') }}
                          </a>
                        </small>
                      </div>

                    </div>

                  </div>
                </div>

                <div id="trigger_height_advanced" class="hide">
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_on_extruding" />Trigger On Extruding
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_on_extruding_start" />Trigger On Extruding Start
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_on_primed"/>Trigger On Extruder Primed
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_on_retracting" />Trigger On Filament Retract
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_on_retracted" />Trigger On Filament Retracted
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_on_detracting" />Trigger On Filament Detracting
                      </label>
                    </div>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Delay (Milliseconds) before taking a snapshot</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: delay"/>
                  </div>
                </div>
                <div class="control-group">
                  <small>
                    <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#snapshot_trigger_advanced.hide' }">
                      <i class="fa fa-caret-right"></i> {{ _('Advanced Snapshot Trigger Options') }}
                    </a>
                  </small>
                </div>
                <div id="snapshot_trigger_advanced" class="control-group hide">
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: retract_before_move" />If not retracted, retract before move
                      </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: custom_script_enabled" />Custom Script Enabled
                        <span class="help-inline">
                          <span class="label label-important">Attention</span>Warning, this is an advanced setting.  Without proper configuration using custom scripts can be dangerous.
                        </span>
                      </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">A custom script that will capture a snapshot (full path)</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: script_path"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" >Output File Format</label>
                    <div class="controls">
                      <select data-bind="value: output_format">
                        <option value="jpg">jpg</option>
                        <option value="gif">gif</option>
                        <option value="bmp">bmp</option>
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Output File Name</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: output_filename"/>
                      <span class="help-inline">
                        <span class="label label-important">Attention</span> You can use the following tokens(include the brackets):  [FileName] [DateYYYYMMDD] [TimeHHMMSS] [Extension]
                      </span>
                    </div>

                  </div>
                  <div class="control-group">
                    <label class="control-label">Output File Directory</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: output_directory"/>
                      <span class="help-inline">
                        <span class="label label-important">Attention</span> You can use the following tokens(include the brackets):  [FileName] [DateYYYYMMDD] [TimeHHMMSS] [Extension]
                      </span>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Delete Snapshots Files:</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_before_print" title="Before Print Starts"/>Before Print Starts
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_after_print" title="After Print Completes"/>After Print Completes
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_after_cancel" title="After Print Canceled"/>After Print Canceled
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_after_fail" title="After Print Failed"/>After Print Failed
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_before_close" title="Before Printer Connection is Closed"/>Before Printer Connection is Closed
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_after_render_complete" title="After Timelapse Is Rendered"/>After Timelapse Is Rendered
                      </label>
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: cleanup_after_render_fail" title="After Timelapse Is Rendered"/>After Timelaps Rendering Fails
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="rendering_profiles" class="panel panel-default">
          <div class="panel-heading">
            <div class="row">

              <div class="span4 text-right">
                <span class="text-info">Active Rendering Profile</span>
              </div>
              <div class="span4">
                <select name="current_rendering_guid" data-bind="foreach: renderings, value: current_rendering_guid">
                  <option data-bind="text:name, value:guid"></option>
                </select>
              </div>
              <div class="span4 text-right">
                <div id="rendering_profile_controls" class="toggle-off" >
                  <button class="btn pull-right" data-bind="click: function() { $root.copyCurrentRendering(); }">Copy</button>
                  <button class="btn pull-right" data-bind="click: function() { $root.resetCurrentRendering(); }">Defaults</button>
                  <a title="Delete Rendering" class="btn btn-danger pull-right"  data-bind="click: function() { $root.removeCurrentRendering(); }">
                    <i class="icon-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="span12">
                <button class="btn btn-default input-block-level toggle " type="button" data-toggle='{"elements": [{"selector": "#octolapse_settings #rendering_settings_toggle","onClass": "fa-caret-down","offClass": "fa-caret-right"},{"selector": "#octolapse_settings #rendering_profiles #renderings","onClass": "toggle-on","offClass": "toggle-off"},{"selector": "#octolapse_settings #rendering_profile_controls","onClass": "toggle-on","offClass": "toggle-off"}]}'>
                  <i class="fa icon-black icon-print"></i>&nbsp;Rendering Settings&nbsp;<i id="rendering_settings_toggle" class="toggle-caret fa icon-black fa-caret-right"></i>
                </button>
              </div>
            </div>
            <div id="renderings" data-bind="foreach:renderings" class="settings toggle-off">
              <div id="octolapse_active_rendering_settings"  data-bind="visible: guid() == $parent.current_rendering_guid()">
                <input type="hidden"  data-bind="value : guid" />
                <div class="control-group">
                  <label class="control-label">Rendering Profile Name</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: name"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" >Path to FFMPEG</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: ffmpeg_path"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" >Bitrate</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: bitrate"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" >Frames per Second (FPS)</label>
                  <div class="controls">
                    <select data-bind="options: $parent.fps_calculation_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: fps_calculation_type"></select>
                  </div>
                </div>
                <div class="control-group"  data-bind="visible: fps_calculation_type() === 'static'">
                  <label class="control-label" >Static FPS</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: fps"/>
                  </div>
                </div>
                <div class="control-group"  data-bind="visible: fps_calculation_type() === 'duration'">
                  <label class="control-label" >Fixed Run Length in Seconds</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: run_length_seconds"/>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label">Sync Output with Timelapse Control</label>
                  <div class="controls">
                    <label class="checkbox">
                      <input type="checkbox" data-bind="checked: sync_with_timelapse" title="Automatically move the finished timelapse into the standard octoprint timelapse directory."/>Enabled
                    </label>
                  </div>
                </div>
                <div class="control-group">
                  <label class="control-label" >Path to octoprint timelapse plugin directory</label>
                  <div class="controls">
                    <input type="text" class="input-block-level" data-bind="value: octoprint_timelapse_directory"/>
                  </div>
                </div>
                <div class="control-group">
                  <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#rendering-advanced.hide' }">
                    <i class="fa fa-caret-right"></i> {{ _('Advanced Rendering Options') }}
                  </a>
                </div>
                <div class="control-group hide" id="rendering-advanced">
                  <div class="control-group">
                    <label class="control-label">Flip Horizontal</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: flip_h" title="Flip the resulting timelapse along the horizontal axis"/>Enabled
                      </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Flip Vertical</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: flip_v" title="Flip the resulting timelapse along the vertical axis"/>Enabled
                      </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Rotate 90 Degrees</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: rotate_90" title="Rotate the resulting timelapse 90 degrees"/>Enabled
                      </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Embed a watermark in the resulting timelapse</label>
                    <div class="controls">
                      <label class="checkbox">
                        <input type="checkbox" data-bind="checked: watermark" title="Embed a watermark in the resulting timelapse"/>Enabled
                      </label>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" >Maximum FPS - calculated FPS can be no greater than this value.</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: max_fps"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" >Minimum FPS - calculated FPS can be no less than this value.</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: min_fps"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label" >Output File Format</label>
                    <div class="controls">
                      <select data-bind="value: output_format">
                        <option value="mp4">MP4</option>
                        <option value="mpeg">MPEG</option>
                        <option value="gif">GIF</option>
                      </select>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Output File Name</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: output_filename"/>
                    </div>
                    <span class="help-inline">
                      <span class="label label-important">Attention</span> You can use the following tokens(include the brackets):  [FileName] [DateYYYYMMDD] [TimeHHMMSS] [Extension]
                    </span>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Output File Directory</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: output_directory"/>
                    </div>
                    <span class="help-inline">
                      <span class="label label-important">Attention</span> You can use the following tokens(include the brackets):  [FileName] [DateYYYYMMDD] [TimeHHMMSS] [Extension]
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="camera_profiles" class="panel panel-default">
          <div class="panel-heading">
            <div class="row">

              <div class="span4 text-right">
                <span class="text-info">Active Camera Profile</span>
              </div>
              <div class="span4">
                <select name="current_camera_guid" data-bind="foreach: cameras, value: current_camera_guid">
                  <option data-bind="text:name, value:guid"></option>
                </select>
              </div>
              <div class="span4 text-right">
                <div id="camera_profile_controls" class="toggle-off" >
                  <button class="btn pull-right" data-bind="click: function() { $root.copyCurrentCamera(); }">Copy</button>
                  <button class="btn pull-right" data-bind="click: function() { $root.resetCurrentCamera(); }">Defaults</button>
                  <a title="Delete Camera" class="btn btn-danger pull-right"  data-bind="click: function() { $root.removeCurrentCamera(); }">
                    <i class="icon-trash"></i>
                  </a>
                </div>
              </div>
            </div>
          </div>

          <div class="panel-body">
            <div class="row">
              <div class="span12">
                <button class="btn btn-default input-block-level toggle " type="button" data-toggle='{"elements": [{"selector": "#octolapse_settings #camera_settings_toggle","onClass": "fa-caret-down","offClass": "fa-caret-right"},{"selector": "#octolapse_settings #camera_profiles #cameras","onClass": "toggle-on","offClass": "toggle-off"},{"selector": "#octolapse_settings #camera_profile_controls","onClass": "toggle-on","offClass": "toggle-off"}]}'>
                  <i class="fa icon-black icon-print"></i>&nbsp;Camera Settings&nbsp;<i id="camera_settings_toggle" class="toggle-caret fa icon-black fa-caret-right"></i>
                </button>
              </div>
            </div>
            <div id="cameras" data-bind="foreach:cameras" class="settings toggle-off">
              <div id="octolapse_active_camera_settings" data-bind="visible: guid() == $parent.current_camera_guid()">
                <div class="control-group">
                  <input type="hidden"  data-bind="value : guid" />
                  <div class="control-group">
                    <label class="control-label">Camera Profile Name</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: name"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Camera Http Address (full address including http:// or https://)</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: address"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <label class="control-label">Snapshot Request Template</label>
                    <div class="controls">
                      <input type="text" class="input-block-level" data-bind="value: snapshot_request_template"/>
                    </div>
                  </div>
                  <div class="control-group">
                    <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#camera-advanced.hide' }">
                      <i class="fa fa-caret-right"></i> {{ _('Advanced Camera Options') }}
                    </a>
                  </div>
                  <div id="camera-advanced" class="control-group hide">
                    <div class="control-group">
                      <label class="control-label">Ignore any SSL errors at the camera address.</label>
                      <div class="controls">
                        <input type="checkbox" data-bind="checked: ignore_ssl_error" />Ignore SSL
                        <span class="help-inline">
                          <span class="label label-important">Attention</span>Using this option will solve SSL issues if you are trying to stream your camera over https, but could leave you open to man in the middle attacks.
                        </span>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">If required, enter a username to be sent with the camera snapshot request</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: username"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">If required, enter a password to be sent with the camera snapshot request</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: password"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Auto-Apply Camera Settings Before Print</label>
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: apply_settings_before_print" title="Auto-Apply Camera Settings Before Print."/>Enabled
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Brightness (0-255)</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: brightness"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Contrast (0-255)</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: contrast"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Saturation (0-255)</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: saturation"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Auto White Balance</label>
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: white_balance_auto" title="Enable or disable auto white balance."/>Enabled
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Gain</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: gain"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Powerline Frequency</label>
                      <div class="controls">
                        <select data-bind="value: powerline_frequency">
                          <option value="50">50</option>
                          <option value="60">60</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">White Balance Temeprature (in Kelvin)</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: white_balance_temperature"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Sharpness (0-255)</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: sharpness"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Backlight Compensation</label>
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: backlight_compensation_enabled" title="Enable or disable backlight compensation."/>Enabled
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Powerline Frequency</label>
                      <div class="controls">
                        <select data-bind="value: powerline_frequency">
                          <option value="50">50</option>
                          <option value="60">60</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Exposure Type</label>
                      <div class="controls">
                        <select data-bind="value: exposure_type">
                          <option value="auto">Auto</option>
                          <option value="manual">Manual</option>
                          <option value="aperture_priority">Aperture Priority Mode</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Exposure</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: exposure"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Exposure Auto Priority</label>
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: exposure_auto_priority_enabled" />Enabled
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Pan</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: pan"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Tilt</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: tilt"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Autofocus Enabled</label>
                      <div class="controls">
                        <label class="checkbox">
                          <input type="checkbox" data-bind="checked: autofocus_enabled" title="Enable or disable autofocus."/>Enabled
                        </label>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Absolute Focus (will not work with autofocus enabled)</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: focus"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Zoom</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: zoom"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Led 1 Mode</label>
                      <div class="controls">
                        <select data-bind="value: led1_mode">
                          <option value="off">Off</option>
                          <option value="on">On</option>
                          <option value="blink">Blink</option>
                          <option value="auto">Auto</option>
                        </select>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Led 1 Frequency</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: led1_frequency"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Jpeg Quality</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: jpeg_quality"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Brightness Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: brightness_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Contrast Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: contrast_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Saturation Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: saturation_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">White Balance Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: white_balance_auto_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Gain Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: gain_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Powerline Frequency Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: powerline_frequency_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">White Balance Temperature Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: white_balance_temperature_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Sharpness Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: sharpness_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Backlight Compensation Enabled Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: backlight_compensation_enabled_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Exposure Type Request Templatey</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: exposure_type_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Exposure Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: exposure_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Auto Priority Enabled Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: exposure_auto_priority_enabled_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Pan Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: pan_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Tilt Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: tilt_request_template"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Autofocus Enabled Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: autofocus_enabled_request_template"/>
                      </div>
                    </div>
                    <div class="control-group">
                      <label class="control-label">Focus Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: focus_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Zoom Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: zoom_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Led1 Mode Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: led1_mode_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Led1 Frequency Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: led1_frequency_request_template"/>
                      </div>
                    </div>

                    <div class="control-group">
                      <label class="control-label">Jpeg Quality Request Template</label>
                      <div class="controls">
                        <input type="text" class="input-block-level" data-bind="value: jpeg_quality_request_template"/>
                      </div>
                    </div>
                  </div>

                </div>


              </div>
            </div>
          </div>

        </div>
        <div id="octolapse_debug" class="panel panel-default">
          <div class="panel-heading">
            <div class="row">
              <div class="span12">
                <button class="btn btn-default input-block-level toggle " type="button" data-toggle='{"elements": [{"selector": "#octolapse_settings #debug_settings_toggle","onClass": "fa-caret-down","offClass": "fa-caret-right"},{"selector": "#octolapse_settings #debug","onClass": "toggle-on","offClass": "toggle-off"}]}'>
                  <i class="fa icon-black icon-print"></i>&nbsp;Debug Settings&nbsp;<i id="debug_settings_toggle" class="toggle-caret fa icon-black fa-caret-right"></i>
                </button>
              </div>
            </div>


          </div>
          <di id="debug" class="panel-body toggle-off">
            <div class="control-group">
              <div class="controls">
                <label class="checkbox">
                  <input type="checkbox" data-bind="checked: debug.enabled" title="Enable or disable all logging"/>Enabled Logging
                </label>
              </div>
            </div>
            <div data-bind="visible: debug.enabled">
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.position_change" title="Log Position Changes"/>Log Position Changes
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.position_command_received" title="Log Position Commands"/>Log Position Commands
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.extruder_change" title="Log extruder state changes"/>Log extruder state changes
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_create" title="Log snapshot trigger creation"/>Log Snapshot Trigger Create
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_wait_state" title="Log snapshot trigger wait state"/>Log Snapshot Trigger Wait State
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_triggering" title="Log snapshot trigger is triggering"/>Log Snapshot Triggering
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_triggering_state" title="Log snapshot trigger state"/>Log Snapshtot Triggering State
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_layer_zmin_reached" title="Log ZMin Reached"/>Log ZMin Reached
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_layer_change" title="Log Layer Change"/>Log Layer Change
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_height_change" title="Log Height Change"/>Log Height Change
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_zhop" title="Log Zhop"/>Log Zhop
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_time_remaining" title="Log Trigger Time Remaining"/>Log Trigger Time Remaining
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.trigger_time_unpaused" title="Log Trigger Unpause"/>Log Trigger Unpause
                  </label>
                </div>
              </div>


              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_gcode" title="Log Snapshot Gcode"/>Log Snapshot Gcode
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_gcode_endcommand" title="Log Snapshot Endcommand Status"/>Log Snapshot Gcode Endcommand Status
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_position" title="Log Snapshot Position"/>Log Snapshot Position
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_position_return" title="Log Snapshot Return Position"/>Log Snapshot Return Position
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_save" title="Log Snapshot Save"/>Log Snapshot Save
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_download" title="Log Snapshot Download"/>Log Snapshot Download
                  </label>
                </div>
              </div>

              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.render_start" title="Log Rendering Start"/>Log Rendering Start
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.render_complete" title="Log Render Complete"/>Log Render Complete
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.render_fail" title="Log Render Failure"/>Log Render Failure
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.render_sync" title="Log Render Synchronization With Octoprint Timelapse Plugin"/>Log Render Synchronization With Octoprint Timelapse Plugin
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.snapshot_clean" title="Log Cleaning of Snapshots"/>Log Cleaning of Snapshots
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.settings_save" title="Log Settings On Save"/>Log Settings On Save
                  </label>
                </div>
              </div>
              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.settings_load" title="Log Settings On Save"/>Log Settings On Load
                  </label>
                </div>
              </div>


              <div class="control-group">
                <div class="controls">
                  <label class="checkbox">
                    <input type="checkbox" data-bind="checked: debug.print_state_changed" title="Log Print State Changes"/>Log Print State Changes
                  </label>
                </div>
              </div>
            </div>
          </di>
        </div>

      </div>
    </div>
  </div>

</form>
