<script type="text/html" id="debug-template">
  <div class="control-group">
    <label class="control-label">Printer Profile Name:</label>
    <div class="controls">
      <input name="name" type="text" class="input-block-level form-input" data-bind="value: name" required="" />
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Description</label>
    <div class="controls">
      <textarea name="description" type="text" class="input-block-level" data-bind="value: description" maxlength="1024"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Test Mode</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: is_test_mode" title="Enable test mode"/>Enabled
        <span class="help-inline">Strip all extrusion and temperature commands from the gcode.  Allows you to test snapshot settings without wasting plastic or waiting for the printer to heat up!</span>
      </label>
    </div>
  </div>

  <hr/>
  <div class="control-group">
    <label class="control-label">Info Logging</label>
    <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: enabled" title="Enable or disable enhanced logging"/>Enabled
      </label>
    </div>
  </div>
  
  <div data-bind="visible: enabled">
    
    <div class="control-group">
      <label class="control-label">Write To Console</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: log_to_console" title="Write all output to the console"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Position Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: position_change" title="Log oosition changes"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Position Commands</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: position_command_received" title="Log position commands"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Extruder State Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: extruder_change" title="Log extruder state changes"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Extruder Triggers</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: extruder_triggered" title="Log extruder triggering"/>Enabled
        </label>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Log Snapshot Trigger Create</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_create" title="Log snapshot trigger creation"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Trigger Wait State</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_wait_state" title="Log snapshot trigger wait state"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Triggering</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_triggering" title="Log snapshot trigger is triggering"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshtot Triggering State</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_triggering_state" title="Log snapshot trigger state"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Layer Change</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_layer_change" title="Log layer change"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Height Change</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_height_change" title="Log height change"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Zhop</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_zhop" title="Log zhop"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Trigger Time Remaining</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_time_remaining" title="Log trigger time remaining"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Trigger Unpause</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_time_unpaused" title="Log trigger unpause"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Gcode</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_gcode" title="Log snapshot gcode"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Gcode Endcommand Status</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_gcode_endcommand" title="Log snapshot endcommand status"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Position</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_position" title="Log snapshot position"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Return Position</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_position_return" title="Log snapshot return position"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Resume Print Position</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_position_resume_print" title="Log snapshot return position"/>Enabled
        </label>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Log Snapshot Save</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_save" title="Log snapshot save"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Download</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_download" title="Log snapshot download"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Rendering Start</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_start" title="Log rendering start"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Render Complete</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_complete" title="Log render complete"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Render Failure</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_fail" title="Log render failure"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Synchronize</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_sync" title="Log render synchronization with Octoprint timelapse plugin"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Cleaning of Snapshots</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_clean" title="Log cleaning of snapshots"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Settings On Save</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: settings_save" title="Log settings on save"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Settings On Load</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: settings_load" title="Log settings on save"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Camera Settings Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: camera_settings_apply" title="Log camera settings changes"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Print State Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: print_state_changed" title="Log print state changes"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Gcode Queuing</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_queuing_all" title="Log all gcode that is about to queue"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Gcode Sent</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_sent_all" title="Log all gcode sent to printer"/>Enabled
        </label>
      </div>
    </div>
    

  </div>
</script>



