<script type="text/html" id="printer-slicer-slic3r-pe-template">
    <div>
        <div>
            <h4>Slicer - Slic3r Prusa Edition</h4>
            <p>Copy all of the settings below from your slicer.  Please note that Retraction and deretraction speeds are rounded to the nearest mm/sec, and all other speeds are rounded to the nearest 0.01 mm/min.</p>
        </div>
        <div>
            <div>
                <h5>Extruder Retraction Settings</h5>
                <p>Can be found in 'Printer Settings->Extruder->Retraction' in Slic3r PE.</p>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_slic3r_retract_length">Length*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_slic3r_retract_length" name="slicer_slic3r_pe_retract_length" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.retract_length" step="0.000001" min="0" max="100.0" required/>
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#length" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_slic3r_retract_length"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_slic3r_pe_retract_lift">Lift Z*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_slic3r_pe_retract_lift" name="slicer_slic3r_pe_retract_lift" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.retract_lift" step="0.0001" min=".00" max="100.0" required />
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#lift-z" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_slic3r_pe_retract_lift"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_retract_speed">Retraction Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_retract_speed" name="slicer_slic3r_pe_retract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.retract_speed" step="0.0001" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#retraction-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_retract_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_deretract_speed">Detraction Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_deretract_speed" name="slicer_slic3r_pe_deretract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.deretract_speed" step="0.0001" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#deretraction-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_deretract_speed"></div>
                </div>
            </div>
            <div class="text-right">
                <p>* <i>Indicates required fields</i></p>
            </div>
            <div>
                <h5>Speed for print moves</h5>
                <p>Can be found in 'Print Settings->Speed->Speed for print moves</p>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_perimeter_speed">Perimeter Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_perimeter_speed" name="slicer_slic3r_pe_perimeter_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.perimeter_speed" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#perimeter-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_perimeter_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_small_perimeter_speed">Small Perimeters</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_small_perimeter_speed" name="slicer_slic3r_pe_small_perimeter_speed" type="text" autocomplete="off"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.small_perimeter_speed"/>
                        <span class="add-on">mm/sec or %</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#small-perimeters"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_slic3r_pe_small_perimeter_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_external_perimeter_speed">External Perimeters</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_external_perimeter_speed" name="slicer_slic3r_pe_external_perimeter_speed" type="text" autocomplete="off"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.external_perimeter_speed"/>
                        <span class="add-on">mm/sec or %</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#external-perimeters"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_slic3r_pe_external_perimeter_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_infill_speed">Infill</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_infill_speed" name="slicer_slic3r_pe_infill_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.infill_speed" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#infill"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_infill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_solid_infill_speed">Solid Infill</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_solid_infill_speed" name="slicer_slic3r_pe_solid_infill_speed" type="text" autocomplete="off"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.solid_infill_speed" />
                        <span class="add-on">mm/sec or %</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#solid-infill"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_solid_infill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Top Solid Infill</label>
                <div class="controls" for="slicer_slic3r_pe_top_solid_infill_speed">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_top_solid_infill_speed" name="slicer_slic3r_pe_top_solid_infill_speed" type="text" autocomplete="off" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.top_solid_infill_speed"/>
                        <span class="add-on">mm/sec or %</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#top-solid-infill"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_slic3r_pe_top_solid_infill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_support_material_speed">Support</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_support_material_speed" name="slicer_slic3r_pe_support_material_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.support_material_speed" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#support"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_support_material_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_bridge_speed">Bridge</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_bridge_speed" name="slicer_slic3r_pe_bridge_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.bridge_speed" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#bridge"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_bridge_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_gap_fill_speed">Gaps</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_gap_fill_speed" name="slicer_slic3r_pe_gap_fill_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.gap_fill_speed" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#gaps"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_gap_fill_speed"></div>
                </div>
            </div>

            <div>
                <h5>Speed for non-print moves</h5>
                <p>Can be found in 'Print Settings->Speed->Speed for non-print moves</p>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_travel_speed">Travel Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_travel_speed" name="slicer_slic3r_pe_travel_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.travel_speed" step="0.0001" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#movement-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_travel_speed"></div>
                </div>
            </div>
            <div class="text-right">
                <p>* <i>Indicates required fields</i></p>
            </div>
            <div>
                <h5>Modifiers</h5>
                <p>Can be found in 'Print Settings->Speed->Modifiers</p>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_slic3r_pe_first_layer_speed">First Layer Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_slic3r_pe_first_layer_speed" name="slicer_slic3r_pe_first_layer_speed" type="text" autocomplete="off"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.slic3r_pe.first_layer_speed"/>
                        <span class="add-on">mm/sec or %</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Slic3r-Prusa-Edition-Settings#first-layer-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_slic3r_pe_first_layer_speed"></div>
                </div>
            </div>
        </div>
    </div>
</script>
