<script type="text/html" id="printer-slicer-cura-template">
    <div>
        <div>
            <h4>Slicer - Cura</h4>
            <p>Match all of the speed settings in your current slicer profile with all of the settings below. In order to
                use feature detection (used in the 'high quality' snapshot profiles), it is best if each speed is unique.
                Make sure to use the correct units!</p>

        </div>
        <div>
            <div>
                <h5>Material</h5>
            </div>
                <div class="control-group">
                    <label class="control-label" for="printer_profile_cura_retraction_enable">Retraction Enabled*</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input id="printer_profile_cura_retraction_enable" name="retraction_enable" type="checkbox" data-bind="checked: slicers.cura.retraction_enable" title="Enable retraction" />Enabled
                            <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.retraction_enable.md" data-help-title="Retraction Enabled"/>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="printer_profile_cura_retraction_amount">Retraction Distance*</label>
                    <div class="controls">
                        <div class="input-append form-inline">
                            <input id="printer_profile_cura_retraction_amount" name="retraction_amount" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_amount" step="0.0001" min="0" max="100.0" required/>
                            <span class="add-on">mm</span>
                        </div>
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.retraction_amount.md" data-help-title="Retraction Distance"/>
                        <div class="error_label_container text-error" data-error-for="printer_profile_cura_retraction_amount"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="slicer_cura_retraction_retract_speed">Retraction Retract Speed*</label>
                    <div class="controls">
                        <div class="input-append form-inline">
                            <input id="slicer_cura_retraction_retract_speed" name="retraction_retract_speed" type="number"
                                   class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_retract_speed" step="0.0001" min="0"
                                   max="9999999" required/>
                            <span class="add-on">mm</span>
                            <span class="add-on">sec</span>
                        </div>
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.retraction_retract_speed.md" data-help-title="Retraction Retract Speed"/>
                        <div class="error_label_container text-error" data-error-for="slicer_cura_retraction_retract_speed"></div>
                    </div>
                </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_retraction_prime_speed">Retraction Prime Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_retraction_prime_speed" name="retraction_prime_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_prime_speed" step="0.0001" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.retraction_prime_speed.md" data-help-title="Retraction Prime Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_retraction_prime_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p><i>* Indicates required fields</i></p>
                </div>
            </div>
            <div>
                <h5>Speed</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_travel">Travel Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_travel" name="speed_travel" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_travel" step="0.0001" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.speed_travel.md" data-help-title="Travel Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_travel"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_max_feedrate_z_override">Maximum Z Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_max_feedrate_z_override" name="max_feedrate_z_override" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.max_feedrate_z_override" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.max_feedrate_z_override.md" data-help-title="Maximum Z Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_max_feedrate_z_override"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p><i>* Indicates required fields</i></p>
                </div>
            </div>
            <div>
                <h5>Travel</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_retraction_hop_enabled">Z Hop When Retracted*</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="slicer_cura_retraction_hop_enabled" name="retraction_hop_enabled" type="checkbox" data-bind="checked: slicers.cura.retraction_hop_enabled" title="Enable retraction" />Enabled
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.retraction_hop_enabled.md" data-help-title="Z Hop When Retracted"/>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_retraction_hop">Z Hop Height*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_retraction_hop" name="z_hop" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_hop" step="0.0001" min=".00" max="100.0" required />
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.retraction_hop.md" data-help-title="Z Hop Height"/>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_retraction_hop"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p><i>* Indicates required fields</i></p>
                </div>
            </div>
            <div>
                <h5>
                    Quality
                </h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_layer_height">Layer Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_layer_height" name="slicer_cura_layer_height" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.layer_height" step="0.0001" min="0" max="100.0"/>
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.layer_height.md" data-help-title="Layer Height"/>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_layer_height"></div>
                </div>
            </div>
            <div>
                <h5>
                    Special Modes
                </h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_smooth_spiralized_contours">Spiralize Outer Contour</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="slicer_cura_smooth_spiralized_contours" name="slicer_cura_smooth_spiralized_contours" type="checkbox" data-bind="checked: slicers.cura.smooth_spiralized_contours" title="Spiralize Outer Contour" />Enabled
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.smooth_spiralized_contours.md" data-help-title="Spiralize Outer Contour"/>
                    </label>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_smooth_spiralized_contours"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_surface_mode">Surface Mode</label>
                <div class="controls">
                    <select id="printer_profile_slicer_type" namd="printer_profile_surface_mode" data-bind="options: Octolapse.Printers.profileOptions.cura_surface_mode_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: slicers.cura.magic_mesh_surface_mode"></select>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.cura.cura_surface_mode.md" data-help-title="Surface Mode"/>
                    <div class="error_label_container text-error" data-error-for="printer_profile_surface_mode"></div>
                </div>
            </div>
        </div>
    </div>
</script>
