<script type="text/html" id="printer-slicer-simplify-3d-template">
    <div>
        <div>
            <h4>Slicer - Simplify 3d</h4>
            <p>Match all of the speed settings in your current slicer profile with all of the settings below. In order to
                use feature detection (used in the 'high quality' snapshot profiles), it is best if each speed is unique.
                Make sure to use the correct units!</p>
        </div>
        <div>
            <div>
                <h5>Extruder - Ooze Control</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_simplify_3d_extruder_use_retract">Retraction*</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="printer_profile_simplify_3d_extruder_use_retract" name="extruder_use_retract" type="checkbox" data-bind="checked: slicers.simplify_3d.extruder_use_retract" title="Enable retraction" />Enabled
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.extruder_use_retract.md" data-help-title="Retraction"/>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_retraction_distance">Retraction Distance*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_simplify_3d_retraction_distance" name="retraction_distance" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.simplify_3d.retraction_distance" step="0.01" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.retraction_distance.md" data-help-title="Retraction Distance"/>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_retraction_distance"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_retraction_vertical_lift">Retraction Vertical Lift*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_simplify_3d_retraction_vertical_lift" name="retraction_vertical_lift" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.simplify_3d.retraction_vertical_lift" step="0.01" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.retraction_vertical_lift.md" data-help-title="Retraction Vertical Lift"/>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_retraction_vertical_lift"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_retraction_speed">Retraction Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_simplify_3d_retraction_speed" name="retraction_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.simplify_3d.retraction_speed" step="0.1" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">min</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.retraction_speed.md" data-help-title="Retraction Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_retraction_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p><i>* Indicates required fields</i></p>
                </div>
            </div>
            <div>
                <h5>Layer</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_layer_height">Layer Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_simplify_3d_layer_height" name="slicer_simplify_3d_layer_height" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.simplify_3d.layer_height" step="0.01" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.layer_height.md" data-help-title="Layer Height"/>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_layer_height"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_vase_mode">Single outline corkscrew printing mode (vase mode)</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="slicer_simplify_3d_vase_mode" name="slicer_simplify_3d_vase_mode" type="checkbox" data-bind="checked: slicers.simplify_3d.vase_mode" title="Enable Vase Mode" />Enabled
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.vase_mode.md" data-help-title="Single outline corkscrew printing mode (vase mode)"/>
                    </label>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_vase_mode"></div>
                </div>
            </div>
            <div>
                <h5>Speeds</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_x_y_axis_movement_speed">X/Y Axis Movement Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_simplify_3d_x_y_axis_movement_speed" name="xy_axis_movement_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.simplify_3d.x_y_axis_movement_speed" step="0.1" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">min</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.x_y_axis_movement_speed.md" data-help-title="X/Y Axis Movement Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_x_y_axis_movement_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_simplify_3d_z_axis_movement_speed">Z Axis Movement Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_simplify_3d_z_axis_movement_speed" name="z_axis_movement_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.simplify_3d.z_axis_movement_speed" step="0.1" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">min</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.simplify3d.z_axis_movement_speed.md" data-help-title="Z Axis Movement Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_simplify_3d_z_axis_movement_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <p><i>* Indicates required fields</i></p>
                </div>
            </div>
        </div>
    </div>
</script>
