<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2019  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="webcam-settings-template">
    <div class="webcam_settings">
        <div class="row-fluid">
            <button type="button" class="span6 btn btn-default input-block-level" data-bind="click: previewStabilization">Stabilize Extruder</button>
            <button type="button" class="span6 btn input-block-level" data-bind="click: applyWebcamSettings">Apply All Settings Now</button>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <fieldset class="octolapse">
                    <legend>General Settings</legend>
                    <div>
                        <label>Brightness - (0-255)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_brightness" class="slider" name="brightness" type="range" data-bind="octolapseSliderValue: brightness" min="0" max="255" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: brightness" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.brightness.md" data-help-title="Brightness"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Contrast - (0-255)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_contrast" class="slider" name="contrast" type="range" data-bind="octolapseSliderValue: contrast" min="0" max="255" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: contrast" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.contrast.md" data-help-title="Contrast"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Saturation (0-255)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_saturation" class="slider" name="saturation" type="range" data-bind="octolapseSliderValue: saturation" min="0" max="255" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: saturation" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.saturation.md" data-help-title="Saturation"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Sharpness (0-255)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_sharpness" class="slider" name="contrast" type="range" data-bind="octolapseSliderValue: sharpness" min="0" max="255" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: sharpness" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.sharpness.md" data-help-title="Sharpness"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>JPEG Quality (1-100)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_jpeg_quality" class="slider" name="jpeg_quality" type="range" data-bind="octolapseSliderValue: jpeg_quality" min="0" max="100" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: jpeg_quality" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.jpeg_quality.md" data-help-title="JPEG Quality"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="octolapse">
                    <legend>White Balance</legend>

                    <div>
                        <label class="checkbox">
                            <input name="white_balance_auto" type="checkbox" data-bind="checked: white_balance_auto" title="Enable or disable auto white balance" />Auto White Balance
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.white_balance_auto.md" data-help-title="White Balance"/>
                        </label>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_white_balance_temperature" class="slider" name="white_balance_temperature" type="range" data-bind="octolapseSliderValue: white_balance_temperature, disable: white_balance_auto()" required="True" min="2000" max="6500" step="1" />
                            </div>
                            <div class="span3">
                                <span data-bind="visible:white_balance_auto()">AUTO</span>
                                <span data-bind="visible:!white_balance_auto(), text: white_balance_temperature"></span>
                                <span data-bind="visible:!white_balance_auto()">K</span>
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.white_balance_temperature.md" data-help-title="white_balance_temperature"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="octolapse">
                    <legend>Exposure, Gain, Auto-Priority</legend>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: backlight_compensation_enabled" title="Enable or disable backlight compensation" />Backlight Compensation Enabled
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.backlight_compensation_enabled.md" data-help-title="Backlight Compensation"/>
                        </label>
                    </div>
                    <div>
                        <label>Exposure Type</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <select id="camera_profile_exposure_type" name="exposure_type" class="full-width" data-bind="options: mjpegstreamer.options.camera_exposure_type_options,
                             optionsText: 'name',
                             optionsValue: 'value',
                             value: exposure_type"></select>

                            </div>
                            <div class="span3">
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.exposure_type.md" data-help-title="Exposure Type"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Exposure (3-2047)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_exposure" name="exposure" type="range" class="slider" data-bind="octolapseSliderValue: exposure, disable: exposure_type() != '1'" min="3" max="2047" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: exposure, visible: exposure_type() == '1'" />
                                <span data-bind="visible: exposure_type() != '1'">Auto</span>
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.exposure.md" data-help-title="Exposure"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <label>Gain (0-255)</label>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_gain" name="gain" type="range" class="slider" data-bind="octolapseSliderValue: gain, disable: exposure_type() != '1'" min="0" max="255" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: gain, visible: exposure_type() == '1'" />
                                <span data-bind="visible: exposure_type() != '1'">Auto</span>
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.gain.md" data-help-title="Gain"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row-fluid">
                            <div class="span12">
                                <label class="checkbox">
                                    <input id="exposure_auto_priority_enabled" type="checkbox" data-bind="visible: exposure_type() == '1', checked: exposure_auto_priority_enabled" />
                                    <input type="checkbox" data-bind="visible: exposure_type() != '1'" disabled="true" value="false" />
                                    Exposure Auto-Priority Enabled
                                    <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.exposure_auto_priority_enabled.md" data-help-title="Exposure Auto-Priority"/>
                                </label>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
            <div class="span6">
                <fieldset class="octolapse">
                    <legend>Focus</legend>
                    <div>
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: autofocus_enabled" title="Enable or disable autofocus" />Autofocus Enabled
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.autofocus_enabled.md" data-help-title="Enable Autofocus"/>
                        </label>
                    </div>
                    <div class="row-fluid">
                        <div class="span9">
                            <input id="camera_profile_focus" name="focus" type="range" class="slider" data-bind="octolapseSliderValue: focus, disable: autofocus_enabled()" min="0" max="250" step="5" required="true" />
                        </div>
                        <div class="span3">
                            <span data-bind="text: focus, visible: !autofocus_enabled()" />
                            <span data-bind="visible: autofocus_enabled">AUTO</span>
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.focus.md" data-help-title="Manual Focus Amount"/>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="octolapse">
                    <legend>Pan, Tilt, and Zoom</legend>
                    <div>
                        <span>Pan (-36000-36000)</span>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_pan" name="pan" type="range" class="slider" data-bind="octolapseSliderValue: pan" min="-36000" max="36000" step="3600" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: pan" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.pan.md" data-help-title="Pan"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>Tilt (-36000-36000)</span>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_tilt" name="tilt" type="range" class="slider" data-bind="octolapseSliderValue: tilt" min="-36000" max="36000" step="3600" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: tilt" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.tilt.md" data-help-title="Tilt"/>
                            </div>
                        </div>
                    </div>
                    <div>
                        <span>Zoom (0-255)</span>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_zoom" name="zoom" type="range" class="slider" data-bind="octolapseSliderValue: zoom" min="100" max="500" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: zoom" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.zoom.md" data-help-title="Zoom"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="octolapse">
                    <legend>LEDs</legend>
                    <div>
                        <span>LED 1 Mode</span>
                        <div>
                            <select id="camera_profile_led_1_mode" name="led_1_mode" data-bind="options: mjpegstreamer.options.camera_led_1_mode_options,
                     optionsText: 'name',
                     optionsValue: 'value',
                     value: led1_mode"></select>
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.camera_led_1_mode_options.md" data-help-title="LED 1 Mode"/>
                        </div>
                    </div>
                    <div>
                        <span>LED 1 Frequency</span>
                        <div class="row-fluid">
                            <div class="span9">
                                <input id="camera_profile_led1_frequency" name="led1_frequency" type="range" class="slider" data-bind="octolapseSliderValue: led1_frequency" min="0" max="255" step="1" required="true" />
                            </div>
                            <div class="span3">
                                <span data-bind="text: led1_frequency" />
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.led1_frequency.md" data-help-title="LED 1 Frequency"/>
                            </div>
                        </div>
                    </div>
                </fieldset>
                <fieldset class="octolapse">
                    <legend>Misc</legend>
                    <div>
                        <span>Powerline Frequency</span><br />
                        <select id="camera_profile_camera_powerline_frequency" class="input-xlg" name="powerline_frequency" data-bind="options: mjpegstreamer.options.camera_powerline_frequency_options,
                     optionsText: 'name',
                     optionsValue: 'value',
                     value: powerline_frequency"></select>
                        <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.mjpegstreamer.options.camera_powerline_frequency_options.md" data-help-title="Powerline Frequency"/>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row-fluid">
            <button type="button" class="span6 btn btn-default input-block-level" data-bind="click: previewStabilization">Stabilize Extruder</button>
            <button type="button" class="span6 btn btn-default input-block-level" data-bind="click: applyWebcamSettings">Apply All Settings Now</button>
        </div>
    </div>
</script>
