<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="printer-slic3r-pe-template">
    <div>
        <div>
            <h3>Slicer - Slic3r, Slic3r PE, and PrusaSlicer</h3>
            <p>Match all of settings below with the the settings from Slic3r exactly.</p>
        </div>
        <div>
            <div>
                <h4>Layers and Perimeters</h4>
                <p>Can be found in 'Printer Settings->Layers and Printers</p>
            </div>
            <div class="control-group">
                <label class="control-label" for="octolapse_slic3r_pe_layer_height">Layer Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="octolapse_slic3r_pe_layer_height" name="octolapse_slic3r_pe_layer_height"
                               class="input-small text-right ignore_hidden_errors"
                               data-bind="value: slicers.slic3r_pe.layer_height"
                               type="number" step="0.000001" min="0.000001" max="100.0" />
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.layer_height.md" data-help-title="Layer Height"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_slic3r_pe_layer_height"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="octolapse_slic3r_pe_spiral_vase">Spiral Vase</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_slic3r_pe_spiral_vase" name="octolapse_slic3r_pe_spiral_vase"
                               data-bind="checked: slicers.slic3r_pe.spiral_vase" title="Check this box if spiral vase mode is enabled within your slicer."
                               type="checkbox" />Enabled
                        <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.vase_mode.md" data-help-title="Spiral Vase"></a>
                    </label>
                    <div class="error_label_container text-error" data-error-for="octolapse_slic3r_pe_vase_mode"></div>
                </div>
            </div>
            <div>
                <h4>Speed for non-print moves</h4>
                <p>Can be found in 'Print Settings->Speed->Speed for non-print moves</p>
            </div>
            <div class="control-group">
                <label class="control-label" for="octolapse_slic3r_pe_travel_speed">Travel Speed*</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="octolapse_slic3r_pe_travel_speed" name="octolapse_slic3r_pe_travel_speed"
                               class="input-small text-right ignore_hidden_errors"
                               data-bind="value: slicers.slic3r_pe.travel_speed"
                               type="number" step="0.0001" min="0" max="9999999" required />
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.travel_speed.md" data-help-title="Travel Speed"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_slic3r_pe_travel_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <span><i>* Indicates required fields</i></span>
                </div>
            </div>
            <div>
                <h4>Extruder Retraction Settings</h4>
                <p>Can be found in 'Printer Settings->Extruder->Retraction'</p>
            </div>
            <div data-bind="foreach: slicers.slic3r_pe.extruders" class="row-fluid octolapse-table-list-row">
                <div class="span6">
                    <fieldset class="octolapse">
                        <legend data-bind="text: ('Extruder ' + ($index()+1).toString())"></legend>
                        <div>
                            <div class="control-group">
                                <label class="control-label" data-bind="attr: {'for': ('octolapse_slic3r_pe_retract_length_'+$index().toString())}">Length*</label>
                                <div class="controls">
                                    <div class="input-append form-inline">
                                        <input class="input-small text-right ignore_hidden_errors"
                                               data-bind="value: $data.retract_length,
                                                          attr: {name: ('octolapse_slic3r_pe_retract_length_'+$index().toString()),
                                                                 id: ('octolapse_slic3r_pe_retract_length_'+$index().toString())}"
                                               type="number" step="0.000001" min="0" max="100.0" required />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.retract_length.md" data-help-title="Retraction Length"></a>
                                    <div class="error_label_container text-error"
                                         data-bind="attr: {'data-error-for': ('octolapse_slic3r_pe_retract_length_'+$index().toString())}">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" data-bind="attr: {'for': ('octolapse_slic3r_pe_retract_lift'+$index().toString())}">Lift Z*</label>
                                <div class="controls">
                                    <div class="input-append form-inline">
                                        <input class="input-small text-right ignore_hidden_errors"
                                               data-bind="value: $data.retract_lift,
                                                          attr: {name: ('octolapse_slic3r_pe_retract_lift'+$index().toString()),
                                                                 id: ('octolapse_slic3r_pe_retract_lift'+$index().toString())}"
                                               type="number" step="0.0001" min=".00" max="100.0" required />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.retract_lift.md" data-help-title="Retraction Lift Z"></a>
                                    <div class="error_label_container text-error"
                                         data-bind="attr: {'data-error-for': ('octolapse_slic3r_pe_retract_lift'+$index().toString())}">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" data-bind="attr: {'for': ('octolapse_slic3r_pe_retract_speed'+$index().toString())}">Retraction Speed*</label>
                                <div class="controls">
                                    <div class="input-append form-inline">
                                        <input class="input-small text-right ignore_hidden_errors"
                                               data-bind="value: $data.retract_speed,
                                                          attr: {name: ('octolapse_slic3r_pe_retract_speed'+$index().toString()),
                                                                 id: ('octolapse_slic3r_pe_retract_speed'+$index().toString())}"
                                               type="number" step="0.0001" min="0" max="9999999" required />
                                        <span class="add-on">mm</span>
                                        <span class="add-on">sec</span>
                                    </div>
                                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.retract_speed.md" data-help-title="Retraction Speed"></a>
                                    <div class="error_label_container text-error"
                                         data-bind="attr: {'data-error-for': ('octolapse_slic3r_pe_retract_speed'+$index().toString())}">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label" data-bind="attr: {'for': ('octolapse_slic3r_pe_deretract_speed'+$index().toString())}">Deretraction Speed*</label>
                                <div class="controls">
                                    <div class="input-append form-inline">
                                        <input class="input-small text-right ignore_hidden_errors"
                                               data-bind="value: $data.deretract_speed,
                                                          attr: {name: ('octolapse_slic3r_pe_deretract_speed'+$index().toString()),
                                                                 id: ('octolapse_slic3r_pe_deretract_speed'+$index().toString())}"
                                               type="number" step="0.0001" min="0" max="9999999" required />
                                        <span class="add-on">mm</span>
                                        <span class="add-on">sec</span>
                                    </div>
                                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.slic3r_pe.deretract_speed.md" data-help-title="Deretraction Speed"></a>
                                    <div class="error_label_container text-error"
                                         data-bind="attr: {'data-error-for': ('octolapse_slic3r_pe_deretract_speed'+$index().toString())}">
                                    </div>
                                </div>
                            </div>
                            <div class="control-group">
                                <div class="controls">
                                    <span><i>* Indicates required fields</i></span>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
</script>
