<script type="text/html" id="extruder-status-template">
  <div class="panel panel-default">
    <div class="panel-heading">
          <h4>
            Extruder State
          </h4>
    </div>
    <div class="panel-body">
      <div class="row-fluid text-center">

        <div class="span4">
          <div>
            Retraction
          </div>
          <div>
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-1x fa-stack-1x extruder-icon" data-bind="css:ExtruderState.getRetractionStateIconClass"></i>
            </span>
          </div>
          <div class="extruder-state-container">
            <span data-bind="text:ExtruderState.getRetractionStateText"></span>&nbsp;
          </div>
        </div>
        <div class="span4">
          <div>
            Detraction
          </div>
          <div>
            <span class="fa-stack fa-2x">
              <i class="fa fa-square fa-stack-2x"></i>
              <i class="fa fa-1x fa-stack-1x extruder-icon icon-fade-in" data-bind="css:ExtruderState.getDetractionIconClass"></i>
            </span>
          </div>
          <div class="extruder-state-container">
            <span data-bind="text:ExtruderState.getDetractionStateText"></span>&nbsp;
          </div>
        </div>
        <div class="span4">
          <div>
            Extrusion
          </div>
          
          <div>
          <span class="fa-stack fa-2x">
            <i class="fa fa-square fa-stack-2x"></i>
            <i class="fa fa-1x fa-stack-1x extruder-icon" data-bind="css:ExtruderState.getExtrudingStateIconClass"></i>
          </span>
          </div>
          <div class="extruder-state-container">
            <span data-bind="text:ExtruderState.getExtrudingStateText"></span>  &nbsp;
          </div>
        </div>


        

      </div>
    </div>
    <div class="panel-footer">
      Filament Extruded:<span data-bind="text : ExtruderState.ExtrusionLengthTotal"></span>
    </div>
  </div>
</script>
