<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->

<script type="text/html" id="position-status-template">
  <div class="panel panel-default">
    <div class="panel-heading ol-heading">
      <h4>
        Position
      </h4>
    </div>

    <div class="panel-body">
      <div class="row-fluid">
        <span class="span4">
          <strong>Absolute Position</strong>
          <div class="row-fluid ol-compact-row">
            <div class="span2">X:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.x"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
          <div class="row-fluid ol-compact-row">
            <div class="span2">Y:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.y"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
          <div class="row-fluid ol-compact-row">
            <div class="span2">Z:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.z"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
          <div class="row-fluid ol-compact-row">
            <div class="span2">E:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.e"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
        </span>
        <span class="span4">
          <strong>Position Offset</strong>
          <div class="row-fluid ol-compact-row">
            <div class="span2">X:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.x_offset"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
          <div class="row-fluid ol-compact-row">
            <div class="span2">Y:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.y_offset"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
          <div class="row-fluid ol-compact-row">
            <div class="span2">Z:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.z_offset"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
          <div class="row-fluid ol-compact-row">
            <div class="span2">E:</div>
            <div class="span4 text-right">
              <span data-bind="text: Position.e_offset"/>
            </div>
            <div class="span2">
              <i>&nbsp;mm</i>
            </div>
          </div>
        </span>
      </div>
        <!--<div class="span12"><canvas id="octolapse_position_canvas" width="250" height="200" style="border:1px solid #d3d3d3;"></canvas>-->
      </div>
    </div>
  </div>
</script>
