<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2017  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="stabilization-template">
  <input type="hidden"  data-bind="value : guid" />
  <div>
    <div>
      <h4>Profile</h4>
    </div>
    <div class="control-group">
      <label class="control-label">Name</label>
      <div class="controls">
        <input id="stabilization_profile_name" type="text" name="name" class="input-block-level form-input" data-bind="value: name"/>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_name"></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <textarea id="stabilization_profile_description" name="description" type="text" class="input-block-level" data-bind="value: description" maxlength="1024"/>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_description"></div>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h4>X Axis Stabilization</h4>
      <p>Controls the X axis stabilizations, which is the position on the X axis where the bed/extruder will be when we take a snapshot.</p>
    </div>
    <div class="control-group">
      <label class="control-label">Stabilization Type</label>
      <div class="controls">
        <select id="stabilization_profile_x_type" name ="x_type" data-bind="options: Octolapse.Stabilizations.profileOptions.stabilization_type_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   optionsCaption: 'Select One...',
                                   value: x_type"></select>
        <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#stabilization-type" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_x_type"></div>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'fixed_coordinate'">
      <label class="control-label">Fixed Coordinate</label>
      <div class="controls">
        <div class="input-append">
          <input id="stabilization_profile_x_fixed_coordinate" name ="x_fixed_coordinate" type="text" class="input-small ignore_hidden_errors" data-bind="value: x_fixed_coordinate"/>
          <span class="add-on">mm</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_x_fixed_coordinate"></div>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'fixed_path'">
      <label class="control-label">Fixed Path</label>
      <div class="controls">
        <div class="input-append input-block-level">
          <input id="stabilization_profile_x_fixed_path" name="x_fixed_path" type="text" class="input-block-level ignore_hidden_errors" data-bind="value: x_fixed_path"/>
          <span class="add-on">mm</span>
          <span class="add-on">csv</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_x_fixed_path"></div>
        <span class="help-inline">Provide a list of fixed coordinates separated by commas</span>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'fixed_path'">
      <label class="control-label">Loop</label>
      <div class="controls">
        <label class="checkbox">
          <input name="x_fixed_path_loop" type="checkbox" data-bind="checked: x_fixed_path_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'fixed_path' && x_fixed_path_loop()">
      <label class="control-label">Invert Loop</label>
      <div class="controls">
        <label class="checkbox">
            <input name="x_fixed_path_invet loop" type="checkbox" data-bind="checked: x_fixed_path_invert_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#invert-loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'relative'">
      <label class="control-label">Relative Coordinate</label>
      <div class="controls">
        <div class="input-append">
          <input id="stabilization_profile_x_relative" name="x_relative" type="text" class="input-small form-input ignore_hidden_errors " data-bind="value: x_relative"/>
          <span class="add-on">%</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_x_relative"></div>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'relative_path'">
      <label class="control-label">Relative Path</label>
      <div class="controls">
        <div class="input-append input-block-level">
          <input id="stabilization_profile_x_relative_path" name="x_relative_path" type="text" class="input-block-level ignore_hidden_errors" data-bind="value: x_relative_path"/>
          <span class="add-on">%</span>
          <span class="add-on">csv</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_x_relative_path"></div>
        <span class="help-inline">Provide a list of relative coordinates separated by commas</span>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'relative_path'">
      <label class="control-label">Loop</label>
      <div class="controls">
        <label class="checkbox">
          <input name="x_relative_path_loop" type="checkbox" data-bind="checked: x_relative_path_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: x_type() === 'relative_path' && x_relative_path_loop()">
      <label class="control-label">Invert Loop</label>
      <div class="controls">
        <label class="checkbox">
            <input name="x_relative_path_invert_loop" type="checkbox" data-bind="checked: x_relative_path_invert_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#invert-loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
  </div>
  <div>
    <div>
      <h4>Y Axis Stabilization</h4>
      <p>Controls the Y axis stabilizations, which is the position on the Y axis where the bed/extruder will be when we take a snapshot.</p>
    </div>
    <div class="control-group">
      <label class="control-label">Stabilization Type</label>
      <div class="controls">
        <select id="stabilization_profile_y_type" name="y_type" data-bind="options: Octolapse.Stabilizations.profileOptions.stabilization_type_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   optionsCaption: 'Select One...',
                                   value: y_type"></select>
        <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#stabilization-type" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_y_type"></div>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'fixed_coordinate'">
      <label class="control-label">Fixed Coordinate</label>
      <div class="controls">
        <div class="input-append">
          <input id="stabilization_profile_y_fixed_coordinate" name="y_fixed_coordinate" type="text" class="input-small ignore_hidden_errors" data-bind="value: y_fixed_coordinate"/>
          <span class="add-on">mm</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_y_fixed_coordinate"></div>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'fixed_path'">
      <label class="control-label">Fixed Path</label>
      <div class="controls">
        <div class="input-append input-block-level">
          <input id="stabilization_profile_y_fixed_path" name="y_fixed_path" type="text" class="input-block-level ignore_hidden_errors" data-bind="value: y_fixed_path"/>
          <span class="add-on">mm</span>
          <span class="add-on">csv</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_y_fixed_path"></div>
        <span class="help-inline">Provide a list of fixed coordinates separated by commas</span>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'fixed_path'">
      <label class="control-label">Loop</label>
      <div class="controls">
        <label class="checkbox">
          <input name="y_fixed_path_loop" type="checkbox" data-bind="checked: y_fixed_path_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>

        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'fixed_path' && y_fixed_path_loop() ">
      <label class="control-label">Invert Loop</label>
      <div class="controls">
        <label class="checkbox">
            <input name="y_fixed_path_invert_loop" type="checkbox" data-bind="checked: y_fixed_path_invert_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#invert-loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'relative'">
      <label class="control-label">Relative Coordinate</label>
      <div class="controls">
        <div class="input-append">
          <input id="stabilization_profile_y_relative" name="y_relative" type="text" class="input-small ignore_hidden_errors" data-bind="value: y_relative"/>
          <span class="add-on">%</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_y_relative"></div>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'relative_path'">
      <label class="control-label">Relative Path</label>
      <div class="controls">
        <div class="input-append input-block-level">
          <input id="stabilization_profile_y_relative_path" name="y_relative_path" type="text" class="input-block-level ignore_hidden_errors" data-bind="value: y_relative_path"/>
          <span class="add-on">%</span>
          <span class="add-on">csv</span>
        </div>
        <div class="error_label_container text-error" data-error-for="stabilization_profile_y_relative_path"></div>
        <span class="help-inline">Provide a list of relative coordinates separated by commas</span>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'relative_path'">
      <label class="control-label">Loop</label>
      <div class="controls">
        <label class="checkbox">
          <input name="y_relative_path_loop" type="checkbox" data-bind="checked: y_relative_path_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: y_type() === 'relative_path' && y_relative_path_loop()">
      <label class="control-label">Invert Loop</label>
      <div class="controls">
        <label class="checkbox">
            <input name="y_relative_path_invert_loop" type="checkbox" data-bind="checked: y_relative_path_invert_loop" />Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Stabilizations-Profiles#invert-loop" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
  </div>
</script>



