<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="position-state-status-template">
    <div class="panel panel-default">
        <div class="panel-heading ol-heading">
            <div class="row-fluid">
                <span class="span6">
                    <h4>
                        Printer State
                    </h4>
                </span>
                <span class="span3">
                    Layer: <span data-bind="text:PrinterState.layer()" ></span>
                </span>
                <span class="span3">
                    Height: <span data-bind="text:PrinterState.height()" ></span><i>&nbsp;mm</i>
                </span>
            </div>
        </div>
        <div class="panel-body text-center">
            <div class="row-fluid" data-bind="visible: PrinterState.hasPrinterStateErrors">
                <div class="span12 text-left">
                    <span>Waiting for initialization.  If errors remain on this panel after your first layer has printed, there might be a problem with your start gcode.  <a href="https://github.com/FormerLurker/Octolapse/wiki/V0.4---Troubleshooting">See this troubleshooting page for details.</a></span>
                </div>

            </div>
            <div class="row-fluid">
                <div class="span6 octolapse-container">
                    <div class="margin-small">
                        <div class="row-fluid" data-bind="visible: PrinterState.has_definite_position()">
                            <div class="span3">
                            </div>
                            <div class="span6">
                                <div>Known Position</div>
                                    <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getHasDefinitePositionText}">
                                        <span class="fa fa-circle fa-stack-2x outline"></span>
                                        <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.has_definite_position(),'greenyellow','red','red')}"></span>
                                        <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.has_definite_position(),'fa-check','fa-times','fa-times')"></span>
                                    </span>
                            </div>
                            <div class="span3">
                            </div>
                        </div>
                        <div class="row-fluid" data-bind="visible: !PrinterState.has_definite_position()">
                            <div class="span4">
                                <div>X Homed</div>
                                <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getXHomedStateText}">
                                    <span class="fa fa-circle fa-stack-2x outline"></span>
                                    <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.x_homed(),'greenyellow','red','red')}"></span>
                                    <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.x_homed(),'fa-check','fa-times','fa-times')"></span>
                                </span>
                            </div>
                            <div class="span4">

                                <div>Y Homed</div>
                                <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getYHomedStateText}">
                                    <span class="fa fa-circle fa-stack-2x outline"></span>
                                    <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.y_homed(),'greenyellow','red','red')}"></span>
                                    <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.y_homed(),'fa-check','fa-times','fa-times')"></span>
                                </span>
                            </div>
                            <div class="span4">
                                <div>Z Homed</div>
                                <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getZHomedStateText}">
                                    <span class="fa fa-circle fa-stack-2x outline"></span>
                                    <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.z_homed(),'greenyellow','red','red')}"></span>
                                    <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.z_homed(),'fa-check','fa-times','fa-times')"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="span2 octolapse-container">
                    <div class="margin-small">
                        <div>Is Primed</div>
                        <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsPrinterPrimedStateTitle}">
                            <span class="fa fa-circle fa-stack-2x outline"></span>
                            <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.is_printer_primed(),'greenyellow','red','red')}"></span>
                            <span class="fa fa-1x fa-stack-1x"
                                  data-bind="css:PrinterState.getCheckedIconClass(PrinterState.is_printer_primed(),'fa-check','fa-times','fa-times')"></span>
                        </span>

                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span12">
                    <div class="row-fluid">
                        <div class="span2 octolapse-container">
                            <div class="margin-small">
                                <div>Extruder</div>
                                <div class="ol-text-status-1">
                                    <span data-bind="text:PrinterState.getExtruderModeText()"></span>
                                </div>
                                <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsExtruderRelativeStateText}">
                                    <span class="fa fa-circle fa-stack-2x outline"></span>
                                    <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.is_extruder_relative(),'greenyellow','greenyellow','red')}"></span>
                                    <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass( PrinterState.is_extruder_relative(),'fa-check','fa-check', 'fa-times')"></span>
                                </span>

                            </div>
                        </div>
                        <div class="span2 octolapse-container">
                            <div class="margin-small">
                                <div>XYZ</div>
                                <div class="ol-text-status-1">
                                    <span data-bind="text:PrinterState.getXYZModeText()"></span>
                                </div>
                                <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsRelativeStateText}">
                                    <span class="fa fa-circle fa-stack-2x outline"></span>
                                    <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.is_relative(),'greenyellow','greenyellow','red')}"></span>
                                    <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.is_relative(),'fa-check','fa-check', 'fa-times')"></span>
                                </span>
                            </div>
                        </div>
                        <div class="span2 octolapse-container">
                            <div class="margin-small">
                                <div>
                                    <div>Metric</div>
                                    <div class="ol-text-status-1">
                                        Units
                                    </div>
                                    <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsMetricStateText}">
                                        <span class="fa fa-circle fa-stack-2x outline"></span>
                                        <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.is_metric(),'greenyellow','red','red')}"></span>
                                        <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.is_metric(),'fa-check','fa-times','fa-times')"></span>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="span2 octolapse-container">
                            <div class="margin-small">
                                <div>
                                    <div>In</div>
                                    <div class="ol-text-status-1">
                                        Position
                                    </div>
                                    <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsInPositionStateText}">
                                        <span class="fa fa-circle fa-stack-2x outline"></span>
                                        <span class="fa fa-circle fa-stack-2x" data-bind="style: {color:PrinterState.getColor(PrinterState.is_in_position() || PrinterState.in_path_position(),'greenyellow','orange','orange')}"></span>
                                        <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.is_in_position() || PrinterState.in_path_position(), 'fa-check', 'fa-times','fa-times')"></span>
                                    </span>
                                </div>

                            </div>
                        </div>
                        <div class="span2 octolapse-container">
                            <div class="margin-small">
                                <div>
                                    <div>Layer</div>
                                    <div class="ol-text-status-1">
                                        Change
                                    </div>
                                    <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsLayerChangeStateText}">
                                        <span class="fa fa-circle fa-stack-2x outline"></span>
                                        <span class="fa fa-circle fa-stack-2x position-state-icon"></span>
                                        <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.is_layer_change(),'fa-check','fa-circle-o','fa-circle-o')"></span>
                                    </span>

                                </div>
                            </div>
                        </div>
                        <div class="span2 octolapse-container">
                            <div class="margin-small">
                                <div>ZHop</div>
                                <div class="ol-text-status-1">
                                    &nbsp;
                                </div>
                                <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: PrinterState.getIsZHopStateText}">
                                    <span class="fa fa-circle fa-stack-2x outline"></span>
                                    <span class="fa fa-circle fa-stack-2x position-state-icon"></span>
                                    <span class="fa fa-1x fa-stack-1x" data-bind="css:PrinterState.getCheckedIconClass(PrinterState.is_zhop(),'fa-check','fa-circle-o','fa-circle-o')"></span>
                                </span>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer ol-info-footer">
            <div class="row-fluid">
                <div class="span8">
                    Gcode:&nbsp;<span data-bind="text : PrinterState.gcode"></span>
                </div>
            </div>
        </div>
    </div>
</script>
