<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2017  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="rendering-template">

    <input type="hidden" data-bind="value : guid"/>
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: name" required="true"/>
                <div class="error_label_container text-error"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea name="description" type="text" class="input-block-level" data-bind="value: description"
                          maxlength="1024"/>
                <div class="error_label_container text-error"></div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Timelapse Generation</label>
        <div class="controls">
            <label class="checkbox">
                <input name="rendering_enabled" type="checkbox" data-bind="checked: enabled"
                       title="Enable or disable timelapse generation"/>Enabled
            </label>
            <span class="help-inline">
        When disabled, no timelapse will be generated.  This can be useful if you want to manually generate your own timelapse.
      </span>
        </div>
    </div>
    <div data-bind="visible:enabled">
        <hr/>
        <div>
            <h4>Output and Sync</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Output Format (Codec)</label>
            <div class="controls">
                <select name="output_format" data-bind="options: Octolapse.Renderings.profileOptions.rendering_output_format_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: output_format"></select>
                <div class="error_label_container text-error"></div>
                <span class="help-inline" data-bind="visible:output_format() != 'mp4'">
          <span class="label label-important">Attention</span>&nbsp;Sync Output may not work correctly unless you have selected mp4.
        </span>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Sync Output</label>
            <div class="controls">
                <label class="checkbox">
                    <input name="sync_with_timelapse" type="checkbox" data-bind="checked: sync_with_timelapse"
                           title="Automatically move the finished timelapse into the standard octoprint timelapse directory"/>Enabled
                </label>
                <span class="help-inline">
          When selected Octolapse will attempt to move the most recently completed timelapses into the default Timelapse plugin folder.  Currently this only works with MP4 format.  After synchronization is complete you can access your timelapses in the default Timelapse tab.
        </span>
            </div>
        </div>
        <br/>
        <div>
            <h4>Quality and Duration</h4>
            <p>These options allow you to control the FPS, run length, pre/post roll and bitrate of the final rendered
                timelapse.</p>
        </div>
        <div class="collapsible" data-bind="visible: enabled">

            <div class="control-group">
                <label class="control-label">FPS Type</label>
                <div class="controls">
                    <select name="fps_calculation_type" data-bind="options: Octolapse.Renderings.profileOptions.rendering_fps_calculation_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: fps_calculation_type"></select>
                    <div class="error_label_container text-error"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'static'">
                <label class="control-label">Static FPS</label>
                <div class="controls">
                    <input name="fps" type="number" class="input-small ignore_hidden_errors" data-bind="value: fps"
                           min="1" required="true"/>
                    <div class="error_label_container text-error"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'duration'">
                <label class="control-label">Fixed Run Length</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input name="run_length_seconds" type="number" class="input-small ignore_hidden_errors"
                               data-bind="value: run_length_seconds" min="0.5" step="0.5"/>
                        <span class="add-on">seconds</span>
                    </div>
                    <div class="error_label_container text-error"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'duration'">
                <label class="control-label">Minimum FPS</label>
                <div class="controls">
                    <input id="octolapse_rendering_min_fps" name="min_fps" type="number"
                           class=" ignore_hidden_errors input-small" data-bind="value: min_fps" min="0.5" step="0.5"
                           required="true"/>
                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">
            When using <i>Fixed Length</i> rendering, the calculated FPS can be no less than this value.
          </span>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'duration'">
                <label class="control-label">Maximum FPS</label>
                <div class="controls">
                    <input id="octolapse_rendering_max_fps" name="max_fps" type="number"
                           class="input-small ignore_hidden_errors" data-bind="value: max_fps" min="0.5" step="0.5"
                           required="true"/>
                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">
            When using <i>Fixed Length</i> rendering, the calculated FPS can be no greater than this value.
          </span>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label">Pre-Roll</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input name="pre_roll_seconds" type="number" class="input-small"
                               data-bind="value: pre_roll_seconds" min="0" max="60" required="true"/>
                        <span class="add-on">seconds</span>
                    </div>

                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">Copies the first frame of the timelapse so that it shows for the number of seconds entered.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Post-Roll</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input name="post_roll_seconds" type="number" class="input-small"
                               data-bind="value: post_roll_seconds" min="0" max="60" required="true"/>
                        <span class="add-on">seconds</span>
                    </div>

                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">Copies the last frame of the timelapse so that it shows for the number of seconds entered.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Bitrate</label>
                <div class="controls">
                    <div class="input-append">
                        <input name="bitrate" type="text" class="input-small" data-bind="value: bitrate"
                               required="true"/>
                        <span class="add-on">kbps</span>
                        <span class="add-on">mbps</span>
                    </div>
                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">Higher bitrates mean better quality but yield a larger file.  The bitrate can be in kBit/s or MBit/s.  Examples:  8000K, 64M</span>
                </div>
            </div>
            <hr/>
            <div class="control-group">
                <a href="#" class="muted"
                   data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#rendering-advanced.hide' }">
                    <i class="fa fa-caret-right"></i> {{ _('Advanced Rendering Options') }}
                </a>
            </div>
            <div class="control-group hide" id="rendering-advanced">
                <div class="control-group">
                    <label class="control-label">Filename Template</label>
                    <div class="controls">
                        <input id="octolapse_output_template" name="output_template" type="text" class="input-block-level" data-bind="value: output_template" required="true"/>
                        <div class="error_label_container text-error"></div>
                        <p class="help-inline">
                            Determines the rendering file name.  You can use the following replacement tokens:
                            <i>
                                <span data-bind="foreach: Octolapse.Renderings.profileOptions.rendering_file_templates">
                                    <!-- ko if: $index() != 0 -->,&nbsp;<!-- /ko -->{<span data-bind="text: $data"></span>}</span>
                            </i>
                        </p>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Embed watermark</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input name="watermark" type="checkbox" data-bind="checked: enable_watermark"
                                   title="Embed a watermark in the resulting timelapse"/>Enabled
                        </label>
                        <span class="help-inline">
                          <span class="label label-important">Warning</span>&nbsp;There are known issues with this option.
                        </span>

                        <span class="help-inline">
                          <span class="label label label-info">Info</span>&nbsp;Click a filename to select it.
                        </span>
                        <table class="table table-condensed table-hover file-selector-list">
                            <tbody data-bind="foreach: watermark_list">
                                <tr data-bind="click: $parent.selectWatermark, css: { selected: filepath == $parent.selected_watermark() }">
                                    <td>
                                        <div>
                                            <span class="filename" data-bind="text: getFilename()"></div>
                                            <button type="button" class="close" aria-label="Close" data-bind="click: $parent.deleteWatermark">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <div class="filepath" data-bind="text: filepath" ></div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <div class="controls-row">
                            <div class="input-group" style="display:flex; align-items:center">
                                <span class="btn fileinput-button">
                                    <span>Upload new...</span>
                                    <input id="octolapse_watermark_path_upload" type="file" name="image" accept="image/*" data-url="{{ url_for('plugin.octolapse.upload_watermark') }}">
                                </span>
                                <span id="octolapse-upload-watermark-progress" class="progress-bar-container">
                                    <span class="progress-bar" style="width: 0%;"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="control-group">
                    <label class="control-label">Overlay</label>
                    <div class="controls">
                        <div class="form-inline">
                            <label class="fixed-width-label">Text:</label>
                            <textarea id="octolapse_overlay_text_template" name="overlay_text_template" class="col-lg" data-bind="value: overlay_text_template"/>
                            <div class="error_label_container text-error"></div>
                            <p class="help-inline">
                                Determines the overlay text. Leave blank to disable the overlay text. You can use the following replacement tokens:
                                <i>
                                    <span data-bind="foreach: Octolapse.Renderings.profileOptions.overlay_text_templates">
                                        <!-- ko if: $index() != 0 -->,&nbsp;<!-- /ko -->{<span data-bind="text: $data"></span>}</span>
                                </i>
                            </p>
                        </div>
                        <div class="form-inline">
                            <label class="fixed-width-label">Size:</label>
                            <input type="text" class="col-sm" data-bind="value: overlay_font_size"/>
                        </div>
                        <div class="form-inline">
                            <label class="fixed-width-label">Position:</label>
                            <input type="text" class="col-sm" data-bind="value: overlay_text_pos" required="true"/>
                        </div>
                        <div class="form-inline">
                            <label class="fixed-width-label">Color:</label>
                            <input type="text" class="col-sm" data-bind="value: overlay_text_color" required="true"/>
                        </div>
                        <p>Font:</p>
                        <div><span class="label label-important">Warning</span>&nbsp;Only TrueType and OpenType fonts (<code>.otf</code>, <code>.otc</code>, <code>.ttf</code>, <code>.ttc</code>, <code>.tte</code>) are supported.</div>
                        <div class="scroll-table-container">
                            <table class="table table-condensed table-hover file-selector-list">
                                <tbody data-bind="foreach: font_list">
                                    <tr data-bind="click: $parent.selectOverlayFont, css: { selected: filepath == $parent.overlay_font_path() }">
                                        <td>
                                            <div>
                                                <span class="filename" data-bind="text: getFilename()"></div>
                                            </div>
                                            <div class="filepath" data-bind="text: filepath" ></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>



