<script type="text/html" id="printer-slicer-other-template">
    <div>
        <div>
            <h4>Slicer - Other</h4>
        </div>
        <div>
            <div>
                <h5>Retraction Length/Z-Hop Distance</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_other_slicer_retract_length">*Retraction Length</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_other_slicer_retract_length" name="retract_length" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.retract_length" step="0.0001" min="0.0000" max="100.0" required/>
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#retraction-length" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_other_slicer_retract_length"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_slicer_other_z_hop">*Z-Hop Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_slicer_other_z_hop" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.z_hop" step="0.0001" min="0.0000" max="100.0" required />
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#z-hop-height" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="printer_profile_slicer_other_z_hop"></div>
                </div>
            </div>
            <div>
                <h5>Speed Settings </h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="octolapse_axis_speed_display_unit_options">Speed Display Units</label>
                <div class="controls">
                    <select id="octolapse_axis_speed_display_unit_options" data-bind="options: Octolapse.Printers.profileOptions.axis_speed_display_unit_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                        event: {change: slicers.other.axisSpeedDisplayUnitsChanged},
                                       value: slicers.other.axis_speed_display_units"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#speed-display-units"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="octolapse_axis_speed_display_unit_options"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_travel_speed">*Movement Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_travel_speed" name="travel_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.travel_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#movement-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_travel_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_retract_speed">*Retraction Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_retract_speed" name="retract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.retract_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#retraction-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_retract_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_detract_speed">*Detraction Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_detract_speed" name="detract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.detract_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#detraction-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_detract_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_print_speed">Print Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_print_speed" name="detract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.print_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#print-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_print_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_z_travel_speed">Z Movement Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_z_travel_speed" name="z_travel_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.z_travel_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#z-movement-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_z_travel_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_perimeter_speed">Perimeter Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_perimeter_speed" name="perimeter_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.perimeter_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#perimeter-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_perimeter_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_small_perimeter_speed">Small Perimeters</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_small_perimeter_speed" name="small_perimeter_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.small_perimeter_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#small-perimeter-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_other_small_perimeter_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_external_perimeter_speed">External Perimeters</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_external_perimeter_speed" name="external_perimeter_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.external_perimeter_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#external-perimeter-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_other_external_perimeter_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_infill_speed">Infill</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_infill_speed" name="infill_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.infill_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#infill-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_infill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_solid_infill_speed">Solid Infill</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_solid_infill_speed" name="solid_infill_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.solid_infill_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#solid-infill-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_solid_infill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Top Solid Infill</label>
                <div class="controls" for="slicer_other_top_solid_infill_speed">
                    <div class="input-append form-inline">
                        <input id="slicer_other_top_solid_infill_speed" name="top_solid_infill_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.top_solid_infill_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#top-solid-infill-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_other_top_solid_infill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_support_speed">Support</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_support_speed" name="support_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.support_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#support-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_support_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_bridge_speed">Bridge</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_bridge_speed" name="bridge_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.bridge_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#bridge-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_bridge_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_gap_fill_speed">Gaps</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_gap_fill_speed" name="gap_fill_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.gap_fill_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#gap-fill-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_gap_fill_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_first_layer_print_speed">First Layer</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_first_layer_print_speed" name="first_layer_print_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.first_layer_print_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#first-layer-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_first_layer_print_speed"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="slicer_other_first_layer_travel_speed">First Layer Travel Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_first_layer_travel_speed" name="first_layer_travel_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.first_layer_travel_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#first-layer-travel-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_other_first_layer_travel_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_skirt_brim_speed">Skirt/Brim Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_skirt_brim_speed" name="skirt_brim_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.skirt_brim_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#skirtbrim-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_skirt_brim_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_above_raft_speed">Above Raft Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_above_raft_speed" name="above_raft_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.above_raft_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#above-raft-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_above_raft_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_ooze_shield_speed">Ooze Shield Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_ooze_shield_speed" name="ooze_shield_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.ooze_shield_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#ooze-shield-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_ooze_shield_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_prime_pillar_speed">Prime Pillar Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_prime_pillar_speed" name="prime_pillar_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.prime_pillar_speed" min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#prime-pillar-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_other_prime_pillar_speed"></div>
                </div>
            </div>
            <div>
                <h5>Speed Tolerance</h5>
                <p>Determines how closely the speeds must match to detect a feature</p>
            </div>
            <div>
                <div class="control-group">
                    <label class="control-label" for="slicer_other_speed_tolerance">Speed Tolerance</label>
                    <div class="controls">
                        <div class="input-append form-inline">
                            <input id="slicer_other_speed_tolerance" name="speed_tolerance" type="number"
                                   class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.speed_tolerance" min="0" max="9999999"/>
                            <span class="add-on">mm</span>
                            <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                        </div>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Other-Slicer-Settings#speed-tolerance"
                           title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="slicer_other_speed_tolerance"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
