<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<div id="octolapse_add_edit_profile_dialog" class="modal fade octolapse_add_edit_dialog octolapse">

  <div class="modal-dialog" role="document">

    <div class="modal-content">
      <form id="octolapse_add_edit_profile_form" class="form-horizontal octolapse_form">
        <div class="modal-header">
            <div>
                <a class="close" aria-hidden="true">&times;</a>
                <h3 class="modal-title"></h3>
            </div>
            <div class="dialog-warning text-error" style="display:none;">
                <hr/>
                <strong><span></span></strong>
            </div>
        </div>
        <div id="octolapse_add_edit_profile_model_body" class="modal-body scrollable">
          <div data-bind="template: { name: Octolapse.Settings.AddEditProfile().templateName, data: Octolapse.Settings.AddEditProfile().profileObservable, noChildContext: true }" ></div>
        </div>
        <div class="modal-footer" style="bottom:0;position:relative">
          <div class="row-fluid">
            <div id="add_edit_validation_summary" class="alert alert-danger span12" style="display:none;">
              <div class="error-count"></div>
            </div>
          </div>
          <div class="row-fluid">
            <span class="span4">
              <button type="button" class="btn btn-default cancel input-block-level" >Cancel</button>
            </span>
            <span class="span4">
              <button type="button" class="btn btn-default set-defaults input-block-level"> Defaults</button>
            </span>
            <span class="span4">
              <button type="button" class="btn btn-primary save input-block-level" > Save</button>
            </span>

          </div>
        </div>
      </form>
    </div>
  </div>


</div>

