<script type="text/html" id="webcam-mjpg-streamer-template">
    <div class="two-columns">
        <div data-bind="foreach: controls ">
            <div data-bind="template: get_template_id_for_control($data)">
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="mjpg-streamer-numeric-control-template">
    <div class="row-fluid">
        <div class="span4">
            <span data-bind="text: name" />
        </div>
        <div class="span7">
            <input class="slider" type="range" data-bind="attr: {max: max, min: min, step: step}, octolapseSliderValue: value" required="true" />
        </div>
        <div class="span1 text-left">
            <a class="octolapse_help" data-bind="attr: {'data-help-url':('profiles.camera.webcam_settings.mjpg_streamer.options.' + id() + '.md'), 'data-help-title':name}"/>
        </div>
    </div>
</script>

<script type="text/html" id="mjpg-streamer-checkbox-control-template">
    <div class="row-fluid">
        <div class="span4">
            <label data-bind="text: name" />
        </div>
        <div class="span8">
            <label class="checkbox">
                <input name="white_balance_auto" type="checkbox" data-bind="checked: checkbox_checked, attr: {title: ('Enable or disable' + name() + '.')}" />Enabled
                <a class="octolapse_help" data-bind="attr: {'data-help-url':('profiles.camera.webcam_settings.mjpg_streamer.options.' + id() + '.md'), 'data-help-title':name}"/>
            </label>
        </div>

    </div>
</script>

<script type="text/html" id="mjpg-streamer-label-control-template">
    <div class="webcam-label-control">
        <h4 data-bind="text:name"></h4>
    </div>
</script>

<script type="text/html" id="mjpg-streamer-dropdown-control-template">

    <div class="row-fluid">
        <div class="span4">
            <label data-bind="text: name" />
        </div>
        <div class="span7">
            <select class="full-width"
                    data-bind="options: get_options,
                               optionsText: 'name',
                               optionsValue: 'value',
                               value: value">
            </select>

        </div>
        <div class="span1 text-left">
            <a class="octolapse_help" data-bind="attr: {'data-help-url':('profiles.camera.webcam_settings.mjpg_streamer.options.' + id() + '.md'), 'data-help-title':name}"/>
        </div>

    </div>
</script>

<script type="text/html" id="mjpg-streamer-unknown-control-unknown">
    <div>
        <label data-bind="text: name" />
        <p>unknown control</p>
    </div>
</script>
