<!--
  This file is subject to the terms and conditions defined in
  file called 'LICENSE', which is part of this source code package.
-->
<script type="text/html" id="snapshot-template">
    <input type="hidden" data-bind="value : guid" />
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input type="text" class="input-block-level" data-bind="value: name" required="true" />
                <div class="error_label_container text-error"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea name="description" type="text" class="input-block-level" data-bind="value: description"
                          maxlength="1024" />
                <div class="error_label_container text-error"></div>
            </div>
        </div>
    </div>
    <div data-bind="visible:(position_restrictions().length > 0)" class="text-warning">
            <p>
                <strong>
                    There <span data-bind="text: (position_restrictions().length > 1 ? 'are' : 'is')"></span> <span data-bind="text: position_restrictions().length"></span> position restriction<span data-bind="text: (position_restrictions().length > 1 ? 's' : '')"></span>
                    currently enabled.
                </strong>
            </p>
        </div>
    <hr />
    <div>
        <div>
            <h4>Layer/Height Trigger</h4>
            <span>Allows you to take snapshots either every layer or on a specific height interval.</span>
            <br />
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input class="octolapse_trigger_enabled" name="layer_trigger_enabled" type="checkbox" data-bind="checked: layer_trigger_enabled" />Enabled
                </label>
                <div class="error_label_container text-error"></div>
            </div>
        </div>
        <div data-bind="visible: layer_trigger_enabled">

            <div class="control-group">
                <label class="control-label">Trigger on Z-Hop Only</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: layer_trigger_require_zhop" />Enabled
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Trigger Height</label>
                <div class="controls">
                    <div class="input-append">
                        <input name="layer_trigger_height" type="number" class="input-small ignore_hidden_errors"
                               data-bind="value: layer_trigger_height" min="0.0" step="0.01" required="true" />
                        <span class="add-on">mm</span>
                    </div>
                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">Use 0mm to trigger on every layer, regardless of the layer height.</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <small>
                        <a href="#" class="muted"
                           data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_height_advanced.hide' }">
                            <i class="fa fa-caret-right"></i> {{ _('Advanced Layer/Height Trigger Options') }}
                        </a>
                    </small>
                </div>
            </div>
            <div id="trigger_height_advanced" class="hide">

                <div>
                    <div>
                        <h5>Layer Trigger Extruder State Requirements</h5>
                        <p>
                            Set extruder requirements for taking a snapshot. The extruder state will be ignored if all
                            of the options are set to <i>Ignore</i>.
                        </p>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Extrusion Starting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_extruding_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">During Extrusion</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_extruding"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Extruder Primed</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_primed"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Retracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_retracting_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Retracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_retracting"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Partially Retracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_partially_retracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fully Retracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_retracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Detracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_detracting_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Detracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_detracting"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Detracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_detracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <h4>Timer Trigger</h4>
            <span>Allows you to take snapshots on a time interval.</span>
            <br />
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input class="octolapse_trigger_enabled" name="timer_trigger_enabled" type="checkbox" data-bind="checked: timer_trigger_enabled" />Enabled
                </label>
                <div class="error_label_container text-error"></div>
            </div>
        </div>
        <div data-bind="visible: timer_trigger_enabled">
            <div class="control-group">
                <label class="control-label">Trigger on Z-Hop Only</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: timer_trigger_require_zhop" />Enabled
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Seconds to Trigger</label>
                <div class="controls">
                    <input name="timer_trigger_seconds" type="number" class="input-small ignore_hidden_errors"
                           data-bind="value: timer_trigger_seconds" min="0" required="true" />
                    <div class="error_label_container text-error"></div>
                    <span class="help-inline">Pause time is not counted when determining when to trigger.</span>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <small>
                        <a href="#" class="muted"
                           data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_timer_advanced.hide' }">
                            <i class="fa fa-caret-right"></i> {{ _('Advanced Timer Trigger Options') }}
                        </a>
                    </small>
                </div>
            </div>
            <div id="trigger_timer_advanced" class="hide collapsible">
                <div>
                    <div>
                        <h5>Timer Trigger Extruder State Requirements</h5>
                        <p>
                            Set extruder requirements for taking a snapshot. The extruder state will be ignored if all
                            of
                            the options are set to <i>Ignore</i>.
                        </p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Extrusion Starting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_extruding_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">During Extrusion</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_extruding"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Extruder Primed</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_primed"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Retracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_retracting_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Retracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_retracting"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Partially Retracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_partially_retracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fully Retracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_retracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Detracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_detracting_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Detracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_detracting"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Detracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_detracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <h4>Gcode Trigger</h4>
            <span>This allows you to insert custom GCode (see printer settings for the snapshot command) that will trigger a snapshot.  This is the most precise way to define when snapshots should occur, but it takes a bit more effort.</span>
            <br />
        </div>
        <div class="control-group">
            <div class="controls">
                <label class="checkbox">
                    <input class="octolapse_trigger_enabled" name="gcode_trigger_enabled" type="checkbox" data-bind="checked: gcode_trigger_enabled" />Enabled
                </label>
                <div class="error_label_container text-error"></div>
            </div>
        </div>
        <div data-bind="visible: gcode_trigger_enabled">
            <div class="control-group">
                <label class="control-label">Trigger on Z-Hop Only</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: gcode_trigger_require_zhop" />Enabled
                    </label>
                </div>
            </div>
            <div class="control-group">
                <div class="controls">
                    <small>
                        <a href="#" class="muted"
                           data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_gcode_advanced.hide' }">
                            <i class="fa fa-caret-right"></i> {{ _('Advanced GCode Trigger Options') }}
                        </a>
                    </small>
                </div>
            </div>
            <div id="trigger_gcode_advanced" class="hide">
                <div>
                    <div>
                        <h5>Gcode Trigger Extruder State Requirements</h5>
                        <p>
                            Set extruder requirements for taking a snapshot. The extruder state will be ignored if all of
                            the options are set to <i>Ignore</i>.
                        </p>
                    </div>

                    <div class="control-group">
                        <label class="control-label">Extrusion Starting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: gcode_trigger_on_extruding_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">During Extrusion</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: gcode_trigger_on_extruding"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Extruder Primed</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_primed"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Retracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_retracting_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Retracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_retracting"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Partially Retracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_partially_retracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fully Retracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_retracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Detracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_detracting_start"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Detracting</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_detracting"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Detracted</label>
                        <div class="controls">
                            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_detracted"></select>
                            <div class="error_label_container text-error"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
        <div>
            <div><h5>Lift and Retract</h5></div>
            <div class="control-group">
                <label class="control-label">Retract Before Move</label>
                <div class="controls">
                    <label class="checkbox" title="If not retracted, retract before move">
                        <input type="checkbox" data-bind="checked: retract_before_move" /> Enabled
                    </label>
                    <span class="help-inline">If enabled, Octolapse will retract up to the length specified in the active printer profile.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Lift Before Move</label>
                <div class="controls">
                    <label class="checkbox" title="If not lifted, lift before move">
                        <input type="checkbox" data-bind="checked: lift_before_move" /> Enabled
                    </label>
                    <span class="help-inline">If enabled, Octolapse will lift up to the length specified in the active printer profile.</span>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <div>
        <div data-bind="visible:(position_restrictions().length > 0)" class="text-warning">
            <p>
                <strong>
                    There <span data-bind="text: (position_restrictions().length > 1 ? 'are' : 'is')"></span> <span data-bind="text: position_restrictions().length"></span> position restriction<span data-bind="text: (position_restrictions().length > 1 ? 's' : '')"></span>
                    currently enabled.
                </strong>
            </p>
        </div>

        <div>
            <small>
                <a href="#" class="muted"
                   data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#snapshot_trigger_advanced.hide' }">
                    <i class="fa fa-caret-right"></i> {{ _('Advanced Snapshot Trigger Options') }}
                </a>
            </small>
        </div>
        <div id="snapshot_trigger_advanced" class="control-group hide">
            <div>
                <h4>Advanced Snapshot Settings</h4>
            </div>
            <div>
                <div>
                    <h5>Position Restrictions</h5>
                    <p>
                        Restrict snapshots so that they can only occur within the boundries, either rectangular or
                        circular, you set. You can add as many as you require.
                    </p>
                    <p>
                        <span class="label label-important">Warning</span>&nbsp;This is a Beta feature.
                    </p>
                </div>
                <!-- Add new position restriction -->
                <div class="control-group">
                    <label class="control-label">Position Restriction Type</label>
                    <div class="controls">
                        <select data-bind="options: Octolapse.Snapshots.profileOptions.position_restriction_types,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: new_position_restriction_type"></select>
                        <div class="error_label_container text-error"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Position Restriction Shape</label>
                    <div class="controls">
                        <select data-bind="options: Octolapse.Snapshots.profileOptions.position_restriction_shapes,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: new_position_restriction_shape"></select>
                        <div class="error_label_container text-error"></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">X</span>
                                    <input id="octolapse_new_position_restriction_x"
                                           name="new_position_restriction_x" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_x" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error"></div>
                            </div>
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">Y</span>
                                    <input id="octolapse_new_position_restriction_y"
                                           name="new_position_restriction_y" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_y" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: new_position_restriction_shape() == 'rect'">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">X2</span>
                                    <input id="octolapse_new_position_restriction_x2"
                                           name="new_position_restriction_x2" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_x2" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error"></div>
                            </div>
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">Y2</span>
                                    <input id="octolapse_new_position_restriction_y2"
                                           name="new_position_restriction_y2" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_y2" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: new_position_restriction_shape() == 'circle'">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="input-prepend input-append">
                                    <span class="add-on">Radius</span>
                                    <input id="octolapse_new_position_restriction_r"
                                           name="new_position_restriction_r" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_r" step="any" min="0"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: new_calculate_intersections"
                                   title="Calculate intersections and trigger if an intersection is in position." />Calculate
                            Intersections
                        </label>
                        <span class="help-inline">
                            When selected, Octolapse will attempt to calculate an intersection between the currently printing line and any position restrictions.  If there are intersections, Octolapse alters the gcode so that a snapshot can trigger at one of the in-position intersections.
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <small>
                            <a href="#" class="btn btn-default"
                               data-bind="click: function(){$data.addPositionRestriction();}">
                                Add Position
                                Restriction
                            </a>
                        </small>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: (position_restrictions().length > 0)">
                    <div class="controls">
                        <div>
                            <div>
                                <h4>
                                    Current Position Restrictions
                                </h4>
                            </div>
                            <table class="table-striped table-hover table-condensed table-hover octolapse-profiles">
                                <thead>
                                    <tr>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Shape
                                        </th>
                                        <th>
                                            X
                                        </th>
                                        <th>
                                            Y
                                        </th>
                                        <th>
                                            X2
                                        </th>
                                        <th>
                                            Y2
                                        </th>
                                        <th>
                                            R
                                        </th>
                                        <th>
                                            Intersect
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: position_restrictions">
                                    <tr>
                                        <td data-bind="text: Type"></td>
                                        <td data-bind="text: Shape"></td>
                                        <td data-bind="text: X"></td>
                                        <td data-bind="text: Y"></td>
                                        <td data-bind="text: (Shape == 'rect' ? X2 : '')"></td>
                                        <td data-bind="text: (Shape == 'rect' ? Y2 : '')"></td>
                                        <td data-bind="text: (Shape == 'circle' ? R : '')"></td>
                                        <td data-bind="text: (CalculateIntersections ? 'True' : 'False')"></td>
                                        <td>
                                            <a href="#" class="btn btn-default"
                                               data-bind="click: function() {$parent.removePositionRestriction($index);}">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <div>
                <div><h5>Snaphot Image Removal</h5></div>
                <div class="control-group">
                    <label class="control-label">Clean Snapshots After Rendering</label>
                    <div class="controls">
                        <label class="checkbox" title="Clean temporary snapshots after a timelapse is rendered">
                            <input type="checkbox" data-bind="checked: cleanup_after_render_complete"
                                   title="After timelapse is rendered" />Enabled
                        </label>
                        <span class="help-inline">
                            <span class="label label-important">Warning</span>&nbsp;Currently this process will delete ALL temporary images, even those taken during a different timelapse.
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Clean Snapshots After Rendering Failure</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: cleanup_after_render_fail"
                                   title="After timelapse fails" />Enabled
                        </label>
                        <span class="help-inline">
                            <span class="label label-important">Warning</span>&nbsp; There are known issues with this setting, but it should not cause any errors.  Currently this process will delete ALL temporary images, even those taken during a different timelapse.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>



