<script type="text/html" id="camera-template">
  <input type="hidden"  data-bind="value : guid" />
  <div class="control-group">
    <label class="control-label">Camera Profile Name</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: name"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Camera Http Address (full address including http:// or https://)</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: address"/>
      <div class="error_label_container text-error" ></div>
    </div>
    
  </div>
  <div class="control-group">
    <label class="control-label">Snapshot Request Template</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: snapshot_request_template"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#camera-advanced.hide' }">
      <i class="fa fa-caret-right"></i> {{ _('Advanced Camera Options') }}
    </a>
  </div>
  <div id="camera-advanced" class="control-group hide">
    <div class="control-group">
      <label class="control-label">Ignore any SSL errors at the camera address.</label>
      <div class="controls">
        <input type="checkbox" data-bind="checked: ignore_ssl_error" />Ignore SSL
        <span class="help-inline">
          <span class="label label-important">Attention</span>Using this option will solve SSL issues if you are trying to stream your camera over https, but could leave you open to man in the middle attacks.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">If required="true", enter a username to be sent with the camera snapshot request</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: username"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">If required="true", enter a password to be sent with the camera snapshot request</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: password"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Auto-Apply Camera Settings Before Print</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: apply_settings_before_print" title="Auto-Apply Camera Settings Before Print."/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Brightness (0-255)</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: brightness"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Contrast (0-255)</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: contrast"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Saturation (0-255)</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: saturation"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Auto White Balance</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: white_balance_auto" title="Enable or disable auto white balance."/>Enabled
          <div class="error_label_container text-error" ></div>
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Gain</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: gain"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Powerline Frequency</label>
      <div class="controls">
        
        
        <select data-bind="options: Octolapse.Cameras.profileOptions.camera_powerline_frequency_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: powerline_frequency"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">White Balance Temeprature (in Kelvin)</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: white_balance_temperature"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Sharpness (0-255)</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: sharpness"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Backlight Compensation</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: backlight_compensation_enabled" title="Enable or disable backlight compensation."/>Enabled
        </label>
      </div>
    </div>
    
    <div class="control-group">
      <label class="control-label">Exposure Type</label>
      <div class="controls">       
        <select data-bind="options: Octolapse.Cameras.profileOptions.camera_exposure_type_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: exposure_type"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Exposure</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: exposure"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Exposure Auto Priority</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: exposure_auto_priority_enabled" />Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Pan</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: pan"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Tilt</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: tilt"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Autofocus Enabled</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: autofocus_enabled" title="Enable or disable autofocus."/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Absolute Focus (will not work with autofocus enabled)</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: focus"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Zoom</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: zoom"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Led 1 Mode</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Cameras.profileOptions.camera_led_1_mode_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: led1_mode"></select>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Led 1 Frequency</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: led1_frequency"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Jpeg Quality</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: jpeg_quality"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Brightness Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: brightness_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Contrast Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: contrast_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Saturation Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: saturation_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">White Balance Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: white_balance_auto_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Gain Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: gain_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Powerline Frequency Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: powerline_frequency_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">White Balance Temperature Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: white_balance_temperature_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Sharpness Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: sharpness_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Backlight Compensation Enabled Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: backlight_compensation_enabled_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Exposure Type Request Templatey</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: exposure_type_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Exposure Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: exposure_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Auto Priority Enabled Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: exposure_auto_priority_enabled_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Pan Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: pan_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Tilt Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: tilt_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Autofocus Enabled Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: autofocus_enabled_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Focus Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: focus_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Zoom Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: zoom_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Led1 Mode Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: led1_mode_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Led1 Frequency Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: led1_frequency_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Jpeg Quality Request Template</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: jpeg_quality_request_template"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
  </div>
</script>



