<script type="text/html" id="printer-slicer-automatic-template">
<p>

</p>
    <div class="control-group">
                <div class="controls">
                    <p>
                        <span class="help-inline">
                            <span class="label label-important">IMPORTANT</span>
                            <strong>CURA users must follow <a href="https://github.com/FormerLurker/Octolapse/wiki/V0.4---Automatic-Slicer-Configuration#install-the-cura-settings-script" target="_blank">THIS GUIDE</a> else you will have problems.</strong>
                        </span>
                    </p>
                    <p>
                        <span class="help-inline">
                            <span class="label label-important">IMPORTANT</span>
                            <strong>Slic3r, Slic3r PE, and PrusaSlicer users must follow <a href="https://github.com/FormerLurker/Octolapse/wiki/V0.4---Slic3r-Slic3r-PE-and-PrusaSlicer" target="_blank">THIS GUIDE</a> to enable Verbose G-code commments, else you will have quality issues.</strong>
                        </span>
                    </p>

                </div>
            </div>
</script>
