<script type="text/html" id="rendering-template">

  <input type="hidden"  data-bind="value : guid" />
  <div class="control-group">
    <label class="control-label">Rendering Profile Name</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: name" required="true"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <label class="control-label">Timelapse Generation</label>
    <div class="controls">
      <label class="checkbox">
        <input name="rendering_enabled" type="checkbox" data-bind="checked: enabled" title="Enable or disable timelapse generation"/>Enabled
      </label>
      <span class="help-inline">
        <span class="label label-important">Attention</span>This option currently will only work if you are rendering .mp4 video.  The default timelapse module does not support any other format currently.  Perhaps a feature request is in order?
      </span>
    </div>
  </div>
  <div class="collapsible" data-bind="visible: enabled">
    <div class="control-group">
      <label class="control-label" >Bitrate</label>
      <div class="controls">
        <div class="input-append">
          <input name="bitrate" type="text" class="input-small" data-bind="value: bitrate" required="true"/>  
          <span class="add-on">kbps</span>
          <span class="add-on">mbps</span>
        </div>
        <div class="error_label_container text-error" ></div>
        <span class="help-inline">Higher bitrates mean better quality but yield a larger file.  The bitrate can be in kBit/s or MBit/s.  Examples:  8000K, 64M</span>
      </div>
      
    </div>
    
    <div class="control-group">
      <label class="control-label" >FPS Type</label>
      <div class="controls">
        <select name="fps_calculation_type" data-bind="options: Octolapse.Renderings.profileOptions.rendering_fps_calculation_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: fps_calculation_type"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group"  data-bind="visible: fps_calculation_type() === 'static'">
      <label class="control-label" >Static FPS</label>
      <div class="controls">
        <input name="fps" type="number" class="input-small ignore_hidden_errors" data-bind="value: fps" min="1" required="true"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group"  data-bind="visible: fps_calculation_type() === 'duration'">
      <label class="control-label" >Fixed Run Length in Seconds</label>
      <div class="controls">
        <input name="run_length_seconds" type="number" class="input-block-level ignore_hidden_errors" data-bind="value: run_length_seconds" min="0.5" step="0.5"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Sync Output with the default Timelapse plugin</label>
      <div class="controls">
        <label class="checkbox">
          <input name="sync_with_timelapse" type="checkbox" data-bind="checked: sync_with_timelapse" title="Automatically move the finished timelapse into the standard octoprint timelapse directory."/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Pre-Roll Seconds</label>
      <div class="controls">
        <input name="pre_roll_seconds" type="number" class="input-small" data-bind="value: pre_roll_seconds" min="0" max="60" required="true"/>
        <div class="error_label_container text-error" ></div>
        <span class="help-inline">Copies the first frame of the timelapse so that it shows for the number of seconds entered.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Post-Roll Seconds</label>
      <div class="controls">
        <input name="post_roll_seconds" type="number" class="input-small" data-bind="value: post_roll_seconds" min="0" max="60" required="true"/>
        <div class="error_label_container text-error" ></div>
        <span class="help-inline">Copies the last frame of the timelapse so that it shows for the number of seconds entered.</span>
      </div>
    </div>
    <div class="control-group">
      <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#rendering-advanced.hide' }">
        <i class="fa fa-caret-right"></i> {{ _('Advanced Rendering Options') }}
      </a>
    </div>
    <div class="control-group hide" id="rendering-advanced">
      <div class="control-group">
        <label class="control-label">Flip Horizontal</label>
        <div class="controls">
          <label class="checkbox">
            <input name="flip_h" type="checkbox" data-bind="checked: flip_h" title="Flip the resulting timelapse along the horizontal axis"/>Enabled
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Flip Vertical</label>
        <div class="controls">
          <label class="checkbox">
            <input name="flip_v" type="checkbox" data-bind="checked: flip_v" title="Flip the resulting timelapse along the vertical axis"/>Enabled
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Rotate 90 Degrees</label>
        <div class="controls">
          <label class="checkbox">
            <input name="rotate_90" type="checkbox" data-bind="checked: rotate_90" title="Rotate the resulting timelapse 90 degrees"/>Enabled
          </label>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">Embed watermark</label>
        <div class="controls">
          <label class="checkbox">
            <input name="watermark" type="checkbox" data-bind="checked: watermark" title="Embed a watermark in the resulting timelapse"/>Enabled
          </label>
          <span class="help-inline">
            <span class="label label-important">Warning</span>There are known issues with this option.
          </span>
        </div>
        

      </div>
      <div class="control-group">
        <label class="control-label" >Maximum FPS</label>
        <div class="controls">
          <input id="octolapse_rendering_max_fps" name="max_fps" type="number" class="input-small" data-bind="value: max_fps" min="0.5" step="0.5" required="true"/>
          <div class="error_label_container text-error" ></div>
          <span class="help-inline">
            When using 'Fixed Length' rendering, the calculated FPS can be no greater than this value.
          </span>
        </div>
        
      </div>
      <div class="control-group">
        <label class="control-label" >Minimum FPS</label>
        <div class="controls">
          <input id="octolapse_rendering_min_fps" name="min_fps" type="number" class="input-small" data-bind="value: min_fps" min="0.5" step="0.5" required="true"/>
          <div class="error_label_container text-error" ></div>
          <span class="help-inline">
            When using 'Fixed Length' rendering, the calculated FPS can be no less than this value.
          </span>
        </div>
        
      </div>
      <div class="control-group">
        <label class="control-label" >Output File Format</label>
        <div class="controls">
          <select name="output_format" data-bind="options: Octolapse.Renderings.profileOptions.rendering_output_format_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: output_format"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
    </div>
  </div>
</script>



