<script type="text/html" id="printer-slicer-cura-template">
    <div>
        <div>
            <h4>Slicer - Cura</h4>
            <p>Match all of the speed settings in your current slicer profile with all of the settings below. In order to
                use feature detection (used in the 'high quality' snapshot profiles), it is best if each speed is unique.
                Make sure to use the correct units!</p>

        </div>
        <div>
            <div>
                <h5>Material</h5>
            </div>
                <div class="control-group">
                    <label class="control-label" for="printer_profile_cura_retraction_enable">Retraction Enabled</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input id="printer_profile_cura_retraction_enable" name="retraction_enable" type="checkbox" data-bind="checked: slicers.cura.retraction_enable" title="Enable retraction" />Enabled
                            <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles#auto-detect-position" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span>TODO</a>
                        </label>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="printer_profile_cura_retraction_amount">Retraction Distance</label>
                    <div class="controls">
                        <div class="input-append form-inline">
                            <input id="printer_profile_cura_retraction_amount" name="retraction_amount" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_amount" step="0.0001" min="0" max="100.0" required/>
                            <span class="add-on">mm</span>
                        </div>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#retraction-distance" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="printer_profile_cura_retraction_amount"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="slicer_cura_retraction_retract_speed">Retraction Retract Speed</label>
                    <div class="controls">
                        <div class="input-append form-inline">
                            <input id="slicer_cura_retraction_retract_speed" name="retraction_retract_speed" type="number"
                                   class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_retract_speed" step="0.0001" min="0"
                                   max="9999999" required/>
                            <span class="add-on">mm</span>
                            <span class="add-on">sec</span>
                        </div>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#retraction-retract-speed"
                           title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="slicer_cura_retraction_retract_speed"></div>
                    </div>
                </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_retraction_prime_speed">Retraction Prime Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_retraction_prime_speed" name="retraction_prime_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_prime_speed" step="0.0001" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#retraction-prime-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_retraction_prime_speed"></div>
                </div>
            </div>
            <div>
                <h5>Speed</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_print">Print Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_print" name="speed_print" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_print" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#print-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_print"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_infill">Infill Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_infill" name="speed_infill" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_infill" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#infill-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_infill"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_wall_0">Outer Wall Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_wall_0" name="speed_wall_0" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_wall_0" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#outer-wall-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_wall_0"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_wall_x">Inner Wall Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_wall_x" name="speed_wall_x" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_wall_x" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#inner-wall-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_wall_x"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_topbottom">Top/Bottom Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_topbottom" name="speed_topbottom" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_topbottom" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#topbottom-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_cura_speed_topbottom"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_travel">Travel Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_travel" name="speed_travel" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_travel" step="0.0001" min="0"
                               max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#travel-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_travel"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_print_layer_0">Initial Layer Print Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_print_layer_0" name="speed_print_layer_0" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_print_layer_0" step="0.0001"
                               min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#initial-layer-print-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_cura_speed_print_layer_0"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_travel_layer_0">Initial Layer Travel Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_travel_layer_0" name="speed_travel_layer_0" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_travel_layer_0" step="0.0001"
                               min="0" max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#initial-layer-travel-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error"
                         data-error-for="slicer_cura_speed_travel_layer_0"></div>
                </div>
            </div>

            <div class="control-group">
                <label class="control-label" for="slicer_cura_skirt_brim_speed">Skirt/Brim Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_skirt_brim_speed" name="skirt_brim_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.skirt_brim_speed" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#skirtbrim-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_skirt_brim_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_max_feedrate_z_override">Maximum Z Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_max_feedrate_z_override" name="max_feedrate_z_override" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.max_feedrate_z_override" step="0.0001" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#maximum-z-speed"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_max_feedrate_z_override"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_speed_slowdown_layers">Number of Slower Layers</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_speed_slowdown_layers" name="num_slow_layers" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.speed_slowdown_layers" step="1" min="0"
                               max="9999999"/>
                        <span class="add-on">mm</span>
                        <span class="add-on">sec</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#number-of-slower-layers"
                       title="Get help with this setting." target="_blank"><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_speed_slowdown_layers"></div>
                </div>
            </div>

            <div>
                <h5>Travel</h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_retraction_hop_enabled">Z Hop When Retracted</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="slicer_cura_retraction_hop_enabled" name="retraction_hop_enabled" type="checkbox" data-bind="checked: slicers.cura.retraction_hop_enabled" title="Enable retraction" />Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#z-hop-when-retracted" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span>TODO</a>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_retraction_hop">Z Hop Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_retraction_hop" name="z_hop" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.retraction_hop" step="0.0001" min=".00" max="100.0" required />
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#z-hop-height" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_retraction_hop"></div>
                </div>
            </div>
            <div>
                <h5>
                    Quality
                </h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_layer_height">Layer Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_cura_layer_height" name="slicer_cura_layer_height" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.cura.layer_height" step="0.0001" min="0" max="100.0"/>
                        <span class="add-on">mm</span>
                    </div>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#layer-height" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_layer_height"></div>
                </div>
            </div>
            <div>
                <h5>
                    Special Modes
                </h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_cura_smooth_spiralized_contours">Spiralize Outer Contour (vase mode)</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="slicer_cura_smooth_spiralized_contours" name="slicer_cura_smooth_spiralized_contours" type="checkbox" data-bind="checked: slicers.cura.smooth_spiralized_contours" title="Spiralize Outer Contour (vase mode)" />Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Printer-Profiles---Cura-Settings#spiralize-outer-contour" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span>TODO</a>
                    </label>
                    <div class="error_label_container text-error" data-error-for="slicer_cura_smooth_spiralized_contours"></div>
                </div>
            </div>
        </div>
    </div>
</script>
