<script type="text/html" id="printer-slicer-other-template">
    <div>
        <div>
            <h4>Slicer - Other</h4>
        </div>
        <div>
            <div>
                <h5>Retraction Length/Z-Hop Distance</h5>
            </div>
            <div class="control-group">
                    <label class="control-label" for="printer_profile_other_retraction_enable">Retraction Enabled</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input id="printer_profile_other_retraction_enable" name="retraction_enable" type="checkbox" data-bind="checked: slicers.other.retraction_enable" title="Enable retraction" />Enabled
                            <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.retraction_enable.md" data-help-title="Retraction Enabled"/>
                        </label>
                    </div>
                </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_other_slicer_retract_length">*Retraction Length</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_other_slicer_retract_length" name="retract_length" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.retract_length" step="0.0001" min="0.0000" max="100.0" required/>
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.retract_length.md" data-help-title="Retraction Length"/>
                    <div class="error_label_container text-error" data-error-for="printer_profile_other_slicer_retract_length"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="printer_profile_slicer_other_z_hop">*Z-Hop Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="printer_profile_slicer_other_z_hop" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.z_hop" step="0.0001" min="0.0000" max="100.0" required />
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.z_hop.md" data-help-title="Z-Hop Height"/>
                    <div class="error_label_container text-error" data-error-for="printer_profile_slicer_other_z_hop"></div>
                </div>
            </div>
            <div>
                <h5>Speed Settings </h5>
            </div>
            <div class="control-group">
                <label class="control-label" for="octolapse_axis_speed_display_unit_options">Speed Display Units</label>
                <div class="controls">
                    <select id="octolapse_axis_speed_display_unit_options" data-bind="options: Octolapse.Printers.profileOptions.axis_speed_display_unit_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                        event: {change: slicers.other.axisSpeedDisplayUnitsChanged},
                                       value: slicers.other.axis_speed_display_units"></select>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.axis_speed_display_unit_options.md" data-help-title="Speed Display Units"/>
                    <div class="error_label_container text-error"
                         data-error-for="octolapse_axis_speed_display_unit_options"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_travel_speed">*Movement Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_travel_speed" name="travel_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.travel_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.travel_speed.md" data-help-title="Movement Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_other_travel_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_retract_speed">*Retraction Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_retract_speed" name="retract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.retract_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.retract_speed.md" data-help-title="Retraction Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_other_retract_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_deretract_speed">*Deretraction Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_deretract_speed" name="deretract_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.deretract_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.deretract_speed.md" data-help-title="Deretraction Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_other_deretract_speed"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_z_travel_speed">Z Movement Speed</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_z_travel_speed" name="z_travel_speed" type="number"
                               class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.z_travel_speed" min="0" max="9999999" required/>
                        <span class="add-on">mm</span>
                        <span class="add-on" data-bind="text: slicers.other.getAxisSpeedTimeUnit">?</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.z_travel_speed.md" data-help-title="Z Movement Speed"/>
                    <div class="error_label_container text-error" data-error-for="slicer_other_z_travel_speed"></div>
                </div>
            </div>
            <div>
                <h5>Layer Settings</h5>
            </div>
            <div class="control-group">
                    <label class="control-label" for="slicer_other_vase_mode">Vase Mode</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input id="slicer_other_vase_mode" name="slicer_other_vase_mode" type="checkbox" data-bind="checked: slicers.other.vase_mode" title="Enable retraction" />Enabled
                            <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.vase_mode.md" data-help-title="Vase Mode"/>
                        </label>
                        <div class="error_label_container text-error" data-error-for="slicer_other_vase_mode"></div>
                    </div>
                </div>
            <div class="control-group">
                <label class="control-label" for="slicer_other_slicer_layer_height">Layer Height</label>
                <div class="controls">
                    <div class="input-append form-inline">
                        <input id="slicer_other_slicer_layer_height" name="slicer_other_slicer_layer_height" type="number" class="input-small text-right ignore_hidden_errors" data-bind="value: slicers.other.layer_height" step="0.0001" min="0.0000" max="100.0"/>
                        <span class="add-on">mm</span>
                    </div>
                    <a class="octolapse_help" data-help-url="profiles.printer.slicers.other.slicer_other_slicer_layer_height.md" data-help-title="Layer Height"/>
                    <div class="error_label_container text-error" data-error-for="slicer_other_slicer_layer_height"></div>
                </div>
            </div>
        </div>
    </div>
</script>
