<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2017  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="rendering-template">

    <input type="hidden" data-bind="value : guid" />
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input id="rendering_profile_name" type="text" class="input-block-level" data-bind="value: name" required="true" />
                <div class="error_label_container text-error" data-error-for="rendering_profile_name"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea id="rendering_profile_description" name="description" type="text" class="input-block-level" data-bind="value: description"
                          maxlength="1024" />
                <div class="error_label_container text-error" data-error-for="rendering_profile_description"></div>
            </div>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label">Timelapse Generation</label>
        <div class="controls">
            <label class="checkbox">
                <input name="rendering_enabled" type="checkbox" data-bind="checked: enabled"
                       title="Enable or disable timelapse generation" />Enabled
                <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#timelapse-generation" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
            </label>
            <span class="help-inline">
                When disabled, no timelapse will be generated.  This can be useful if you want to manually generate your own timelapse.
            </span>
        </div>
    </div>
    <div data-bind="visible:enabled">
        <div>
            <hr />
            <div>
                <h4>Output and Sync</h4>
            </div>
            <div class="control-group">
                <label class="control-label">Output Format (Codec)</label>
                <div class="controls">
                    <select class="ignore_hidden_errors" id="rendering_profile_output_format" name="output_format" data-bind="options: Octolapse.Renderings.profileOptions.rendering_output_format_options,
                                 optionsText: 'name',
                                 optionsValue: 'value',
                                 optionsCaption: 'Select One...',
                                 value: output_format"></select>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#output-file-format" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_output_format"></div>
                    <span class="help-inline" data-bind="visible: !can_synchronize_format()">
                        <span class="label label-important">Attention</span>&nbsp;Sync Output may not work correctly unless you have selected mp4.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Sync Output</label>
                <div class="controls">
                    <label class="checkbox">
                        <input name="sync_with_timelapse" type="checkbox" data-bind="checked: sync_with_timelapse"
                               title="Automatically move the finished timelapse into the standard octoprint timelapse directory" />Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#sync-output" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                    <span class="help-inline">
                        When selected Octolapse will attempt to move the most recently completed timelapses into the default Timelapse plugin folder.  Currently this only works with MP4 format.  After synchronization is complete you can access your timelapses in the default Timelapse tab.
                    </span>
                </div>
            </div>
        </div>
        <div>
            <hr/>
            <div>
                <h4>Quality and Duration</h4>
                <p>
                    These options allow you to control the FPS, run length, pre/post roll and bitrate of the final rendered
                    timelapse.
                </p>
            </div>
            <div class="control-group">
                <label class="control-label">FPS Type</label>
                <div class="controls">
                    <select class="ignore_hidden_errors" id="rendering_profile_fps_calculation_type" name="fps_calculation_type" data-bind="options: Octolapse.Renderings.profileOptions.rendering_fps_calculation_options,
                                optionsText: 'name',
                                optionsValue: 'value',
                                optionsCaption: 'Select One...',
                                value: fps_calculation_type"></select>

                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#fps-types" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>

                    <div class="error_label_container text-error" data-error-for="rendering_profile_fps_calculation_type"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'static'">
                <label class="control-label">Static FPS</label>
                <div class="controls">
                    <input id="rendering_profile_fps" name="fps" type="number" class="input-small ignore_hidden_errors" data-bind="value: fps"
                           min="1" required="true" />
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#fps-type---fixed-fps" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_fps"></div>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'duration'">
                <label class="control-label">Fixed Run Length</label>
                <div class="controls">
                    <span class="input-append">
                        <input id="octolapse_run_length_seconds" name="run_length_seconds" type="number" class="input-small ignore_hidden_errors"
                               data-bind="value: run_length_seconds" min="0.5" step="0.5" required="true" />
                        <span class="add-on">seconds</span>
                    </span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#fixed-run-length" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_run_length_seconds"></div>

                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'duration'">
                <label class="control-label">Minimum FPS</label>
                <div class="controls">
                    <input id="rendering_profile_min_fps" name="min_fps" type="number"
                           class="ignore_hidden_errors input-small" data-bind="value: min_fps" min="0.5" step="0.5"
                           required="true" />
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#minimum-fps" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_min_fps"></div>
                    <span class="help-inline">
                        When using <i>Fixed Length</i> rendering, the calculated FPS can be no less than this value.
                    </span>
                </div>
            </div>
            <div class="control-group" data-bind="visible: fps_calculation_type() === 'duration'">
                <label class="control-label">Maximum FPS</label>
                <div class="controls">
                    <input id="rendering_profile_max_fps" name="max_fps" type="number"
                           class="input-small ignore_hidden_errors" data-bind="value: max_fps" min="0.5" step="0.5"
                           required="true" />
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#maximum-fps" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_max_fps"></div>
                    <span class="help-inline">
                        When using <i>Fixed Length</i> rendering, the calculated FPS can be no greater than this value.
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Pre-Roll</label>
                <div class="controls">
                    <span class="input-append">
                        <input id="rendering_profile_pre_roll_seconds" name="pre_roll_seconds" type="number" class="input-small ignore_hidden_errors"
                               data-bind="value: pre_roll_seconds" min="0" max="60" required="true" />
                        <span class="add-on">seconds</span>
                    </span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#pre-roll" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_pre_roll_seconds"></div>
                    <span class="help-inline">Copies the first frame of the timelapse so that it shows for the number of seconds entered.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Post-Roll</label>
                <div class="controls">
                    <span class="input-append">
                        <input id="rendering_profile_post_roll_seconds" name="post_roll_seconds" type="number" class="input-small ignore_hidden_errors"
                           data-bind="value: post_roll_seconds" min="0" max="60" required="true" />
                        <span class="add-on">seconds</span>
                    </span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#post-roll" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_post_roll_seconds"></div>
                    <span class="help-inline">Copies the last frame of the timelapse so that it shows for the number of seconds entered.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Bitrate</label>
                <div class="controls">
                    <span class="input-append">
                        <input id="rendering_profile_bitrate" name="bitrate" type="text" class="input-small ignore_hidden_errors" data-bind="value: bitrate"
                               required="true" />
                        <span class="add-on">kbps</span>
                        <span class="add-on">mbps</span>
                    </span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#bitrate" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_bitrate"></div>
                    <span class="help-inline">Higher bitrates mean better quality but yield a larger file.  The bitrate can be in kBit/s or MBit/s.  Examples:  8000K, 64M</span>
                </div>
            </div>
        </div>
        <div>
            <hr />
            <div>
                <h4>Watermark</h4>
                <p>
                    These options allow you to add a watermark to your timelapse
                </p>
            </div>
            <div class="control-group">
                <label class="control-label">Embed watermark</label>
                <div class="controls">
                    <label class="checkbox">
                        <input name="watermark" type="checkbox" data-bind="checked: enable_watermark"
                               title="Embed a watermark in the resulting timelapse" />Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#embed-watermark" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                </div>
            </div>
            <div data-bind="visible: enable_watermark">
                <div class="control-group">
                    <div class="controls">
                        <table data-bind="visible: watermark_list().length > 0" class="table table-condensed table-hover file-selector-list">
                            <tbody data-bind="foreach: watermark_list">
                                <tr data-bind="css: { selected: filepath == $parent.selected_watermark() }">
                                    <td>
                                        <div class="row-fluid">
                                            <div class="span11" data-bind="click: $parent.selectWatermark">
                                                <div>
                                                    <i class="fa fa-no-shadow" data-bind="css: { 'fa-check-square': filepath == $parent.selected_watermark(), 'fa-square-o': filepath != $parent.selected_watermark() } "></i>
                                                    <span class="filename" data-bind="text: getFilename()" />
                                                </div>
                                                <div style="height:18px; text-overflow: ellipsis;" class="filepath" data-bind="text: filepath"></div>
                                            </div>
                                            <div class="span1">
                                                <div class="text-right">
                                                    <button type="button" class="close text-error" aria-label="Close" data-bind="click: $parent.deleteWatermark">
                                                        <i class="fa fa-no-shadow fa-times"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div data-bind="visible: watermark_list().length == 0" class="text-error">
                            You must upload at least one watermark in order to use this feature.
                        </div>
                        <div data-bind="visible: watermark_list().length > 0 && selected_watermark() == ''" class="text-error">
                            You must select at least one watermark in order to use this feature.
                        </div>
                        <span class="help-inline">
                            <span class="label label label-info">Info</span>&nbsp;Click a filename to select it.
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                            <div class="input-group" style="display:flex; align-items:center">
                                <span class="btn fileinput-button">
                                    <span>Upload new...</span>
                                    <input id="octolapse_watermark_path_upload" type="file" name="image" accept="image/*" data-url="{{ url_for('plugin.octolapse.upload_watermark') }}">
                                </span>
                                <span id="octolapse-upload-watermark-progress" class="progress-bar-container">
                                    <span class="progress-bar" style="width: 0%;"></span>
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
        <div>
            <hr />
            <div>
                <h4>Overlay</h4>
                <p>
                    Add textual information based on an overlay template to your rendered timelapse
                </p>
            </div>
            <div class="control-group" data-bind="visible: font_list().length == 0">
                <p class="text-error">
                    No fonts were detected on the current system.  If you are using Linux, you may not have font-config installed.
                </p>
            </div>
            <div class="control-group" data-bind="visible: font_list().length > 0">
                <div class="control-group">
                    <label class="control-label">Text:</label>
                    <div class="controls">
                        <textarea id="octolapse_overlay_text_template" class="input-xxl ignore_hidden_errors" name="overlay_text_template" data-bind="value: overlay_text_template" />
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-text-and-replacement-tokens" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_overlay_text_template"></div>
                        <p class="help-inline">
                            Determines the overlay text. Leave blank to disable the overlay text. You can use the following replacement tokens:
                            <i>
                                <span data-bind="foreach: Octolapse.Renderings.profileOptions.overlay_text_templates">
                                    <!-- ko if: $index() != 0 -->,&nbsp;<!-- /ko -->{<span data-bind="text: $data"></span>}
                                </span>
                            </i>
                        </p>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Size:</label>
                    <div class="controls">
                        <span class="input-append" style="display:inline-block">
                            <input id="rendering_profile_overlay_font_size" name="octolapse_overlay_font_size" type="number" class="input-small ignore_hidden_errors" data-bind="value: overlay_font_size" required="true" />
                            <span class="add-on">pt</span>
                        </span>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-text-size" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="rendering_profile_overlay_font_size"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="rendering_profile_overlay_text_valign" class="control-label">Vertical alignment:</label>
                    <div class="controls">
                        <select id="rendering_profile_overlay_text_valign" name="overlay_text_valign" data-bind="options: Octolapse.Renderings.profileOptions.overlay_text_valign_options,
                                        optionsCaption: 'Select One...',
                                        value: overlay_text_valign"></select>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-vertical-alignment" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="rendering_profile_overlay_text_valign"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="rendering_profile_overlay_text_halign" class="control-label">Horizontal alignment:</label>
                    <div class="controls">
                        <select id="rendering_profile_overlay_text_halign" name="overlay_text_halign" data-bind="options: Octolapse.Renderings.profileOptions.overlay_text_halign_options,
                                        optionsCaption: 'Select One...',
                                        value: overlay_text_halign"></select>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-horizontal-alignment" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="rendering_profile_overlay_text_halign"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label for="rendering_profile_overlay_text_alignment" class="control-label">Text Alignment:</label>
                    <div class="controls">
                        <select id="rendering_profile_overlay_text_alignment" name="overlay_text_alignment" data-bind="options: Octolapse.Renderings.profileOptions.overlay_text_alignment_options,
                                        optionsCaption: 'Select One...',
                                        value: overlay_text_alignment"></select>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-text-alignment" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="rendering_profile_overlay_text_alignment"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Position offset:</label>
                    <div class="controls">
                        <span class="input-append">
                            <input type="number" class="input-small" data-bind="value: overlay_text_pos_x" required="true" />
                            <span class="add-on">x</span>
                        </span>
                        <span class="input-append">
                            <input type="number" class="input-small" data-bind="value: overlay_text_pos_y" required="true" />
                            <span class="add-on">y</span>
                        </span>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-text-position-offset" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="input-append" style="display:inline-block">
                            <input type="hidden" id="rendering_profile_overlay_text_pos" name="octolapse_overlay_text_pos" data-bind="value: overlay_text_pos()"/>
                        </div>
                        <div class="error_label_container text-error" data-error-for="rendering_profile_overlay_text_pos"></div>

                    </div>
                </div>
                <div class="control-group">
                    <label for="overlay_color" class="control-label">Color:</label>
                    <div class="controls">
                        <input type="text" id="rendering_profile_overlay_color" class="form-control demo" data-format="rgb" data-bind="value: overlay_text_color_as_css" required="true">
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-text-color" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="rendering_profile_overlay_color"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Font: <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-font-selection" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a></label>
                    <div class="controls">
                        <div class="scroll-table-container">
                            <table class="table table-condensed table-hover file-selector-list">
                                <tbody data-bind="foreach: font_list">
                                    <tr data-bind="click: $parent.selectOverlayFont, css: { selected: filepath == $parent.overlay_font_path() }">
                                        <td>
                                            <div>
                                                <i class="fa fa-no-shadow" data-bind="css: { 'fa-check-square': filepath == $parent.overlay_font_path() , 'fa-square-o': filepath != $parent.overlay_font_path() } "></i>
                                                <span class="filename" data-bind="text: getFilename()" />
                                            </div>

                                            <div class="filepath" data-bind="text: filepath"></div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="row-fluid">
                        <div class="span4"></div>
                        <div class="span6">
                            <p data-bind="visible: overlay_font_path() == ''" class="text-error">No font is selected.  You must select a font in order to use Overlays.</p>
                        </div>
                        <div class="span2">
                            <div class="text-right">
                                <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#overlay-image-preview" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                            </div>
                        </div>
                    </div>
                    <img class="image-fluid" data-bind="click: requestOverlayPreview, attr:{src: overlay_preview_image_src, alt: overlay_preview_image_error}" />
                    <div><span class="label label-important">Note</span>&nbsp;If the preview appears blank, please try another font.</div>
                </div>
            </div>
        </div>
        <hr />
        <div class="control-group">
            <a href="#" class="muted"
               data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#rendering-advanced.hide' }">
                <i class="fa fa-no-shadow fa-caret-right"></i> {{ _('Advanced Rendering Options') }}
            </a>
        </div>
        <div class="control-group hide" id="rendering-advanced">
            <div class="control-group">
                <label class="control-label">Filename Template</label>
                <div class="controls">
                    <input id="octolapse_output_template" name="output_template" type="text" class="input-block-level ignore_hidden_errors" data-bind="value: output_template" required="true" />
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#filename-template" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_output_template"></div>
                    <span class="help-inline">
                        Determines the rendering file name.  You can use the following replacement tokens:
                        <i>
                            <span data-bind="foreach: Octolapse.Renderings.profileOptions.rendering_file_templates">
                                <!-- ko if: $index() != 0 -->,&nbsp;<!-- /ko -->{<span data-bind="text: $data"></span>}
                            </span>
                        </i>
                    </span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Rendering Thread Count</label>
                <div class="controls">
                    <input id="rendering_profile_thread_count" name="thread_count" type="number"
                           class="ignore_hidden_errors input-small" data-bind="value: thread_count" min="1" step="1"
                           required="true" />
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Rendering-Profiles#rendering-thread-count" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="rendering_profile_thread_count"></div>
                    <span class="help-inline">
                        Increasing the amount of threads will improve rendering performance as long as your processor has idle cores.  It may HURT performance if you do not.
                    </span>
                </div>
            </div>
        </div>
    </div>
</script>



