<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2017  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="debug-template">
  <div>
    <div>
      <h4>Profile</h4>
    </div>
    <div class="control-group">
      <label class="control-label">Name:</label>
      <div class="controls">
        <input id="debug_profile_name" name="name" type="text" class="input-block-level form-input" data-bind="value: name" required="" />
        <div class="error_label_container text-error" data-error-for=""></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Description</label>
      <div class="controls">
        <textarea id="debug_profile_description" name="description" type="text" class="input-block-level" data-bind="value: description" maxlength="1024"/>
        <div class="error_label_container text-error" data-error-for=""></div>
      </div>
    </div>
  </div>
  <hr/>
  <div>
    <div>
      <h4>Test Mode</h4>
      <p>
        Strips all extrusion, temperature change and fan commands from the GCode.  This is useful for testing new settings without wasting plastic or waiting for the printer to heat up!  This is also very useful for debugging issues with Octolapse in general.  If you find any other uses for test mode, please let me know.
      </p>
      <p>
        <span class="label label-important">Attention</span>&nbsp;  This is a beta product that is not yet battle-hardened.  It's possible I left out or messed up some GCode commands.  Please report any issues you have while using test mode so that I can improve it.
      </p>
    </div>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: is_test_mode" title="Enable test mode"/>Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Debug-Profiles#test-mode" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
      </div>
    </div>
  </div>
    <hr/>
  <div>
    <div>
      <h4>Log Additional Information</h4>
      <p>
        Here you can enable or disable additional logging info that will appear in plugin_octolapse.log, which you can download from the <i>Logs</i> page available in the main menu.  The log file can grow quite large, so do not enable these unless it is necessary.
      </p>
      <p>A slight disclaimer is in order here.  Most of these commands were implemented to help me test or solve particular problems.  Some of these may not do exactly what they say they do, and it's possible that some are obsolete.  I will review the logging functions at some point, especially those that turn out to be useful to actual users.</p>
    </div>
  </div>
  <div class="control-group">
      <div class="controls">
      <label class="checkbox">
        <input type="checkbox" data-bind="checked: enabled" title="Enable or disable enhanced logging"/>Enabled
          <a href="https://github.com/FormerLurker/Octolapse/wiki/Debug-Profiles#log-additional-information" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
      </label>
    </div>
  </div>

  <div data-bind="visible: enabled">

    <div class="control-group">
      <label class="control-label">Write To Console</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: log_to_console" title="Write all output to the console"/>Enabled
            <a href="https://github.com/FormerLurker/Octolapse/wiki/Debug-Profiles#write-to-console" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
        </label>
        <span class="help-inline">This is useful when running a debugger to view the log output in real time along with the Octoprint console output.   If you are not running Octolapse in a debugger, you do not need to enable this option.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Position Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: position_change" title="Log position changes"/>Enabled
        </label>
        <span class="help-inline">
          Logs every detected position change.  <span class="label label-important">Attention</span>&nbsp;This generates a lot of output.  Take care when using.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Position Commands</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: position_command_received" title="Log position commands"/>Enabled
        </label>
        <span class="help-inline">
          Logs commands as they are parsed by the Position module.&nbsp;<span class="label label-important">Attention</span>&nbsp;This generates a lot of output.  Take care when using.
        </span>

      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Extruder State Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: extruder_change" title="Log extruder state changes"/>Enabled
        </label>
        <span class="help-inline">Logs any change in extruder state, such as: Extruding, Retracting, Detracting, Partially Retracted, etc.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Extruder Triggers</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: extruder_triggered" title="Log extruder triggering"/>Enabled
        </label>
        <span class="help-inline">Add a log entry if the extruder state matches the extruder triggers configured within the current snapshot profile.</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Log Snapshot Trigger Create</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_create" title="Log snapshot trigger creation"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Trigger Wait State</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_wait_state" title="Log snapshot trigger wait state"/>Enabled
        </label>
        <span class="help-inline">When a snapshot is delayed because of the current extruder/position state, log the reason.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Triggering</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_triggering" title="Log snapshot trigger is triggering"/>Enabled
        </label>
        <span class="help-inline">Logs the moment when a snapshot is triggered.</span>
      </div>
    </div>
    <!-- Unused, I'm not sure why.  Todo:  Remove the setting or add the logging.
      <div class="control-group">
        <label class="control-label">Log Snapshtot Triggering State</label>
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: trigger_triggering_state" title="Log snapshot trigger state"/>Enabled
          </label>
        </div>
      </div>
    -->
    <div class="control-group">
      <label class="control-label">Log Layer Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_layer_change" title="Log layer change"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Height Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_height_change" title="Log height change"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Zhop</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_zhop" title="Log zhop"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Trigger Time Remaining</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_time_remaining" title="Log trigger time remaining"/>Enabled
        </label>
        <span class="help-inline">
          <span class="label label-important">Attention</span>&nbsp;  This generates a lot of output.  Take care when using.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Trigger Unpause</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: trigger_time_unpaused" title="Log trigger unpause"/>Enabled
        </label>
        <span class="help-inline">
          When prints are paused, the timer trigger also pauses.  This setting is probably not particularly useful, but it logs the calculation of the trigger time after we unpause the print.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot GCode</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_gcode" title="Log snapshot GCode"/>Enabled
        </label>
        <span class="help-inline">I love this setting.  It's the most enjoyable thing to watch while debugging.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot GCode Endcommand Status</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_gcode_endcommand" title="Log snapshot endcommand status"/>Enabled
        </label>
        <span class="help-inline">When generating a snapshot, Octolapse saves the GCode command following the one triggered the snapshot and sends it to the printer when the snapshot is complete.  This setting logs that process.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Position</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_position" title="Log snapshot position"/>Enabled
        </label>
        <span class="help-inline">Logs the position of the axis of the current snapshot.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Return Position</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_position_return" title="Log snapshot return position"/>Enabled
        </label>
        <span class="help-inline">Logs the position of the axis right before any snapshot GCodes are executed.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Resume Print Position</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_position_resume_print" title="Log Snapshot Resume Print Position"/>Enabled
        </label>
        <span class="help-inline">Logs the position of the axis after the saved command is sent to the printer.</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Log Snapshot Download</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_download" title="Log snapshot download"/>Enabled
        </label>
        <span class="help-inline">Logs the snapshot request and download process.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Snapshot Save</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_save" title="Log snapshot save"/>Enabled
        </label>
        <span class="help-inline">Logs the snapshot save/rename process after the snapshot is downloaded from the server.</span>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Log Rendering Start</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_start" title="Log rendering start"/>Enabled
        </label>
        <span class="help-inline">Logs the rendering process right up until ffmpeg is started.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Render Complete</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_complete" title="Log render complete"/>Enabled
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Render Failure</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_fail" title="Log render failure"/>Enabled
        </label>
        <span class="help-inline">Logs any non-exception errors that occur during rendering.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Synchronize</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: render_sync" title="Log render synchronization with Octoprint timelapse plugin"/>Enabled
        </label>
        <span class="help-inline">Logs the process of moving timelapses to the Octoprint timelapse folder.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Cleaning of Snapshots</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: snapshot_clean" title="Log cleaning of snapshots"/>Enabled
        </label>
        <span class="help-inline">Logs the deletion of temporary snapshot images.</span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Settings On Save</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: settings_save" title="Log settings on save"/>Enabled
        </label>
        <span class="help-inline">
          <span class="label label-important">Attention</span>&nbsp;  This option will output your settings to the log in json format, which will include the camera username and passwords that are entered within any camera profiles.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Settings On Load</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: settings_load" title="Log settings on save"/>Enabled
        </label>
        <span class="help-inline">
          <span class="label label-important">Attention</span>&nbsp;  This option will output your settings to the log in json format, which will include the camera username and passwords that are entered within any camera profiles.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Camera Settings Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: camera_settings_apply" title="Log camera settings changes"/>Enabled
        </label>
        <span class="help-inline">
          Logs the completed camera settings template URLs when applying camera image settings.  This might be useful for getting different cameras working with Octolapse.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log Print State Changes</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: print_state_changed" title="Log print state changes"/>Enabled
        </label>
        <span class="help-inline">
          Logs any received printer state changes including:  Paused, Printing, Operational, etc.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log GCode Queuing</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_queuing_all" title="Log all GCode that is about to queue"/>Enabled
        </label>
        <span class="help-inline">
          <span class="label label-important">Attention</span>&nbsp;  This option will log every GCode command that is queued but not sent to the printer.  This can be very useful but also will create a lot of log entries.
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Log GCode Sent</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_sent_all" title="Log all GCode sent to printer"/>Enabled
        </label>
        <span class="help-inline">
          <span class="label label-important">Attention</span>&nbsp;  This option will log every GCode command that has been sent to the printer.  This can be very useful but also will create a lot of log entries.
        </span>
      </div>
    </div>

  <div class="control-group">
      <label class="control-label">Log GCode Received</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_received_all" title="Log all GCode received from the printer"/>Enabled
        </label>
        <span class="help-inline">
          <span class="label label-important">Attention</span>&nbsp;  This option will log every printer response.  This can be very useful but also will create a lot of log entries.
        </span>
      </div>
    </div>


  </div>
</script>



