<script type="text/html" id="printer-slicer-automatic-template">
<p>

</p>
    <div class="control-group">
                <div class="controls">
                    <span class="help-inline">
                        <span class="label label-important">IMPORTANT</span>
                        <strong>CURA users must follow <a href="https://github.com/FormerLurker/Octolapse/wiki/Automatic-Slicer-Settings#install-the-cura-settings-script">THIS GUIDE</a> else you will have problems.</strong>
                    </span>
                </div>
            </div>
</script>
