<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="trigger-template">
    <input type="hidden" data-bind="value : guid" />
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input id="octolapse_trigger_name" name="octolapse_trigger_name"
                       class="input-block-level form-input"
                       data-bind="value: name"
                       type="text" />
                <div class="error_label_container text-error" data-error-for="octolapse_trigger_name"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea id="octolapse_trigger_description" name="octolapse_trigger_description"
                          class="input-block-level"
                          data-bind="value: description"
                          type="text" maxlength="1024" ></textarea>
                <div class="error_label_container text-error" data-error-for="octolapse_trigger_description"></div>
            </div>
        </div>
    </div>
    <div data-bind="visible: trigger_type() == 'real-time' && (position_restrictions_enabled() && position_restrictions().length > 0)" class="text-warning">
        <hr />
        <p>
            <strong>
                There <span data-bind="text: (position_restrictions().length > 1 ? 'are' : 'is')"></span> <span data-bind="text: position_restrictions().length"></span> position restriction<span data-bind="text: (position_restrictions().length > 1 ? 's' : '')"></span>
                currently enabled.
            </strong>
        </p>

    </div>
    <div data-bind="template: {name:'octolapse-profile-library-test-template', data: automatic_configuration}"></div>
    <div data-bind="slideVisible: !automatic_configuration.updating_from_server()">
        <hr />
        <div>
            <div>
                <h4>Trigger Settings</h4>
                <p>
                    Control how and when Octolapse will decide to take a snapshot.
                </p>
            </div>
            <div class="control-group">
                <label class="control-label">Trigger Type</label>
                <div class="controls">
                    <select id="octolapse_trigger_trigger_type" name="octolapse_trigger_trigger_type"
                            data-bind="options: Octolapse.Triggers.profileOptions.trigger_type_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: trigger_type"></select>
                    <a class="octolapse_help" data-help-url="profiles.trigger.trigger_type.md" data-help-title="Trigger Type"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_type"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">When to Trigger</label>
                <div class="controls">
                    <select id="octolapse_trigger_trigger_subtype" name="octolapse_trigger_trigger_subtype"
                            data-bind="options: get_trigger_subtype_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       value: trigger_subtype"></select>
                    <a class="octolapse_help" data-help-url="profiles.trigger.trigger_subtype.md" data-help-title="When to Trigger"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_subtype"></div>
                </div>
            </div>

            <div data-bind="visible: trigger_subtype() == 'layer'">
                <div class="control-group">
                    <label class="control-label">Trigger Height</label>
                    <div class="controls">
                        <span class="input-append">
                            <input id="octolapse_trigger_layer_trigger_height" name="octolapse_trigger_layer_trigger_height"
                                   class="input-small ignore_hidden_errors"
                                   data-bind="value: layer_trigger_height"
                                   type="number" min="0.0" step="0.01" required="true" />
                            <span class="add-on">mm</span>
                        </span>
                        <a class="octolapse_help" data-help-url="profiles.trigger.layer_trigger_height.md" data-help-title="Trigger Height"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_trigger_layer_trigger_height"></div>
                        <span class="help-inline">Use 0mm to trigger on every layer, regardless of the layer height.</span>
                    </div>
                </div>
                <div data-bind="visible: jQuery.inArray(trigger_type(), ['smart'])>-1 && trigger_subtype()=='layer'">

                    <div class="control-group">
                        <label class="control-label">Smart Layer Trigger Type</label>
                        <div class="controls">
                            <select id="octolapse_trigger_smart_layer_trigger_type" name="octolapse_trigger_smart_layer_trigger_type"
                                    data-bind="options: Octolapse.Triggers.profileOptions.smart_layer_trigger_type_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: smart_layer_trigger_type"></select>
                            <a class="octolapse_help" data-help-url="profiles.trigger.smart_layer_trigger_type.md" data-help-title="Smart Layer Trigger Type"></a>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_smart_layer_trigger_type"></div>
                        </div>
                    </div>
                    <div data-bind="visible: smart_layer_trigger_type() == '0'">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="octolapse_trigger_smart_layer_disable_z_lift" name="octolapse_trigger_smart_layer_disable_z_lift"
                                           data-bind="checked: smart_layer_disable_z_lift"
                                           type="checkbox" />Disable Lift Before Snapshot
                                    <a class="octolapse_help" data-help-url="profiles.trigger.smart_layer_disable_z_lift.md" data-help-title="Disable Lift Before Snapshot"></a>
                                    <span class="help-inline">Disabling z-lift is generally recommended when using snap-to-print.  If it takes a long time to capture an image, consider enabling z_lift to prevent the extruder from melting your print.</span>
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="octolapse_trigger_smart_layer_snap_to_print_high_quality" name="octolapse_trigger_smart_layer_snap_to_print_high_quality"
                                           data-bind="checked: smart_layer_snap_to_print_high_quality"
                                           type="checkbox" />High Quality Mode
                                    <a class="octolapse_help" data-help-url="profiles.trigger.smart_layer_snap_to_print_high_quality.md" data-help-title="High Quality Mode"></a>
                                    <span class="help-inline">This setting can improve print when using snap-to-print, especially if your image capture time is high (DSLR).  However, this may result in a less stable timelapse.  This is NOT compatible with vase mode prints, and will result in a LOT of missed snapshots if you try to use it.</span>
                                </label>
                            </div>
                        </div>
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="octolapse_trigger_smart_layer_snap_to_print_smooth" name="octolapse_trigger_smart_layer_snap_to_print_smooth"
                                           data-bind="checked: smart_layer_snap_to_print_smooth"
                                           type="checkbox" />Smooth Mode
                                    <a class="octolapse_help" data-help-url="profiles.trigger.smart_layer_snap_to_print_smooth.md" data-help-title="Snap To Fastest Feedrate"></a>
                                    <span class="help-inline">When enabled, the first snapshot will be stabilized, and every snapshot thereafter will be taken at the closest point to the previous snapshot, usually resulting in a much smoother timelapse.</span>
                                </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div data-bind="visible: trigger_subtype() == 'timer'">
                <div class="control-group">
                    <label class="control-label">Seconds to Trigger</label>
                    <div class="controls">
                        <input id="octolapse_trigger_timer_trigger_seconds" name="octolapse_trigger_timer_trigger_seconds"
                               class="input-small ignore_hidden_errors"
                               data-bind="value: timer_trigger_seconds"
                               type="number" min="0" required="true" />
                        <a class="octolapse_help" data-help-url="profiles.trigger.timer_trigger_seconds.md" data-help-title="Seconds to Trigger"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_trigger_timer_trigger_seconds"></div>
                        <p class="help-inline">Pause time is not counted when determining when to trigger.</p>
                    </div>
                </div>
            </div>
            <div data-bind="visible: trigger_type() == 'smart' && trigger_subtype() != 'gcode'">
                <div class="control-group">
                    <label class="control-label">Allow Snapshot Commands</label>
                    <div class="controls">
                        <label class="checkbox" title="Enable or disable the @OCTOLAPSE TAKE-SNAPSHOT command">
                            <input data-bind="checked: allow_smart_snapshot_commands"
                                   type="checkbox" /> Enabled
                            <a class="octolapse_help" data-help-url="profiles.trigger.allow_smart_snapshot_commands.md" data-help-title="Allow Snapshot Commands"></a>
                        </label>
                    </div>
                </div>
            </div>
            <div data-bind="visible: trigger_type() == 'smart' && trigger_subtype() == 'gcode'">
                <p>
                    The smart gcode trigger will take a snapshot whenever the snapshot command is encountered.  You can always use the <strong>@OCTOLAPSE TAKE-SNAPSHOT<a class="octolapse_help" data-help-url="profiles.printer.snapshot_command.md" data-help-title="Triggering Snapshots via GCode"></a></strong> command to trigger a snapshot.  Alternatively you can add a custom snapshot command by editing your printer profile entering an alternative snapshot command.
                </p>
            </div>
        </div>
        <div data-bind="visible: print_quality_settings_available">
            <hr />
            <h4>Print Quality Settings</h4>
            <p>Here you can place restrictions on when Octolapse can trigger a snapshot.</p>

            <div data-bind="visible: trigger_on_zhop_only_available">
                <div>
                    <h5>Trigger on Z-Hop Only</h5>
                    <p>Only allow snapshots when your printer is lifted.</p>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input data-bind="checked: require_zhop"
                                   type="checkbox" />Enabled
                            <a class="octolapse_help" data-help-url="profiles.trigger.require_zhop.md" data-help-title="Trigger on Z-Hop Only"></a>
                        </label>
                    </div>
                </div>
            </div>
            <div data-bind="visible:extruder_trigger_requirements_available">
                <div>
                    <h5>Extruder Trigger Requirements</h5>
                    <p>
                        Set extruder requirements for triggering a snapshot.
                    </p>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input id="octolapse_trigger_extruder_state_requirements_enabled" name="octolapse_trigger_extruder_state_requirements_enabled"
                                   data-bind="checked: extruder_state_requirements_enabled"
                                   type="checkbox" />Enabled
                            <a class="octolapse_help" data-help-url="profiles.trigger.extruder_state_requirements_enabled.md" data-help-title="Extruder Trigger Requirements"></a>
                        </label>
                    </div>
                </div>
                <div data-bind="visible:extruder_state_requirements_enabled">
                    <div class="control-group">
                        <label class="control-label">Extrusion Starting</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_extruding_start" name="octolapse_trigger_trigger_on_extruding_start"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_extruding_start"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_extruding_start"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">During Extrusion</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_extruding" name="octolapse_trigger_trigger_on_extruding"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_extruding"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_extruding"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Extruder Primed</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_primed" name="octolapse_trigger_trigger_on_primed"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_primed"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_primed"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Retracting</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_retracting_start" name="octolapse_trigger_trigger_on_retracting_start"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_retracting_start"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_retracting_start"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Retracting</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_retracting" name="octolapse_trigger_trigger_on_retracting"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_retracting"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_retracting"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Partially Retracted</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_partially_retracted" name="octolapse_trigger_trigger_on_partially_retracted"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_partially_retracted"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_partially_retracted"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Fully Retracted</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_retracted" name="octolapse_trigger_trigger_on_retracted"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_retracted"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_retracted"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Start Deretracting</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_deretracting_start" name="octolapse_trigger_trigger_on_deretracting_start"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_deretracting_start"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_deretracting_start"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Deretracting</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_deretracting" name="octolapse_trigger_trigger_on_deretracting"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_deretracting"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_deretracting"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">On Deretracted</label>
                        <div class="controls">
                            <select id="octolapse_trigger_trigger_on_deretracted" name="octolapse_trigger_trigger_on_deretracted"
                                    data-bind="options: Octolapse.Triggers.profileOptions.snapshot_extruder_trigger_options,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: trigger_on_deretracted"></select>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_trigger_on_deretracted"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div data-bind="visible: position_restrictions_available">
                <div>
                    <div>
                        <h5>Position Restrictions</h5>
                        <p>
                            Restrict snapshots so that they can only occur within the boundries, either rectangular or
                            circular, you set. You can add as many as you require.
                        </p>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Enable Position Restrictions</label>
                        <div class="controls">
                            <label class="checkbox" title="Enable or disable position restrictions">
                                <input data-bind="checked: position_restrictions_enabled"
                                       type="checkbox" /> Enabled
                                <a class="octolapse_help" data-help-url="profiles.trigger.position_restrictions_enabled.md" data-help-title="Enable Position Restrictions"></a>
                            </label>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: position_restrictions_enabled">
                    <!-- Add new position restriction -->
                    <div class="control-group">
                        <label class="control-label">Position Restriction Type</label>
                        <div class="controls">
                            <select id="octolapse_trigger_new_position_restriction_type" name="octolapse_trigger_new_position_restriction_type"
                                    data-bind="options: Octolapse.Triggers.profileOptions.position_restriction_types,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: new_position_restriction_type"></select>
                            <a class="octolapse_help" data-help-url="profiles.trigger.position_restriction_type.md" data-help-title="Position Restriction Type"></a>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_type"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Position Restriction Shape</label>
                        <div class="controls">
                            <select id="octolapse_trigger_new_position_restriction_shape" name="octolapse_trigger_new_position_restriction_shape"
                                    data-bind="options: Octolapse.Triggers.profileOptions.position_restriction_shapes,
                                               optionsText: 'name',
                                               optionsValue: 'value',
                                               value: new_position_restriction_shape"></select>
                            <a class="octolapse_help" data-help-url="profiles.trigger.position_restriction_shape.md" data-help-title="Position Restriction Shape"></a>
                            <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_shape"></div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">X</span>
                                        <input id="octolapse_trigger_new_position_restriction_x" name="octolapse_trigger_new_position_restriction_x"
                                               class="input-small ignore_hidden_errors text-right"
                                               data-bind="value: new_position_restriction_x"
                                               type="number" step="any" required="true" />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_x"></div>
                                </div>
                                <div class="span6">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">Y</span>
                                        <input id="octolapse_trigger_new_position_restriction_y" name="octolapse_trigger_new_position_restriction_y"
                                               class="input-small ignore_hidden_errors text-right"
                                               data-bind="value: new_position_restriction_y"
                                               type="number" step="any" required="true" />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_y"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group" data-bind="visible: new_position_restriction_shape() == 'rect'">
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span6">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">X2</span>
                                        <input id="octolapse_trigger_new_position_restriction_x2" name="octolapse_trigger_new_position_restriction_x2"
                                               class="input-small ignore_hidden_errors text-right"
                                               data-bind="value: new_position_restriction_x2"
                                               type="number" step="any" required="true" />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_x2"></div>
                                </div>
                                <div class="span6">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">Y2</span>
                                        <input id="octolapse_trigger_new_position_restriction_y2" name="octolapse_trigger_new_position_restriction_y2"
                                               class="input-small ignore_hidden_errors text-right"
                                               data-bind="value: new_position_restriction_y2"
                                               type="number" step="any" required="true" />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_y2"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group" data-bind="visible: new_position_restriction_shape() == 'circle'">
                        <div class="controls">
                            <div class="row-fluid">
                                <div class="span12">
                                    <div class="input-prepend input-append">
                                        <span class="add-on">Radius</span>
                                        <input id="octolapse_trigger_new_position_restriction_r" name="octolapse_trigger_new_position_restriction_r"
                                               class="input-small ignore_hidden_errors text-right"
                                               data-bind="value: new_position_restriction_r"
                                               type="number" step="any" min="0" required="true" />
                                        <span class="add-on">mm</span>
                                    </div>
                                    <div class="error_label_container text-error" data-error-for="octolapse_trigger_new_position_restriction_r"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input data-bind="checked: new_calculate_intersections"
                                       title="Calculate intersections and trigger if an intersection is in position."
                                       type="checkbox" />Calculate Intersections
                                <a class="octolapse_help" data-help-url="profiles.trigger.calculate_intersections.md" data-help-title="Calculate Intersections"></a>
                            </label>
                            <span class="help-inline">
                                When selected, Octolapse will attempt to calculate an intersection between the currently printing line and any position restrictions.  If there are intersections, Octolapse alters the gcode so that a snapshot can trigger at one of the in-position intersections.
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <small>
                                <a class="btn btn-default"
                                   data-bind="click: function(){$data.addPositionRestriction();}">
                                    Add Position Restriction
                                </a>
                            </small>
                        </div>
                    </div>
                    <div class="control-group" data-bind="visible: (position_restrictions().length > 0)">
                        <div class="controls">
                            <div>
                                <div>
                                    <h4>
                                        Current Position Restrictions
                                    </h4>
                                </div>
                                <table class="table-striped table-hover table-condensed table-hover octolapse-table-list">
                                    <thead>
                                        <tr>
                                            <th>
                                                Type
                                            </th>
                                            <th>
                                                Shape
                                            </th>
                                            <th>
                                                X
                                            </th>
                                            <th>
                                                Y
                                            </th>
                                            <th>
                                                X2
                                            </th>
                                            <th>
                                                Y2
                                            </th>
                                            <th>
                                                R
                                            </th>
                                            <th>
                                                Intersect
                                            </th>
                                            <th>
                                                Action
                                            </th>
                                            <th>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody data-bind="foreach: position_restrictions">
                                        <tr>
                                            <td data-bind="text: type"></td>
                                            <td data-bind="text: shape"></td>
                                            <td data-bind="text: x"></td>
                                            <td data-bind="text: y"></td>
                                            <td data-bind="text: (shape == 'rect' ? x2 : '')"></td>
                                            <td data-bind="text: (shape == 'rect' ? y2 : '')"></td>
                                            <td data-bind="text: (shape == 'circle' ? r : '')"></td>
                                            <td data-bind="text: (calculate_intersections ? 'True' : 'False')"></td>
                                            <td>
                                                <a class="btn btn-default"
                                                   data-bind="click: function() {$parent.removePositionRestriction($index());}">Remove</a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>


