<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="webcam-settings-template">
    <div class="webcam_settings">
        <div class="row-fluid">
            <button type="button" class="span3 btn btn-default input-block-level" data-bind="click: previewStabilization">Stabilize Extruder</button>
            <button type="button" class="span3 btn input-block-level" data-bind="click: applyWebcamSettings">Apply All Settings Now</button>
            <button type="button" class="span3 btn input-block-level" data-bind="click: function() {toggleCustomCameraSettingsPage(false, false);}">
                <span data-bind="text: getToggleCustomCameraSettingsText"></span>
            </button>
            <button type="button" class="span3 btn input-block-level" data-bind="click: toggleColumns, text: (webcam_two_column_view()? 'Switch to Single Column' : 'Switch to Two Columns')"/>
        </div>
        <div data-bind="template: {name: get_webcam_settings_template, data: get_webcam_data}, css: { 'two-column': webcam_two_column_view} "></div>
        <div class="row-fluid">
            <button type="button" class="span3 btn btn-default input-block-level" data-bind="click: previewStabilization">Stabilize Extruder</button>
            <button type="button" class="span3 btn btn-default input-block-level" data-bind="click: applyWebcamSettings">Apply All Settings Now</button>
            <button type="button" class="span3 btn input-block-level" data-bind="click: function() {toggleCustomCameraSettingsPage(false, false);}">
                <span data-bind="text: getToggleCustomCameraSettingsText"></span>
            </button>
            <button type="button" class="span3 btn input-block-level" data-bind="click: toggleColumns, text: (webcam_two_column_view()? 'Switch to Single Column' : 'Switch to Two Columns')"/>
        </div>

    </div>
</script>
<script type="text/html" id="webcam-other-template">
    <div>
        <p>
            Webcam image settings cannot be adjusted when using 'other' server type.  So far only mjpg-streamer is supported.
        </p>
    </div>
</script>

<script type="text/html" id="webcam-empty-template">
    <div>
        <p>
            Refreshing Webacm Settings
        </p>
    </div>
</script>

{% include "octolapse_profiles_camera_webcam_mjpg_streamer.jinja2" %}
