<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="trigger-status-template">
  <div class="text-center octolapse-icon-container">
    <div class="row-fluid">
      <span class="span12">Template Trigger</span>
      <span class="span4 fa-stack fa-2x info-panel-icon" data-bind="attr:{title:triggerStateText}">
        <span class="fa fa-square fa-stack-2x" data-bind="css:triggerBackgroundIconClass"></span>
        <span class="fa fa-print fa-1x fa-stack-1x" data-bind="css:triggerIconClass"></span>
      </span>
      <span class="span4 fa-stack fa-2x info-panel-icon" title="Trigger count">
        <span class="fa fa-square fa-stack-2x"></span>
        <span class="fa fa-camera fa-stack-1x bg-trigger-count">
        </span>
        <span class="fa fa-stack-1x">
          <span class="text-center octolapse-icon-text" data-bind ="text:Octolapse.ToCompactInt(trigger_count())"></span>
        </span>
      </span>
      <span class="span4 fa-stack fa-2x info-panel-icon" data-bind="attr:{title:getInfoText}">
        <span class="fa fa-square fa-stack-2x"></span>
        <span class="fa fa-info-circle fa-lg fa-stack-1x bg-trigger-info">

        </span>
        <span class="fa fa-stack-1x">
          <span class="text-center octolapse-icon-text" data-bind ="text:getInfoIconText"></span>
        </span>
      </span>
      <span class="span12" >
        <span class="ol-text-status-2" data-bind="text:triggerStateText"></span>
      </span>
    </div>
  </div>
</script>

<script type="text/html" id="gcode-trigger-status-template">
    <div class="row-fluid">
        <span class="span6 octolapse-container padded-small">
            <fieldset class="octolapse" style="min-height:200px;">
                <legend>Info</legend>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Trigger Count:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text: trigger_count"></span>
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Requires ZHop:</strong>
                    </span>
                    <span class="span6">
                        <i class="fa fa-sm" data-bind="text: ( require_zhop() ? 'yes' : 'no')"></i>
                    </span>
                </div>
                <div class="text-center">
                    <strong>Snapshot Commands</strong>
                </div>

                <div data-bind="foreach: getSnapshotCommands">
                    <div>
                        <span data-bind="text: $data"></span>
                    </div>
                </div>
            </fieldset>
        </span>
        <span class="span6 octolapse-container padded-small">
            <fieldset class="octolapse" style="min-height:200px;">
                <legend>
                    Status
                </legend>
                <p data-bind="text: triggerStateText"></p>
            </fieldset>
        </span>
    </div>
  </div>
</script>

<script type="text/html" id="layer-trigger-status-template">
    <div class="row-fluid">
        <span class="span6 octolapse-container padded-small">
            <fieldset class="octolapse">
                <legend>Info</legend>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Trigger On:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text:triggerOnText"></span>
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Current <span data-bind="text: triggerTypeText"></span>:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text: currentTriggerIncrement"></span>
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Trigger Count:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text: trigger_count"></span>
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Requires ZHop:</strong>
                    </span>
                    <span class="span6">
                        <i class="fa fa-sm" data-bind="text: ( require_zhop() ? 'yes' : 'no')"></i>
                    </span>
                </div>
            </fieldset>
        </span>
        <span class="span6 octolapse-container padded-small">
            <fieldset class="octolapse">
                <legend>
                    Status
                </legend>
                <div>
                    <p data-bind="text: triggerStateText" style="min-height:110px;"></p>
                </div>
            </fieldset>
        </span>
    </div>
</script>

<script type="text/html" id="timer-trigger-status-template">
  <div class="row-fluid">
        <span class="span6 octolapse-container padded-small">
            <fieldset class="octolapse">
                <legend>Info</legend>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Trigger Every:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text:secondsInterval"></span>&nbsp;
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Last Trigger:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text: trigger_start_time"></span>
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Trigger Count:</strong>
                    </span>
                    <span class="span6">
                        <span data-bind="text: trigger_count"></span>
                    </span>
                </div>
                <div class="row-fluid">
                    <span class="span6 text-right">
                        <strong>Requires ZHop:</strong>
                    </span>
                    <span class="span6">
                        <i class="fa fa-sm" data-bind="text: ( require_zhop() ? 'yes' : 'no')"></i>
                    </span>
                </div>
            </fieldset>
        </span>
        <span class="span6 octolapse-container padded-small">
            <fieldset class="octolapse">
                <legend>
                    Status
                </legend>
                <div>
                    <p data-bind="text: triggerStateText" style="min-height:110px;"></p>
                </div>
            </fieldset>
        </span>
    </div>
</script>




