<script type="text/html" id="snapshot-template">
  <input type="hidden"  data-bind="value : guid" />
  <div class="control-group">
    <label class="control-label">Snapshot Profile Name</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: name"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div>
    <label class="control-label">Snapshot On Gcode</label>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_trigger_enabled" />Enabled
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: gcode_trigger_enabled">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: gcode_trigger_require_zhop" />Trigger only on ZHop
        </label>
      </div>
    </div>
    <div class="control-group" data-bind="visible: gcode_trigger_enabled">
      <div class="controls">
        <small>
          <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_gcode_advanced.hide' }">
            <i class="fa fa-caret-right"></i> {{ _('Advanced Gcode Trigger Options') }}
          </a>
        </small>
      </div>

      <div id="trigger_gcode_advanced" class="hide">
        <div class="control-group">
          <label class="control-label" >Extrusion Starting</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: gcode_trigger_on_extruding_start"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >During Extrusion</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: gcode_trigger_on_extruding"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >On Extruder Primed</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_primed"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Start Retracting</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_retracting_start"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Retracting</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_retracting"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Partially Retracted</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_partially_retracted"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Fully Retracted</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_retracted"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Start Detracting</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_detracting_start"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Detracting</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_detracting"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" >Trigger on Detracted</label>
          <div class="controls">
            <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: gcode_trigger_on_detracted"></select>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div>
    <label class="control-label">Timer Trigger:</label>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: timer_trigger_enabled" />Enabled
        </label>
      </div>
      <div class="control-group" data-bind="visible: timer_trigger_enabled">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox" data-bind="checked: timer_trigger_require_zhop" />Trigger only on ZHop
          </label>
        </div>
      </div>
      <div class="control-group" data-bind="visible: timer_trigger_enabled">
        <label class="control-label">Seconds to Trigger</label>
        <div class="controls">
          <input type="text" class="input-block-level" data-bind="value: timer_trigger_seconds"/>
          <div class="error_label_container text-error" ></div>
          <small>
            <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_timer_advanced.hide' }">
              <i class="fa fa-caret-right"></i> {{ _('Advanced Timer Trigger Options') }}
            </a>
          </small>
        </div>
      </div>
    </div>
    <div id="trigger_timer_advanced" class="hide collapsible">
      <div class="control-group">
        <label class="control-label" >Extrusion Starting</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_extruding_start"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >During Extrusion</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_extruding"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >On Extruder Primed</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_primed"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Start Retracting</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_retracting_start"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Retracting</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_retracting"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Partially Retracted</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_partially_retracted"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Fully Retracted</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_retracted"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Start Detracting</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_detracting_start"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Detracting</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_detracting"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" >Trigger on Detracted</label>
        <div class="controls">
          <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: timer_trigger_on_detracted"></select>
          <div class="error_label_container text-error" ></div>
        </div>
      </div>
    </div>
  </div>
  <div>
    <label class="control-label">Layer/Height Trigger:</label>
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: layer_trigger_enabled" />Enabled
        </label>
      </div>
      <div class="control-group" data-bind="visible: layer_trigger_enabled">
        <div class="control-group">
          <label class="control-label">Trigger Height (0 for trigger at layer change)</label>
          <div class="controls">
            <input type="text" class="input-block-level" data-bind="value: layer_trigger_height"/>
            <div class="error_label_container text-error" ></div>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <label class="checkbox">
              <input type="checkbox" data-bind="checked: layer_trigger_require_zhop" />Trigger only on ZHop
            </label>
          </div>
        </div>
        <div class="controls">
          <small>
            <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#trigger_height_advanced.hide' }">
              <i class="fa fa-caret-right"></i> {{ _('Advanced Layer/Height Trigger Options') }}
            </a>
          </small>
        </div>

      </div>

    </div>
    <div id="trigger_height_advanced" class="hide">
    <div class="control-group">
      <label class="control-label" >Extrusion Starting</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_extruding_start"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >During Extrusion</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_extruding"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >On Extruder Primed</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_primed"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Start Retracting</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_retracting_start"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Retracting</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_retracting"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Partially Retracted</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_partially_retracted"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Fully Retracted</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_retracted"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Start Detracting</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_detracting_start"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Detracting</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_detracting"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Trigger on Detracted</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',

                                   value: layer_trigger_on_detracted"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
  </div>
  </div>

  
  <div class="control-group">
    <label class="control-label">Delay (Milliseconds) before taking a snapshot</label>
    <div class="controls">
      <input type="text" class="input-block-level" data-bind="value: delay"/>
      <div class="error_label_container text-error" ></div>
    </div>
  </div>
  <div class="control-group">
    <small>
      <a href="#" class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#snapshot_trigger_advanced.hide' }">
        <i class="fa fa-caret-right"></i> {{ _('Advanced Snapshot Trigger Options') }}
      </a>
    </small>
  </div>
  <div id="snapshot_trigger_advanced" class="control-group hide">


    <div class="control-group">
      <label class="control-label">How many times to retry position detection.</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: position_request_retry_attemps"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">How long to delay in MS before retrying a position request.</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: position_request_retry_delay_ms"/>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    
    <div class="control-group">
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: retract_before_move" />If not retracted, retract before move
        </label>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" >Output File Format</label>
      <div class="controls">
        <select data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_format_options,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   optionsCaption: 'Select One...',
                                   value: output_format"></select>
        <div class="error_label_container text-error" ></div>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Output File Name</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: output_filename"/>
        <div class="error_label_container text-error" ></div>
        <span class="help-inline">
          <span class="label label-important">Attention</span> You can use the following tokens(include the brackets):  [FileName] [DateYYYYMMDD] [TimeHHMMSS] [Extension]
        </span>
      </div>

    </div>
    <div class="control-group">
      <label class="control-label">Output File Directory</label>
      <div class="controls">
        <input type="text" class="input-block-level" data-bind="value: output_directory"/>
        <div class="error_label_container text-error" ></div>
        <span class="help-inline">
          <span class="label label-important">Attention</span> You can use the following tokens(include the brackets):  [FileName] [DateYYYYMMDD] [TimeHHMMSS] [Extension]
        </span>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label">Delete Snapshots Files:</label>
      <div class="controls">
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: cleanup_after_render_complete" title="After Timelapse Is Rendered"/>After Timelapse Is Rendered
        </label>
        <label class="checkbox">
          <input type="checkbox" data-bind="checked: cleanup_after_render_fail" title="After Timelapse Is Rendered"/>After Timelaps Rendering Fails
        </label>
      </div>
    </div>
  </div>

</script>



