<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="octolapse-settings-main">
    <div class="panel-body">
        <div data-bind="template: {name: 'octolapse-global-settings-main-display', data: Octolapse.Globals.main_settings, as: 'global_settings'}"></div>
    </div>
    <div class="panel-footer">
        <div class="row-fluid">
            <a class="span12 btn btn-default input-block-level" data-bind="click: Octolapse.MainSettingsDisplay.showEditMainSettingsPopup">Edit Main Settings&hellip;</a>
        </div>
    </div>
    <div id="octolapse_edit_settings_main_dialog" class="modal fade hide octolapse_add_edit_dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form id="octolapse_edit_main_settings_form" class="form-horizontal octolapse_form">
                    <div class="modal-header">
                        <a class="close" aria-hidden="true">&times;</a>
                        <h3 class="modal-title">Edit Main Settings</h3>
                    </div>
                    <div class="modal-body scrollable">
                        <fieldset class="octolapse">
                            <legend>Octolapse Status</legend>
                            <div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable or disable the plugin" data-bind="checked:main_settings.is_octolapse_enabled " />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.enabled.md" data-help-title="Enable/Disable Octolapse"></a>
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" data-bind="checked: main_settings.test_mode_enabled" title="Enable test mode" />Test Mode Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.is_test_mode.md" data-help-title="Test Mode - Prevent Extrusion and Warmup"></a>
                                            <span class="help-inline">
                                                Prevents your printer from warming up your bed and extruder, enabing fans, or extruding filament.  This is very useful for quickly testing your Octolapse configuration without wasting filament or waiting for warm up.
                                            </span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="octolapse">
                            <legend>Folders</legend>
                            <div class="control-group">
                                <label class="control-label">Timelapse Folder</label>
                                <div class="controls">
                                    <input class="input-xxl" id="octolapse_main_timelapse_directory" name="octolapse_main_timelapse_directory"
                                           class="input-mini ignore_hidden_errors"
                                           title="Used to store rendered timelapse videos.  Defaults to the OctoPrint timelapse folder if empty."
                                           data-bind="value: main_settings.timelapse_directory"
                                           type="text" />
                                    <a class="octolapse_help" data-help-url="main_settings.timelapse_directory.md" data-help-title="Timelapse Directory"></a>
                                    <button class="btn btn-default" data-bind="click: function() {$parent.testDirectory('timelapse', main_settings.timelapse_directory());}">Test</button>
                                    <div class="error_label_container text-error"></div>
                                </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Temporary Folder</label>
                                <div class="controls">
                                <input class="input-xxl" id="octolapse_main_temporary_directory" name="octolapse_main_temporary_directory"
                                       class="input-mini ignore_hidden_errors"
                                       title="Used to store temporary snapshots and images used to render timelapses.  Defaults to the **tmp** directory in the Octolapse plugin data directory if left empty."
                                       data-bind="value: main_settings.temporary_directory"
                                       type="text" />
                                <a class="octolapse_help" data-help-url="main_settings.temporary_directory.md" data-help-title="Temporary Directory"></a>
                                <button class="btn btn-default" data-bind="click: function() {$parent.testDirectory('temporary', main_settings.temporary_directory());}">Test</button>
                                <div class="error_label_container text-error"></div>
                            </div>
                            </div>
                            <div class="control-group">
                                <label class="control-label">Snapshot Archive Folder</label>
                                <div class="controls">
                                <input class="input-xxl" id="octolapse_main_snapshot_archive_directory" name="octolapse_main_snapshot_archive_directory"
                                       class="input-mini ignore_hidden_errors"
                                       title="Used to store a zipped copy of all rendered images, created after rendering is completed, or after the timelapse is finished if rendering is disabled.  Defaults to the **snapshot_archive** directory in the Octolapse plugin data directory if left empty."
                                       data-bind="value: main_settings.snapshot_archive_directory"
                                       type="text" />
                                <a class="octolapse_help" data-help-url="main_settings.snapshot_archive_directory.md" data-help-title="Snapshot Archive Directory"></a>
                                <button class="btn btn-default" data-bind="click: function() {$parent.testDirectory('snapshot-archive', main_settings.snapshot_archive_directory());}">Test</button>
                                <div class="error_label_container text-error"></div>

                            </div>
                            </div>
                        </fieldset>
                        <fieldset class="octolapse">
                            <legend>Automatic Updates</legend>
                            <div>
                                <div class="control-group">
                                    <label class="control-label">Enabled</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable automatic updates." data-bind="checked:main_settings.automatic_updates_enabled" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.automatic_updates_enabled.md" data-help-title="Enable Automatic Updates"></a>
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group" data-bind="visible: main_settings.automatic_updates_enabled">
                                    <label class="control-label">Update every</label>
                                    <div class="controls">
                                        <span class="input-append">
                                            <input id="octolapse_main_automatic_update_interval_days" name="octolapse_main_automatic_update_interval_days"
                                                   class="input-mini ignore_hidden_errors"
                                                   title="The number of days to wait between update checks."
                                                   data-bind="value: main_settings.automatic_update_interval_days"
                                                   type="number" min="1" max="365" step="1" required="true" />
                                            <span class="add-on">days</span>
                                        </span>

                                        <a class="octolapse_help" data-help-url="main_settings.automatic_update_interval_days.md" data-help-title="Auto Reload Frames"></a>
                                        <div class="error_label_container text-error"></div>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="octolapse">
                            <legend>Print Start Options</legend>
                            <div>
                                <div>
                                    <h4>Startup Errors</h4>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Cancel print if startup errors are detected</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Cancel if startup errors are detected" data-bind="checked:main_settings.cancel_print_on_startup_error" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.cancel_print_on_startup_error.md" data-help-title="Cancel Print On Startup Error"></a>
                                        </label>
                                    </div>
                                </div>
                                <div>
                                    <h4>Snapshot Plan Preview</h4>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Preview Snapshot Plans</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Preview Pre-Calculated Snapshot Plan Information Before Printing" data-bind="checked:main_settings.preview_snapshot_plans" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.preview_snapshot_plans.md" data-help-title="Preview Snapshot Plan"></a>
                                        </label>
                                    </div>
                                </div>
                                <div data-bind="visible: main_settings.preview_snapshot_plans">
                                    <div class="control-group">
                                        <label class="control-label">Auto-Close Snapshot Plan Preview</label>
                                        <div class="controls">
                                            <label class="checkbox">
                                                <input type="checkbox" title="Automatically close snapshot plan preview" data-bind="checked:main_settings.preview_snapshot_plan_autoclose" />Enabled
                                                <a class="octolapse_help" data-help-url="main_settings.preview_snapshot_plan_autoclose.md" data-help-title="Auto-Close Snapshot Plan Preview"></a>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="control-group" data-bind="visible: main_settings.preview_snapshot_plan_autoclose">
                                        <label class="control-label">Auto-Close Snapshot Plan Preview Seconds</label>
                                        <div class="controls">
                                            <input name="auto_reload_frames" class="input-mini ignore_hidden_errors" title="The number of seconds to wait before automatically closing the snapshot plan preview." type="number" data-bind="value: main_settings.preview_snapshot_plan_seconds" min="1" step="1" required="true" />
                                            <a class="octolapse_help" data-help-url="main_settings.preview_snapshot_plan_seconds.md" data-help-title="Auto-Close Snapshot Plan Preview Seconds"></a>
                                            <div class="error_label_container text-error"></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </fieldset>
                        <fieldset class="octolapse">
                            <legend>Navbar Options</legend>
                            <div class="control-group">
                                <label class="control-label">Display Navbar While Printing</label>
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" title="Enable or disable navbar icon" data-bind="checked:main_settings.show_navbar_icon" />Enabled
                                        <a class="octolapse_help" data-help-url="main_settings.show_navbar_icon.md" data-help-title="Show Navbar Icon"></a>
                                    </label>
                                </div>
                            </div>
                            <div class="control-group" data-bind="visible:main_settings.show_navbar_icon">
                                <label class="control-label">Always Display Navbar</label>
                                <div class="controls">
                                    <label class="checkbox">
                                        <input type="checkbox" title="Show the navbar when not printing" data-bind="checked:main_settings.show_navbar_when_not_printing" />Enabled
                                        <a class="octolapse_help" data-help-url="main_settings.show_navbar_when_not_printing.md" data-help-title="Show Navbar When Not Printing"></a>
                                    </label>
                                </div>
                            </div>
                        </fieldset>
                        <fieldset class="octolapse">
                            <legend>Octolapse Tab Options</legend>
                            <div>
                                <div>
                                    <h5>Snapshot Viewer</h5>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Auto-Load Most Recent Snapshot</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Auto-reload latest snapshot thumbnail and full size preview when a new snashot is taken" data-bind="checked:main_settings.auto_reload_latest_snapshot" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.auto_reload_latest_snapshot.md" data-help-title="Auto Reload Latest Snapshot"></a>
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group" data-bind="visible: main_settings.auto_reload_latest_snapshot">
                                    <label class="control-label">Animation Frames</label>
                                    <div class="controls">
                                        <input id="octolapse_main_auto_reload_frames" name="octolapse_main_auto_reload_frames"
                                               class="input-mini ignore_hidden_errors"
                                               title="The number of frames to animate during auto-reload"
                                               data-bind="value: main_settings.auto_reload_frames"
                                               type="number" min="1" max="256" step="1" required="true" />
                                        <a class="octolapse_help" data-help-url="main_settings.auto_reload_frames.md" data-help-title="Auto Reload Frames"></a>
                                        <div class="error_label_container text-error"></div>
                                    </div>
                                </div>
                            </div>
                            <div>
                                <h4>Info Panels</h4>
                            </div>
                            <div>
                                <div class="control-group">
                                    <label class="control-label">Enable Printer State Panel</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable or disable state change display" data-bind="checked:main_settings.show_printer_state_changes" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.show_printer_state_changes.md" data-help-title="Show Printer State Changes"></a>
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Enable Position Panel</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable or disable state change display" data-bind="checked:main_settings.show_position_changes" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.show_position_changes.md" data-help-title="Show Position Changes"></a>
                                            <br />
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Show Extruder Panel</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable or disable state change display" data-bind="checked:main_settings.show_extruder_state_changes" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.show_extruder_state_changes.md" data-help-title="Show Extruder State Changes"></a>
                                            <br />
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Show Trigger Panel</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable or disable state change display" data-bind="checked:main_settings.show_trigger_state_changes" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.show_trigger_state_changes.md" data-help-title="Show Trigger State Changes"></a>
                                            <br />
                                        </label>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Show Snapshot Plan Panel</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input type="checkbox" title="Enable or disable the snapshot plan informaiton display" data-bind="checked:main_settings.show_snapshot_plan_information" />Enabled
                                            <a class="octolapse_help" data-help-url="main_settings.show_snapshot_plan_information.md" data-help-title="Show Snapshot Plan Information"></a>
                                            <br />
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer" style="bottom:0;position:relative">
                        <div class="row-fluid">
                            <div id="edit_validation_summary" class="alert alert-danger span12" style="display:none;">
                                <div class="error-count"></div>
                            </div>
                        </div>
                        <div class="row-fluid">
                            <span class="span4">
                                <button type="button" class="btn btn-default cancel input-block-level">Cancel</button>
                            </span>
                            <span class="span4">
                                <button type="button" class="btn btn-default set-defaults input-block-level"> Defaults</button>
                            </span>
                            <span class="span4">
                                <button type="button" class="btn btn-primary save input-block-level"> Save</button>
                            </span>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</script>

<script type="text/html" id="octolapse-global-settings-main-display">
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.is_octolapse_enabled() ? 'Octolapse is enabled' : 'Octolapse is disabled'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (is_octolapse_enabled()  ), 'fa-close': (!is_octolapse_enabled() ) },style: { color: (is_octolapse_enabled()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.is_octolapse_enabled() ? 'Octolapse is enabled' : 'Octolapse is disabled'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.test_mode_enabled() ? 'Test Mode is enabled - Your printer will not warm up or extrude filament' : 'Test Mode is disabled - Your printer will print normally'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (test_mode_enabled()  ), 'fa-close': (!test_mode_enabled() ) },style: { color: (test_mode_enabled()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.test_mode_enabled() ? 'Test Mode is enabled' : 'Test Mode is disabled'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.cancel_print_on_startup_error() ? 'Cancel print on startup error' : 'Do not cancel print on startup error'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (cancel_print_on_startup_error()  ), 'fa-close': (!cancel_print_on_startup_error() ) },style: { color: (cancel_print_on_startup_error()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.cancel_print_on_startup_error() ? 'Cancel print on startup error' : 'Do not cancel print on startup error'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.auto_reload_latest_snapshot() ? 'Auto loading latest snapshot, up to ' + global_settings.auto_reload_frames() + ' frames.'  : 'Auto snapshot reload is disabled'}">

            <span class="fa fa-check " data-bind="css:{'fa-check': (auto_reload_latest_snapshot()  ), 'fa-close': (!auto_reload_latest_snapshot() ) },style: { color: (auto_reload_latest_snapshot()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.auto_reload_latest_snapshot() ? 'Auto loading latest snapshot, up to ' + global_settings.auto_reload_frames() + ' frames.' : 'Auto snapshot reload is disabled'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_navbar_icon() ? 'The navbar control is enabled' : 'The navbar control is disabled'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (show_navbar_icon()  ), 'fa-close': (!show_navbar_icon() ) },style: { color: (show_navbar_icon()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_navbar_icon() ? 'Navbar control is enabled' : 'Navbar control is disabled'"></span>
    </div>
    <div data-bind="visible:global_settings.show_navbar_icon">
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_navbar_when_not_printing() ? 'The navbar will always display' : 'The navbar icon will be hidden unless a timelapse is running.'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.show_navbar_when_not_printing()  ), 'fa-close': (!global_settings.show_navbar_when_not_printing() ) },style: { color: (global_settings.show_navbar_when_not_printing()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_navbar_when_not_printing() ? 'The navbar will always display' : 'The navbar icon will be hidden unless a timelapse is running.'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_printer_state_changes() ? 'Showing position state changes' : 'Not showing position state changes'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.show_printer_state_changes()  ), 'fa-close': (!global_settings.show_printer_state_changes() ) },style: { color: (global_settings.show_printer_state_changes()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_printer_state_changes() ? 'Showing position state changes' : 'Not showing position state changes'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_position_changes() ? 'Showing position changes' : 'Not showing position changes'}">

            <span class="fa fa-check " data-bind="css:{'fa-check': (show_position_changes()  ), 'fa-close': (!show_position_changes() ) },style: { color: (show_position_changes()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_position_changes() ? 'Showing position changes' : 'Not showing position changes'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_extruder_state_changes() ? 'Showing extruder state changes' : 'Not showing extruder state changes'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.show_extruder_state_changes()  ), 'fa-close': (!global_settings.show_extruder_state_changes() ) },style: { color: (global_settings.show_extruder_state_changes()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_extruder_state_changes() ? 'Showing extruder state changes' : 'Not showing extruder state changes'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_trigger_state_changes() ? 'Showing trigger state changes' : 'Not showing trigger state changes'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.show_trigger_state_changes()  ), 'fa-close': (!global_settings.show_trigger_state_changes() ) },style: { color: (global_settings.show_trigger_state_changes()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_trigger_state_changes() ? 'Showing trigger state changes' : 'Not showing trigger state changes'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.show_snapshot_plan_information() ? 'Showing pre-calculated snapshot plan information' : 'Not showing pre-calculated snapshot plan information'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.show_snapshot_plan_information()  ), 'fa-close': (!global_settings.show_snapshot_plan_information() ) },style: { color: (global_settings.show_snapshot_plan_information()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.show_snapshot_plan_information() ? 'Showing pre-calculated snapshot plan information' : 'Not showing pre-calculated snapshot plan information'"></span>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.preview_snapshot_plans() ? 'Pre-calculated snapshot plan previews will be shown before printing' : 'Not showing pre-calculated snapshot plan previews before printing.'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.preview_snapshot_plans()  ), 'fa-close': (!global_settings.preview_snapshot_plans() ) },style: { color: (global_settings.preview_snapshot_plans()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.preview_snapshot_plans() ? 'Pre-calculated snapshot plan previews will be shown before printing' : 'Not showing pre-calculated snapshot plan previews before printing.'"></span>
    </div>
    <div data-bind="visible: global_settings.preview_snapshot_plans()">
        <div data-bind="visible: global_settings.preview_snapshot_plan_autoclose()">
            <span class="fa-lg" data-bind="attr: { title: global_settings.preview_snapshot_plan_autoclose() ? 'The snapshot plan preview will close automatically.' : 'The snapshot plan preview must be closed manually'}">
                <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.preview_snapshot_plan_autoclose() ), 'fa-close': (!global_settings.preview_snapshot_plan_autoclose() ) },style: { color: (global_settings.preview_snapshot_plan_autoclose()  ) ? 'limegreen' : '' }"></span>
            </span>
            <span data-bind="text: (global_settings.preview_snapshot_plans() ? 'The snapshot plan preview will close automatically after ' + global_settings.preview_snapshot_plan_seconds_text() + ' seconds.' : 'The snapshot plan preview must be closed manually.')"></span>
        </div>
    </div>
    <div>
        <span class="fa-lg" data-bind="attr: { title: global_settings.automatic_updates_enabled() ? 'Profiles will be automatically updated.' : 'Profiles will not be automatically updated.'}">
            <span class="fa fa-check " data-bind="css:{'fa-check': (global_settings.automatic_updates_enabled()  ), 'fa-close': (!global_settings.automatic_updates_enabled() ) },style: { color: (global_settings.automatic_updates_enabled()  ) ? 'limegreen' : '' }"></span>
        </span>
        <span data-bind="text: global_settings.automatic_updates_enabled() ? 'Profiles will be automatically updated.' : 'Profiles will not be automatically updated.'"></span>
    </div>
</script>
