<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="extruder-status-template">
  <div class="panel panel-default">
    <div class="panel-heading ol-heading">
      <div class="row-fluid">
        <div class="span12">
          <h4>Extruder State</h4>
        </div>
      </div>

    </div>
    <div class="panel-body">
      <div class="row-fluid text-center">

        <div class="span4 octolapse-container">
          <div class="margin-small">
            <div>
              Retraction
            </div>
            <div>
              <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: ExtruderState.getRetractionStateText}">
                <span class="fa fa-circle fa-stack-2x outline"></span>
                <span class="fa fa-circle fa-stack-2x extruder-icon"></span>
                <span class="fa fa-stack-1x" data-bind="css:ExtruderState.getRetractionStateIconClass"></span>
              </span>
            </div>
            <div class="ol-text-status-1">
              <span data-bind="text:ExtruderState.getRetractionStateText"></span>&nbsp;
            </div>
          </div>
        </div>
        <div class="span4 octolapse-container">
          <div class="margin-small">
            <div>
              Deretraction
            </div>
            <div>
              <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: ExtruderState.getDeretractionStateText}">
                <span class="fa fa-circle fa-stack-2x outline"></span>
                <span class="fa fa-circle fa-stack-2x extruder-icon"></span>
                <span class="fa fa-stack-1x" data-bind="css:ExtruderState.getDeretractionIconClass"></span>
              </span>
            </div>
            <div class="ol-text-status-1">
              <span data-bind="text:ExtruderState.getDeretractionStateText"></span>&nbsp;
            </div>
          </div>
        </div>
        <div class="span4 octolapse-container">
          <div class="margin-small">
            <div>
              Extrusion
            </div>

            <div>
              <span class="fa-stack fa-2x info-panel-icon" data-bind="attr: {title: ExtruderState.getExtrudingStateText}">
                <span class="fa fa-circle fa-stack-2x outline"></span>
                <span class="fa fa-circle fa-stack-2x extruder-icon"></span>
                <span class="fa fa-stack-1x" data-bind="css:ExtruderState.getExtrudingStateIconClass"></span>
              </span>
            </div>
            <div class="ol-text-status-1">
              <span data-bind="text:ExtruderState.getExtrudingStateText"></span>  &nbsp;
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel-footer ol-info-footer">
      <div class="row-fluid">
        <div class="span12">
          Filament Extruded:&nbsp;<span data-bind="text : ExtruderState.extrusion_length_total"></span>&nbsp;<i>mm</i>
        </div>
      </div>

    </div>
  </div>
</script>
