<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<div id="octolapse">
    <!-- We need somewhere to bind the OctolapseViewModel-->
</div>

<div id="octolapse_tab" class="octolapse">
    <script>
        getLatestSnapshotUrl = function (camera_guid) {
            return "plugin/octolapse/getSnapshot?file_type=snapshot&camera_guid=" + camera_guid + "&apikey=" + UI_API_KEY;
        };
        getLatestSnapshotThumbnailUrl = function (camera_guid) {
            return "plugin/octolapse/getSnapshot?file_type=thumbnail&camera_guid=" + camera_guid + "&apikey=" + UI_API_KEY;
        };
    </script>
    <div data-bind="visible:Octolapse.Globals.has_loaded_state" style="display:none">
        <div class="row-fluid">
            <div class="span6">
                <span data-bind="visible: Octolapse.Globals.is_admin, click: function() {return Octolapse.Globals.main_settings.toggleOctolapse();}" title="Enable or Disable Octolapse">
                    <i class="fa fa-lg" data-bind="css: {'fa-toggle-on': Octolapse.Globals.main_settings.is_octolapse_enabled, 'fa-toggle-off': !Octolapse.Globals.main_settings.is_octolapse_enabled()}"></i>
                </span>
                <span data-bind="text: getEnabledButtonText, attr: {title: getStateSummaryText}"></span>
            </div>
            <div class="span6 text-right">
                <span class="text-center" data-bind="visible: (is_timelapse_active() && Octolapse.Globals.is_admin())">
                    <a title="Stop Octolapse" data-bind="click: function() {$data.stopTimelapse();}">
                        <i class="fa fa-stop-circle fa-lg"></i>
                    </a>
                </span>
                &nbsp;
                <a title="Open Octolapse Main Settings" data-bind="visible: Octolapse.Globals.is_admin, click: function() {openOctolapseSettings('main-settings');}"><i class="fa fa-gear fa-lg"></i></a>

            </div>
        </div>
        <div>
            <div class="alert alert-danger octolapse" data-bind="visible: getStatusText() != ''">
                <span data-bind="text: getStatusText"></span>
            </div>
            <div data-bind="visible: is_test_mode_active()" class="row-fluid">
                <div class="span12 alert alert-info octolapse">
                    <span>Test mode is enabled</span>&nbsp;<a class="octolapse_help right" data-help-url="main_settings.is_test_mode.md" data-help-title="Test Mode - Prevent Extrusion and Warmup"></a>
                </div>
            </div>
            <div data-bind="visible: !is_timelapse_active() && Octolapse.Globals.main_settings.test_mode_enabled() && Octolapse.Globals.main_settings.is_octolapse_enabled()" class="row-fluid">
                <div class="span12 alert alert-info octolapse">
                    <span>Test mode will be activated when your next print starts.</span>&nbsp;<a class="octolapse_help right" data-help-url="main_settings.is_test_mode.md" data-help-title="Test Mode - Prevent Extrusion and Warmup"></a>
                </div>
            </div>
        </div>
        <div>
            <div data-bind="visible: !wait_for_moves_to_finish()" class="row-fluid">
                <div class="span12 alert alert-info octolapse">
                    <span>Wait for moves to finish has been disabled within your stabilization profile.</span>&nbsp;<a class="octolapse_help right" data-help-url="profiles.stabilization.wait_for_moves_to_finish.md" data-help-title="Wait For Moves To Finish"></a>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div id="octolapse_snapshot_thumbnail_container" class="text-center octolapse-secondary-gray-background">
                    <span class="text-center">
                        Timelapse Preview
                    </span>
                    <div class="snapshot-container">
                        <div class="octolapse-camera-state-text" data-bind="visible:!current_camera_enabled() || current_camera_state_text() != ''">
                            <div class="octolapse-camera-state-text-wrapper">
                                <div>
                                    <p data-bind="visible: !current_camera_enabled()">Camera Disabled</p>
                                    <p data-bind="visible: current_camera_state_text() != '', text:current_camera_state_text()"></p>
                                </div>
                            </div>
                        </div>
                        <span class="previous-snapshots">
                        </span>
                        <div class="latest-snapshot" data-bind="click: function() { startSnapshotAnimation('octolapse_snapshot_thumbnail_container'); }">
                            <img class="latest" src="">
                        </div>
                        <div class="octolapse-snapshot-button-overlay">
                            <span class="play-button" data-bind="visible: show_play_button">
                                <a title="Play animation if there are enough frames stored." class="play"
                                   data-bind="css: {'fade-out': !is_taking_snapshot()}, click: function() { startSnapshotAnimation('octolapse_snapshot_thumbnail_container'); }" style="display:none;">
                                    <i class="fa-stack fa-3x">
                                        <i class="fa fa-play-circle fa-stack-1x fa-inverse outline"></i>
                                        <i class="fa fa-play-circle fa-stack-1x"></i>
                                    </i>
                                </a>
                            </span>
                            <span class="snapshot-indicator" data-bind="css: {'fade-out': !is_taking_snapshot()}, click: function() { startSnapshotAnimation('octolapse_snapshot_thumbnail_container'); }">
                                <i class="fa-stack fa-3x">
                                    <i class="fa fa-stack-1x icon-camera fa-inverse outline"></i>
                                    <i class="fa fa-stack-1x icon-camera"></i>
                                    <i class="fa fa-stack-1x fa-spinner fa-spin outline"></i>
                                    <i class="fa fa-stack-1x fa-spinner fa-spin fa-inverse"></i>
                                </i>
                            </span>
                            <a class="refresh"
                               data-bind="click: function() { refreshLatestImage('octolapse_snapshot_thumbnail_container',true); },css: {'fade-out': Octolapse.Globals.main_settings.auto_reload_latest_snapshot}">
                                <i class="fa-stack">
                                    <i class="fa fa-refresh fa-stack-2x fa-inverse outline"></i>
                                    <i class="fa fa-refresh fa-stack-2x"></i>
                                </i>
                            </a>
                            <a title="View a larger version of the preview image." class="octolapse-fullscreen"
                               data-bind="click: showLatestSnapshotDialog">
                                <i class="fa-stack">
                                    <i class="fa icon-fullscreen fa-stack-2x fa-inverse outline"></i>
                                    <i class="fa icon-fullscreen fa-stack-2x"></i>
                                </i>
                            </a>
                        </div>
                    </div>
                    <div class="select-with-edit">
                        <select id="octolapse_current_snapshot_camera"
                                data-bind="options: Octolapse.Status.cameras_sorted,
                                           optionsText: 'name',
                                           optionsValue: 'guid',
                                           optionsCaption: 'Select a camera',
                                           value: Octolapse.Status.current_camera_guid"></select>
                        <a title="Edit image preferences"
                           data-bind="visible: canEditSettings() && Octolapse.Globals.is_admin, click: showWebcamSettings">
                            <i class="fa fa-pencil fa-2x"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span6">
                <div class="row-fluid">
                    <div class="span5 text-right">
                        Snapshot Count:
                    </div>
                    <div class="span7">
                        <span data-bind="text: snapshot_count"></span>
                    </div>
                </div>
                <div class="row-fluid text-error" data-bind="visible: snapshot_failed_count() > 0">
                    <div class="span5 text-right">
                        Failed Snapshots:
                    </div>
                    <div class="span7">
                        <span data-bind="text: snapshot_failed_count"></span>
                    </div>
                </div>
            </div>
            <div class="span6 text-right" data-bind="visible: Octolapse.Globals.is_admin">
                <div class="row-fluid margin-bottom-small" data-bind="visible: dialog_rendering_unfinished.count() > 0">
                    <button type="button" class="span12 btn btn-danger input-block-level" data-bind="click: dialog_rendering_unfinished.open" title="View Unfinished Renderings"> <span data-bind="text: dialog_rendering_unfinished.count"></span> Unfinished Rendering<span data-bind="visible: dialog_rendering_unfinished.count() > 1">s</span>&hellip;</button>
                </div>
                <div class="row-fluid margin-bottom-small" data-bind="visible: dialog_rendering_in_process.count() > 0">
                    <button type="button" class="span12 btn btn-primary input-block-level" data-bind="click: dialog_rendering_in_process.open" title="View Rendering Progress"> <span data-bind="text: dialog_rendering_in_process.count"></span> Video<span data-bind="visible: dialog_rendering_in_process.count() > 1">s</span>  Rendering&nbsp;<i class="fa fa-spinner fa-spin"></i></button>
                </div>
                <div class="row-fluid">
                    <button type="button" class="span12 btn input-block-level" data-bind="click: openTimelapseFilesDialog" title="View and Download Timelapses and Snapshots">Videos and Images&hellip;</button>
                </div>
            </div>
        </div>
        <div class="row-fluid">
            <div class="span12">
                <div data-bind="template:'octolapse-settings-current'"></div>
            </div>
        </div>
        <div data-bind="visible: Octolapse.Status.is_timelapse_active() && Octolapse.Status.is_real_time()">
            <hr data-bind="visible: (Octolapse.Globals.main_settings.show_trigger_state_changes ||
                                    Octolapse.Globals.main_settings.show_extruder_state_changes ||
                                    Octolapse.Globals.main_settings.show_printer_state_changes() ||
                                    Octolapse.Globals.main_settings.show_position_change)" />
            <div data-bind="visible: Octolapse.Globals.main_settings.show_printer_state_changes() || (Octolapse.Status.is_timelapse_active() && Octolapse.Status.PrinterState.hasPrinterStateErrors()), template:'position-state-status-template'">
            </div>
            <div data-bind="visible: Octolapse.Globals.main_settings.show_extruder_state_changes, template:'extruder-status-template'">
            </div>
            <div data-bind="visible: Octolapse.Globals.main_settings.show_position_changes, template:'position-status-template'">
            </div>
            <div data-bind="visible: Octolapse.Globals.main_settings.show_trigger_state_changes">
                <div class="panel panel-default">
                    <div class="panel-heading ol-heading">
                        <h4>
                            Trigger Profile: <span data-bind="text: TriggerState.name"></span>
                        </h4>
                    </div>
                    <div class="panel-body">
                        <div class="row-fluid" data-bind="foreach: TriggerState.triggers">
                            <div class="span12"
                                 data-bind="template: { name: Octolapse.Status.getTriggerStateTemplate(type())}"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div data-bind="visible: (Octolapse.Status.is_timelapse_active() && !Octolapse.Status.is_real_time())">
            <div id="snapshot_plan_info_panel" data-bind="visible: Octolapse.Globals.main_settings.show_snapshot_plan_information, template:'snapshot-plan-status-template'">
            </div>
        </div>
        <div data-bind="template:'latest-snapshot-template'"></div>
        <br />
        <div class="row-fluid">
            <div class="span9">
                <small>
                    <a data-bind="click: function() {openOctolapseSettings('about');}" title="About Octolapse"><i class="fa fa-info-circle"></i>&nbsp;About</a>
                    &nbsp;|&nbsp;
                    <a href="https://github.com/FormerLurker/Octolapse/wiki" target="_blank" title="The Octolapse Wiki"><i class="fa fa-question-circle"></i>&nbsp;Wiki</a>
                    &nbsp;|&nbsp;
                    <a href="https://github.com/FormerLurker" target="_blank" title="FormerLurker&#146;s Github Page"><i class="fa fa-github">&nbsp;Github</i></a>
                    &nbsp;|&nbsp;
                    <a href="https://youtube.com/c/FormerLurker" target="_blank" title="FormerLurker&#146;s YouTube Channel"><i class="fa fa-youtube"></i>&nbsp;YouTube</a>
                    &nbsp;|&nbsp;
                    <a href="https://paypal.me/formerlurker" target="_blank" title="Donate via PayPal"><i class="fa fa-paypal"></i>&nbsp;PayPal</a>
                    &nbsp;|&nbsp;
                    <a href="https://www.patreon.com/bePatron?u=9588101" target="_blank" title="Become a patron"><i class="fa fa-patreon"></i>&nbsp;Patreon</a>
                </small>
            </div>
            <div class="span3 test-right">
                <small>
                    <a target="_blank" data-bind="visible: Octolapse.Globals.main_settings.github_link() != null, attr: { href: Octolapse.Globals.main_settings.github_link}">
                         <i data-bind="text:Octolapse.Globals.version_text"></i>
                    </a>
                    <span data-bind="visible: !Octolapse.Globals.main_settings.github_link() == null" >
                        <i data-bind="text:Octolapse.Globals.version_text"></i>
                    </span>
                </small>
            </div>
        </div>
        <div data-bind="template:  { name: 'webcam-settings-popup-template', data: webcam_settings_popup}"></div>
        <div data-bind="template:'snapshot-plan-preview-template'"></div>
    </div>
    <div data-bind="visible:!Octolapse.Globals.has_loaded_state()" class="loading">
        <span>
            Loading Octolapse... <i class="fa fa-spinner fa-spin"></i>
        </span>
    </div>
    <!-- Octolapse Dialogs -->
    <div data-bind="template: {name: 'octolapse-dialog-template', data: dialog_rendering_unfinished}"></div>
    <div data-bind="template: {name: 'octolapse-dialog-template', data: dialog_rendering_in_process}"></div>
    <div data-bind="template: {name: 'octolapse-dialog-template', data: timelapse_files_dialog}"></div>
    <!-- This is just used to test the visuals when the current user isn't an admin.  It doesn't actually change any permissions.
        <button data-bind="click: Octolapse.Globals.toggleAdmin">Toggle Admin</button>
    -->
</div>


{% include "octolapse_status_triggers.jinja2" %}
{% include "octolapse_status_extruder.jinja2" %}
{% include "octolapse_status_position.jinja2" %}
{% include "octolapse_status_printer_state.jinja2" %}
{% include "octolapse_status_snapshot_plan.jinja2" %}
{% include "octolapse_snapshot_plan.jinja2" %}
{% include "octolapse_tab_latest_snapshot.jinja2" %}
{% include "octolapse_tab_settings_current.jinja2" %}
{% include "octolapse_tab_webcam_settings_popup.jinja2" %}
{% include "octolapse_tab_snapshot_plan_preview_popup.jinja2" %}
{% include "octolapse_dialog_rendering_unfinished.jinja2" %}
{% include "octolapse_dialog_rendering_in_process.jinja2" %}
{% include "octolapse_dialog_timelapse_files.jinja2" %}
{% include "octolapse_dialog.jinja2" %}
{% include "octolapse_helpers.jinja2" %}
