<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2023  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="camera-template">
    <input type="hidden" data-bind="value : guid" />
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div>
            <div class="control-group">
                <label class="control-label">Name</label>
                <div class="controls">
                    <input id="octolapse_camera_name" name="octolapse_camera_name"
                           class="input-block-level"
                           data-bind="value: name"
                           type="text" required="true" />
                    <div class="error_label_container text-error" data-error-for="octolapse_camera_name"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Description</label>
                <div class="controls">
                    <textarea id="octolapse_camera_description" name="octolapse_camera_description"
                              class="input-block-level"
                              data-bind="value: description"
                              type="text" maxlength="1024" ></textarea>
                    <div class="error_label_container text-error" data-error-for="octolapse_camera_description"></div>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Enabled</label>
                <div class="controls">
                    <label class="checkbox">
                        <input id="octolapse_camera_enabled" name="octolapse_camera_enabled"
                               data-bind="checked: enabled"
                               type="checkbox" />Enabled
                    </label>
                    <span class="help-inline">Octolapse will only acquire images from this camera if it is enabled.</span>
                </div>
            </div>
        </div>
        <div data-bind="template: {name:'octolapse-profile-library-test-template', data: automatic_configuration}"></div>

        <div data-bind="slideVisible: !(automatic_configuration.updating_from_server())">
            <hr />
            <div>
                <h4>Camera Type</h4>
            </div>
            <div class="control-group">
                <div class="controls">
                    <select id="octolapse_camera_camera_type" name="octolapse_camera_camera_type"
                            data-bind="options: Octolapse.Cameras.profileOptions.camera_type_options,
                                       optionsText: 'name',
                                       optionsValue: 'value',
                                       optionsCaption: 'Select One...',
                                       value: camera_type"></select>
                    <a class="octolapse_help" data-help-url="profiles.camera.camera_type.md" data-help-title="Camera Type"></a>
                    <div class="error_label_container text-error" data-error-for="octolapse_camera_camera_type"></div>
                </div>
            </div>
            <hr />
            <div>
                <div data-bind="visible: camera_type() == 'script'">
                    <div>
                        <h4>External Camera Setup - Script</h4>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Snapshot Acquire Script</label>
                        <div class="controls">
                            <input id="octolapse_camera_external_camera_snapshot_script" name="octolapse_camera_external_camera_snapshot_script"
                                   class="input-xlg ignore_hidden_errors"
                                   data-bind="value: external_camera_snapshot_script"
                                   type="text" required="true" />
                            <a class="octolapse_help" data-help-url="profiles.camera.external_camera_snapshot_script.md" data-help-title="Snapshot Acquire Script"></a>
                            <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('snapshot');}">Test Script</button>
                            <div class="error_label_container text-error" data-error-for="octolapse_camera_external_camera_snapshot_script"></div>
                            <span class="help-inline">The full path and file name of a script that will be run executed after the printer is in the stabilization position.  Should be used to take a snapshot.</span>
                        </div>
                    </div>
                </div>

                <div data-bind="visible: camera_type() == 'gcode'">
                    <div>
                        <h4>Gcode Script Camera - Send gcode to your printer to take a snapshot</h4>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Gcode</label>
                        <div class="controls">
                            <textarea id="octolapse_camera_gcode_camera_script" name="octolapse_camera_gcode_camera_script"
                                      class="input-xlg ignore_hidden_errors"
                                      data-bind="value: gcode_camera_script"
                                      type="text" required="true"></textarea>
                            <a class="octolapse_help" data-help-url="profiles.camera.gcode_camera_script.md" data-help-title="Gcode Script Camera"></a>
                            <div class="error_label_container text-error" data-error-for="octolapse_camera_gcode_camera_script"></div>
                            <span class="help-inline">Gcode to send to the printer in order to capture a snapshot.</span>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: camera_type() == 'webcam'">
                    <div>
                        <h4>Webcam Setup</h4>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Base Address</label>
                        <div class="controls">
                            <input id="octolapse_camera_webcam_address" name="octolapse_camera_webcam_address"
                                   class="input-xxl ignore_hidden_errors"
                                   data-bind="value: webcam_settings.address"
                                   type="text" required="true" />
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.address.md" data-help-title="Webcam Base Address"></a>
                            <div class="error_label_container text-error" data-error-for="octolapse_camera_webcam_address"></div>
                            <span class="help-inline">The full address to the camera, including http:// or https://</span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Snapshot Address</label>
                        <div class="controls">
                            <input id="octolapse_camera_webcam_snapshot_request_template" name="octolapse_camera_webcam_snapshot_request_template"
                                   class="input-xxl ignore_hidden_errors"
                                   data-bind="value: webcam_settings.snapshot_request_template"
                                   type="text" required="true" />
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.snapshot_request_template.md" data-help-title="Webcam Snapshot Address Template"></a>
                            <button class="btn btn-default " data-bind="click: function() {$data.testCamera();}">Test Webcam</button>
                            <div class="error_label_container text-error" data-error-for="octolapse_camera_webcam_snapshot_request_template"></div>
                            <span class="help-inline">
                                Enter a full url for accessing a snapshot image from your webcam.  The token <i>{camera_address}</i> will be replaced with the camera address above.
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Stream Address Template</label>
                        <div class="controls">
                            <input id="octolapse_camera_webcam_stream_template" name="octolapse_camera_webcam_stream_template"
                                   class="input-xxl ignore_hidden_errors"
                                   data-bind="value: webcam_settings.stream_template"
                                   type="text" required="true" />
                            <a class="octolapse_help" data-help-url="profiles.camera.stream_template.md" data-help-title="Stream Address Template"></a>
                            <div class="error_label_container text-error" data-error-for="octolapse_camera_webcam_stream_template"></div>
                            <span class="help-inline">
                                This is ONLY used for previewing webcam custom image preferences.
                            </span>
                        </div>
                    </div>
                    <div class="control-group">
                        <label class="control-label">Stream Download</label>
                        <div class="controls">
                            <label class="checkbox">
                                <input id="octolapse_camera_webcam_stream_download" name="octolapse_camera_webcam_stream_download"
                                       data-bind="checked: webcam_settings.stream_download"
                                       title="Enable streaming image download"
                                       type="checkbox" /> Enabled
                                <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.stream_download.md" data-help-title="Stream Download"></a>
                            </label>
                            <span class="help-inline">Warning:  Enabling this option may cause jitter.  See the help link for details.</span>
                        </div>
                    </div>
                    <div>
                        <div class="control-group">
                            <a class="muted" data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#camera-advanced.hide' }">
                                <i class="fa fa-no-shadow fa-caret-right"></i> {{ _('Advanced Webcam Options') }}
                            </a>
                        </div>
                        <div id="camera-advanced" class="control-group hide">
                            <div>
                                <div>
                                    <h4>Security</h4>
                                </div>

                                <div class="control-group">
                                    <label class="control-label">Ignore SSL Errors</label>
                                    <div class="controls">
                                        <label class="checkbox">
                                            <input id="octolapse_camera_webcam_ignore_ssl_error" name="octolapse_camera_webcam_ignore_ssl_error"
                                                   data-bind="checked: webcam_settings.ignore_ssl_error"
                                                   type="checkbox" />Enabled
                                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.ignore_ssl_error.md" data-help-title="Ignore Webcam SSL Errors"></a>
                                        </label>
                                        <span class="help-inline">
                                            Ignore any SSL errors at the camera address.  <span class="label label-important">Attention</span>&nbsp;Using this option will solve SSL issues if you are trying to stream your camera over https, but could leave you open to man in the middle attacks.
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">User Name</label>
                                    <div class="controls">
                                        <input id="octolapse_camera_webcam_username" name="octolapse_camera_webcam_username"
                                               class="input"
                                               data-bind="value: webcam_settings.username"
                                               type="text" />
                                        <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.username.md" data-help-title="Webcam User Name"></a>
                                        <span class="help-inline">
                                            Enter a username to be sent with the camera snapshot request.  If you leave this blank, no sign-in credentials will be sent
                                        </span>
                                    </div>
                                </div>
                                <div class="control-group">
                                    <label class="control-label">Password</label>
                                    <div class="controls">
                                        <!-- The text and password here are to prevent FF from auto filling my login credentials because it ignores autocomplete="off"-->
                                        <input type="text" style="display:none" />
                                        <input type="password" style="display:none" />
                                        <input id="octolapse_camera_webcam_password" name="octolapse_camera_webcam_password"
                                               class="input" autocomplete="off"
                                               data-bind="value: webcam_settings.password"
                                               type="password" />
                                        <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.password.md" data-help-title="Webcam Password"></a>
                                        <span class="help-inline">
                                            If required, enter a password to be sent with the camera snapshot request.  <span class="label label-important">Attention</span>&nbsp;Be sure you are using HTTPS when setting a password and that your camera URL is secure to keep your password secure!
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <h4>General Options</h4>
            </div>
            <div>
                <div class="control-group">
                    <label class="control-label">Snapshot Delay</label>
                    <div class="controls">
                        <span class="input-append">
                            <input id="octolapse_camera_delay" name="octolapse_camera_delay"
                                   class="input-small text-right"
                                   data-bind="value: delay"
                                   type="number" min="0" max="5000" step="1" required="true" />
                            <span class="add-on">MS</span>
                        </span>
                        <a class="octolapse_help" data-help-url="profiles.camera.delay.md" data-help-title="Snapshot Delay"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_delay"></div>
                        <span class="help-inline">This value should be as low as possible (ideally 0).  See the help file for more details.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Snapshot Timeout</label>
                    <div class="controls">
                        <span class="input-append">
                            <input id="octolapse_camera_timeout_ms" name="octolapse_camera_timeout_ms"
                                   class="input-small text-right"
                                   data-bind="value: timeout_ms"
                                   type="number" min="0" step="1" required="true" />
                            <span class="add-on">MS</span>
                        </span>
                        <a class="octolapse_help" data-help-url="profiles.camera.timeout_ms.md" data-help-title="Snapshot Timeout"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_timeout_ms"></div>
                        <span class="help-inline">Octolapse will wait this long (in milliseconds) to get an image from your camera, else it will timeout and the print will continue.  The timeout doesn't start until after the camera delay specified above.</span>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: camera_type() != 'gcode'">
                    <label class="control-label">Rotate, Mirror, Flip or Transpose Snapshots</label>
                    <div class="controls">
                        <select id="octolapse_camera_snapshot_transpose" name="octolapse_camera_snapshot_transpose"
                                data-bind="options: Octolapse.Cameras.profileOptions.snapshot_transpose_options,
                                           optionsText: 'name',
                                           optionsValue: 'value',
                                           optionsCaption: 'Select One...',
                                           value: snapshot_transpose"></select>
                        <a class="octolapse_help" data-help-url="profiles.camera.snapshot_transpose.md" data-help-title="Rotate, Mirror, Flip or Transpose Snapshots"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_snapshot_transpose"></div>
                        <span class="help-inline">Optionally rotate, mirror, or flip or transpose your snapshots.  Requires some additional power from your CPU.  Not recommended for slower hardware.  Does NOT affect your camera stream and is NOT affected by webcam rotation in the Octoprint webcam settings.</span>
                    </div>
                </div>
            </div>
            <hr />
            <div>
                <h4>Custom Camera Scripts</h4>
            </div>
            <div>
                <h5>Gcode Scripts</h5>
                <div class="control-group">
                    <label class="control-label">Before Snapshot Gcode</label>
                    <div class="controls">
                        <textarea id="octolapse_camera_on_before_snapshot_gcode" name="octolapse_camera_on_before_snapshot_gcode"
                                  class="input-xlg ignore_hidden_errors"
                                  data-bind="value: on_before_snapshot_gcode"
                                  type="text"></textarea>
                        <a class="octolapse_help" data-help-url="profiles.camera.on_before_snapshot_gcode.md" data-help-title="Gcode Script Camera"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_before_snapshot_gcode"></div>
                        <span class="help-inline">Gcode sent before the snapshot is taken.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">After Snapshot Gcode</label>
                    <div class="controls">
                        <textarea id="octolapse_camera_on_after_snapshot_gcode" name="octolapse_camera_on_after_snapshot_gcode"
                                  class="input-xlg ignore_hidden_errors"
                                  data-bind="value: on_after_snapshot_gcode"
                                  type="text"></textarea>
                        <a class="octolapse_help" data-help-url="profiles.camera.on_after_snapshot_gcode.md" data-help-title="Gcode Script Camera"></a>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_after_snapshot_gcode"></div>
                        <span class="help-inline">Gcode sent after the snapshot is taken.</span>
                    </div>
                </div>
            </div>
            <div>
                <div class="control-group">
                    <label class="control-label">Before Print Start Script</label>
                    <div class="controls">
                        <input id="octolapse_camera_on_print_start_script" name="octolapse_camera_on_print_start_script"
                               class="input-xlg ignore_hidden_errors"
                               data-bind="value: on_print_start_script"
                               type="text" />
                        <a class="octolapse_help" data-help-url="profiles.camera.on_print_start_script.md" data-help-title="Before Print Start Script"></a>
                        <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('before-print');}">Test Script</button>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_print_start_script"></div>
                        <span class="help-inline">Octolapse will execute any script path entered here at the start of a print.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Before Snapshot Script</label>
                    <div class="controls">
                        <input id="octolapse_camera_on_before_snapshot_script" name="octolapse_camera_on_before_snapshot_script"
                               class="input-xlg ignore_hidden_errors"
                               data-bind="value: on_before_snapshot_script"
                               type="text" />
                        <a class="octolapse_help" data-help-url="profiles.camera.on_before_snapshot_script.md" data-help-title="Before Snapshot Script"></a>
                        <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('before-snapshot');}">Test Script</button>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_before_snapshot_script"></div>
                        <span class="help-inline">Octolapse will execute any script path entered here after the printer has stabilized but before taking a snapshot.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">After Snapshot Script</label>
                    <div class="controls">
                        <input id="octolapse_camera_on_after_snapshot_script" name="octolapse_camera_on_after_snapshot_script"
                               class="input-xlg ignore_hidden_errors"
                               data-bind="value: on_after_snapshot_script"
                               type="text" />
                        <a class="octolapse_help" data-help-url="profiles.camera.on_after_snapshot_script.md" data-help-title="After Snapshot Script"></a>
                        <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('after-snapshot');}">Test Script</button>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_after_snapshot_script"></div>
                        <span class="help-inline">Octolapse will execute any script path entered here after a snapshot is complete.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Before Render Script</label>
                    <div class="controls">
                        <input id="octolapse_camera_on_before_render_script" name="octolapse_camera_on_before_render_script"
                               class="input-xlg ignore_hidden_errors"
                               data-bind="value: on_before_render_script"
                               type="text" />
                        <a class="octolapse_help" data-help-url="profiles.camera.on_before_render_script.md" data-help-title="Before Render Script"></a>
                        <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('before-render');}">Test Script</button>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_before_render_script"></div>
                        <span class="help-inline">Octolapse will execute any script path entered here right before rendering.  This is useful to transfer images from a remote location (DSLR or printer), or to apply custom filters.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">After Render Script</label>
                    <div class="controls">
                        <input id="octolapse_camera_on_after_render_script" name="octolapse_camera_on_after_render_script"
                               class="input-xlg ignore_hidden_errors"
                               data-bind="value: on_after_render_script"
                               type="text" />
                        <a class="octolapse_help" data-help-url="profiles.camera.on_after_render_script.md" data-help-title="After Render Script"></a>
                        <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('after-render');}">Test Script</button>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_after_render_script"></div>
                        <span class="help-inline">Octolapse will execute any script path entered here after rendering is complete.</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">After Print End Script</label>
                    <div class="controls">
                        <input id="octolapse_camera_on_print_end_script" name="octolapse_camera_on_print_end_script"
                               class="input-xlg ignore_hidden_errors"
                               data-bind="value: on_print_end_script"
                               type="text" />
                        <a class="octolapse_help" data-help-url="profiles.camera.on_print_end_script.md" data-help-title="After Print Script"></a>
                        <button class="btn btn-default" data-bind="click: function() {$data.testCameraScript('after-print');}">Test Script</button>
                        <div class="error_label_container text-error" data-error-for="octolapse_camera_on_print_end_script"></div>
                        <span class="help-inline">Octolapse will execute any script path entered here after the print has completed.</span>
                    </div>
                </div>
            </div>

        </div>
        <hr />
        <div>
            <h4>Custom Image Preferences</h4>
            <div data-bind="visible: camera_type()=='webcam'">
                <p>Here you can adjust brightness, contrast, focus, pan, tilt, etc. for your webcam.  If enabled, these preferences are applied at the start of each print.</p>
                <p>It is highly recommended that you take the time to configure these settings since they can make a big difference in the quality of your timelapse, and reduce the required snapshot delay.</p>
            </div>
            <div class="text-warning" data-bind="visible: camera_type()!='webcam'">
                <p>Custom image preferences are only available when using the 'Webcam' Camera Type setting above.  It may be possible to use the 'Before Print Start Script' script above to configure your camera.</p>
            </div>
        </div>
        <div>
            <div data-bind="visible: camera_type()=='webcam'">
                <div class="control-group">
                    <label class="control-label">Custom Image Preferences</label>
                    <div class="controls">
                        <label class="checkbox">
                            <a data-bind="click: toggleCustomImagePreferences"><i class="fa fa-no-shadow" data-bind="css: { 'fa-check-square': enable_custom_image_preferences , 'fa-square-o': !enable_custom_image_preferences() } "></i></a>
                            <span data-bind="click: toggleCustomImagePreferences">Enabled</span>
                            <a class="octolapse_help" data-help-url="profiles.camera.webcam_settings.enable_custom_image_preferences.md" data-help-title="Custom Image Preferences"></a>
                        </label>
                        <span class="help-inline">Enable webcam image adjustments.  Currently this only works with mjpg-streamer.</span>
                    </div>
                </div>
                <div data-bind="visible: enable_custom_image_preferences">
                    <div class="control-group">
                        <div class="controls">
                            <div class="alert alert-primary octolapse">
                                <span>You can edit the camera image from the Octolapse tab by selecting your webcam from the dropdown box, and then clicking on the edit to the right of the drop down.  Click on the help icon for more details.</span>&nbsp;<a class="octolapse_help right" data-help-url="profiles.camera.edit_cutsom_image_preferences.md" data-help-title="Editing Custom Image Preferences"><span class="fa fa-question-circle fa-lg"></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input id="octolapse_camera_apply_settings_at_startup" name="octolapse_camera_apply_settings_at_startup"
                                       data-bind="checked: apply_settings_at_startup"
                                       type="checkbox" />Apply Preferences When Octoprint Starts
                                <a class="octolapse_help" data-help-url="profiles.camera.apply_settings_at_startup.md" data-help-title="Apply Webcam Preferences When Octoprint Starts"></a>
                            </label>
                        </div>
                    </div>
                    <div class="control-group">
                        <div class="controls">
                            <label class="checkbox">
                                <input id="camera_profile_apply_settings_before_print" name="camera_profile_apply_settings_before_print"
                                       data-bind="checked: apply_settings_before_print"
                                       type="checkbox" />Apply Preferences Before Print Start
                                <a class="octolapse_help" data-help-url="profiles.camera.apply_settings_before_print.md" data-help-title="Apply Webcam Preferences Before Print Start"></a>
                            </label>
                        </div>
                    </div>

                    <div data-bind="visible: enable_custom_image_preferences() || apply_settings_before_print() ">
                        <div class="control-group">
                            <div class="controls">
                                <label class="checkbox">
                                    <input id="camera_profile_apply_settings_when_disabled" name="camera_profile_apply_settings_when_disabled"
                                               data-bind="checked: apply_settings_when_disabled"
                                               type="checkbox" />Apply Preferences When Camera is Disabled
                                    <a class="octolapse_help" data-help-url="profiles.camera.apply_settings_when_disabled.md" data-help-title="Apply Webcam Preferences When Camera is Disabled"></a>
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr />

        </div>
    </div>
    <div data-bind="template:{ name: 'webcam-settings-popup-template', data: webcam_settings_popup}"></div>
</script>
{% include "octolapse_profiles_camera_webcam.jinja2" %}
