<!--
##################################################################################
# Octolapse - A plugin for OctoPrint used for making stabilized timelapse videos.
# Copyright (C) 2017  Brad Hochgesang
##################################################################################
# This program is free software: you can redistribute it and/or modify
# it under the terms of the GNU Affero General Public License as published
# by the Free Software Foundation, either version 3 of the License, or
# (at your option) any later version.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU Affero General Public License for more details.
#
# You should have received a copy of the GNU Affero General Public License
# along with this program.  If not, see the following:
# https://github.com/FormerLurker/Octolapse/blob/master/LICENSE
#
# You can contact the author either through the git-hub repository, or at the
# following email address: FormerLurker@pm.me
##################################################################################
-->
<script type="text/html" id="snapshot-template">
    <input type="hidden" data-bind="value : guid" />
    <div>
        <div>
            <h4>Profile</h4>
        </div>
        <div class="control-group">
            <label class="control-label">Name</label>
            <div class="controls">
                <input id="snapshot_profile_name" type="text" class="input-block-level" data-bind="value: name" required="true" />
                <div class="error_label_container text-error" data-error-for="snapshot_profile_name"></div>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Description</label>
            <div class="controls">
                <textarea id="snapshot_profile_description" name="description" type="text" class="input-block-level" data-bind="value: description"
                          maxlength="1024" />
                <div class="error_label_container text-error" data-error-for="snapshot_profile_description"></div>
            </div>
        </div>
    </div>
    <div data-bind="visible:(position_restrictions_enabled() && position_restrictions().length > 0)" class="text-warning">
            <p>
                <strong>
                    There <span data-bind="text: (position_restrictions().length > 1 ? 'are' : 'is')"></span> <span data-bind="text: position_restrictions().length"></span> position restriction<span data-bind="text: (position_restrictions().length > 1 ? 's' : '')"></span>
                    currently enabled.
                </strong>
            </p>
        </div>
    <hr />
    <div>
        <div>
            <h4>Trigger Type</h4>
            <span>Allows you to take snapshots either every layer or on a specific height interval.</span>
            <br />
        </div>
        <div class="control-group">
            <label class="control-label">Trigger Type</label>
            <div class="controls">
                <select id="snapshot_profile_layer_trigger_type" data-bind="options: Octolapse.Snapshots.profileOptions.trigger_types,
                       optionsText: 'name',
                       optionsValue: 'value',
                       value: trigger_type"></select>
                <span data-bind="visible: trigger_type() == 'layer'">
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#layerheight-trigger" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </span>
                <span data-bind="visible: trigger_type() == 'timer'">
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#timer-trigger" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </span>
                <span data-bind="visible: trigger_type() == 'gcode'">
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#gcode-trigger" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                </span>
                <div class="error_label_container text-error" data-error-for="snapshot_profile_layer_trigger_type"></div>
            </div>
        </div>

        <div data-bind="visible: trigger_type() == 'layer'">
            <div class="control-group">
                <label class="control-label">Trigger Height</label>
                <div class="controls">
                    <span class="input-append">
                        <input id="snapshot_profile_layer_trigger_height" name="layer_trigger_height" type="number" class="input-small ignore_hidden_errors"
                               data-bind="value: layer_trigger_height" min="0.0" step="0.01" required="true" />
                        <span class="add-on">mm</span>
                    </span>
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#trigger-height" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="snapshot_profile_layer_trigger_height"></div>
                    <span class="help-inline">Use 0mm to trigger on every layer, regardless of the layer height.</span>
                </div>
            </div>
        </div>
        <div data-bind="visible: trigger_type() == 'timer'">
            <div class="control-group">
                <label class="control-label">Seconds to Trigger</label>
                <div class="controls">
                    <input id="snapshot_profile_timer_trigger_seconds" name="timer_trigger_seconds" type="number" class="input-small ignore_hidden_errors"
                           data-bind="value: timer_trigger_seconds" min="0" required="true" />
                    <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#seconds-to-trigger" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    <div class="error_label_container text-error" data-error-for="snapshot_profile_timer_trigger_seconds"></div>
                    <span class="help-inline">Pause time is not counted when determining when to trigger.</span>
                </div>
            </div>
        </div>
    </div>
    <hr />
    <div>
      <h4>Print Quality Settings<a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#print-quality-settings" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a></h4>

        <p>Here you can control when and how Octolapse triggers a snapshot based on the current state of your extruder.  You can force Octolapse to lift and retract while taking snapshots, or put limits on when snapshots can be taken based on what your extruder is doing.</p>
    </div>
    <div>
        <div>
            <div>
                <h5>Print Quality - Extruder State <a href="https://github.com/FormerLurker/Octolapse/wiki/Extruder-State-Quality-Settings" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a></h5>
                <p>Your slicer settings for z-lift and retraction length must match your gcode file exactly for these options to work.</p>

            </div>
            <div>
                <h6>Lift and Retract</h6>
                <p>Your slicer settings for z-lift and retraction length must match your gcode file exactly for these options to work.</p>
            </div>
            <div class="control-group">
                <label class="control-label">Trigger on Z-Hop Only</label>
                <div class="controls">
                    <label class="checkbox">
                        <input type="checkbox" data-bind="checked: require_zhop" />Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Extruder-State-Quality-Settings#trigger-on-z-hop-only" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Retract Before Move</label>
                <div class="controls">
                    <label class="checkbox" title="If not retracted, retract before move">
                        <input type="checkbox" data-bind="checked: retract_before_move" /> Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Extruder-State-Quality-Settings#retract-before-move" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                    <span class="help-inline">If enabled, Octolapse will retract up to the length specified in the active printer profile.</span>
                </div>
            </div>
            <div class="control-group">
                <label class="control-label">Lift Before Move</label>
                <div class="controls">
                    <label class="checkbox" title="If not lifted, lift before move">
                        <input type="checkbox" data-bind="checked: lift_before_move" /> Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Extruder-State-Quality-Settings#lift-before-move" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                    <span class="help-inline">If enabled, Octolapse will lift up to the length specified in the active printer profile.</span>
                </div>
            </div>
            <div>
                <h6>Extruder Trigger Requirements</h6>
                <p>
                    Set extruder requirements for triggering a snapshot.
                </p>
            </div>
            <div class="control-group">
                <div class="controls">
                    <label class="checkbox">
                        <input id="snapshot_profile_extruder_state_requirements_enabled" name="extruder_state_requirements_enabled" type="checkbox" data-bind="checked: extruder_state_requirements_enabled" />Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Extruder-State-Quality-Settings#extruder-trigger-requirements" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                </div>
            </div>
            <div data-bind="visible:extruder_state_requirements_enabled">
                <div class="control-group">
                    <label class="control-label">Extrusion Starting</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_extruding_start" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_extruding_start"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_extruding_start"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">During Extrusion</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_extruding" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_extruding"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_extruding"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">On Extruder Primed</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_primed" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_primed"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_primed"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start Retracting</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_retracting_start" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_retracting_start"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_retracting_start"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Retracting</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_retracting" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_retracting"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_retracting"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Partially Retracted</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_partially_retracted" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_partially_retracted"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_partially_retracted"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Fully Retracted</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_retracted" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_retracted"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_retracted"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Start Detracting</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_detracting_start" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_detracting_start"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_detracting_start"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Detracting</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_detracting" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_detracting"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_detracting"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">On Detracted</label>
                    <div class="controls">
                        <select id="snapshot_profile_trigger_on_detracted" data-bind="options: Octolapse.Snapshots.profileOptions.snapshot_extruder_trigger_options,
                               optionsText: 'name',
                               optionsValue: 'value',

                               value: trigger_on_detracted"></select>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_trigger_on_detracted"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <div>
                <h5>Print Quality - Feature Detection</h5>
                <p>Allow snapshots to be taken while printing certain types of features.  The detection is performed by matching the current gcode speeds with your printer profile settings.  They must match exactly in order to work!</p>
                <p>Important Note: If your slicer has any features that slow down a layer speed detection will not work properly on these layers (in Slic3r, check Filament Settings->Cooling->Cooling Thresholds)</p>
            </div>
            <div class="control-group">
                <label class="control-label">Enable Feature Detection</label>
                <div class="controls">
                    <label class="checkbox" title="Enable or disable feature detection and restriction">
                        <input type="checkbox" data-bind="checked: feature_restrictions_enabled" /> Enabled
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Feature-Detection" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                    </label>
                </div>
            </div>


            <div data-bind="visible: feature_restrictions_enabled()">
                <div data-bind="visible: has_non_unique_feature_detection_fields" class="text-warning">
                    <p class="text-error">
                        Non-Unique Speeds Detected:
                        <small>
                            <a href="#" class="muted"
                               data-bind="toggleContent: { class: 'fa-caret-right fa-caret-down', container: '#snapshot_profile_non_unique_speeds.hide' }">
                                <i class="fa fa-no-shadow fa-caret-right"></i> {{ _('Show Non-Unique Speed Errors') }}
                            </a>
                        </small>
                    </p>
                    <div id="snapshot_profile_non_unique_speeds" class="control-group hide">
                        <p>
                        The following speeds are non-unique and will be indistinguishable when using 'Feature Detection':
                        </p>
                        <div class="text-error" data-bind="foreach: non_unique_feature_detection_fields">
                            <span data-bind="text: $data"></span><br/>
                        </div>
                    </div>
                </div>
                <div data-bind="visible: feature_restrictions_enabled() && has_missing_feature_detection_fields()" class="text-warning" style="display: none;">
                    <p>
                        The following speeds are missing and will not work when using 'Feature Detection' print quality settings
                        within the snapshot profile: <span class="text-error" data-bind="text: missing_feature_detection_fields"></span>
                    </p>
                </div>

                <div data-bind="template: feature_template_id"></div>
                </div>
            </div>



        </div>
    </div>
    <div>
        <div data-bind="visible:(position_restrictions_enabled() && position_restrictions().length > 0)" class="text-warning">
            <p>
                <strong>
                    There <span data-bind="text: (position_restrictions().length > 1 ? 'are' : 'is')"></span> <span data-bind="text: position_restrictions().length"></span> position restriction<span data-bind="text: (position_restrictions().length > 1 ? 's' : '')"></span>
                    currently enabled.
                </strong>
            </p>
        </div>
        <div>
            <div>
                <div>
                    <h5>Position Restrictions</h5>
                    <p>
                        Restrict snapshots so that they can only occur within the boundries, either rectangular or
                        circular, you set. You can add as many as you require.
                    </p>
                </div>
                <div class="control-group">
                    <label class="control-label">Enable Position Restrictions</label>
                    <div class="controls">
                        <label class="checkbox" title="Enable or disable position restrictions">
                            <input type="checkbox" data-bind="checked: position_restrictions_enabled" /> Enabled
                            <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#position-restrictions" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        </label>
                    </div>
                </div>
            </div>
            <div data-bind="visible: position_restrictions_enabled">
                <!-- Add new position restriction -->
                <div class="control-group">
                    <label class="control-label">Position Restriction Type</label>
                    <div class="controls">
                        <select id="snapshot_profile_new_position_restriction_type" data-bind="options: Octolapse.Snapshots.profileOptions.position_restriction_types,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: new_position_restriction_type"></select>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Position-Restrictions#position-restriction-type" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_new_position_restriction_type"></div>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Position Restriction Shape</label>
                    <div class="controls">
                        <select id="snapshot_profile_new_position_restriction_shape" data-bind="options: Octolapse.Snapshots.profileOptions.position_restriction_shapes,
                                   optionsText: 'name',
                                   optionsValue: 'value',
                                   value: new_position_restriction_shape"></select>
                        <a href="https://github.com/FormerLurker/Octolapse/wiki/Position-Restrictions#position-restriction-shape" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        <div class="error_label_container text-error" data-error-for="snapshot_profile_new_position_restriction_shape"></div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">X</span>
                                    <input id="octolapse_new_position_restriction_x"
                                           name="new_position_restriction_x" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_x" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error" data-error-for="octolapse_new_position_restriction_x"></div>
                            </div>
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">Y</span>
                                    <input id="octolapse_new_position_restriction_y"
                                           name="new_position_restriction_y" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_y" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error" data-error-for="octolapse_new_position_restriction_y"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: new_position_restriction_shape() == 'rect'">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">X2</span>
                                    <input id="octolapse_new_position_restriction_x2"
                                           name="new_position_restriction_x2" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_x2" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error" data-error-for="octolapse_new_position_restriction_x2"></div>
                            </div>
                            <div class="span6">
                                <div class="input-prepend input-append">
                                    <span class="add-on">Y2</span>
                                    <input id="octolapse_new_position_restriction_y2"
                                           name="new_position_restriction_y2" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_y2" step="any"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error" data-error-for="octolapse_new_position_restriction_y2"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: new_position_restriction_shape() == 'circle'">
                    <div class="controls">
                        <div class="row-fluid">
                            <div class="span12">
                                <div class="input-prepend input-append">
                                    <span class="add-on">Radius</span>
                                    <input id="octolapse_new_position_restriction_r"
                                           name="new_position_restriction_r" type="number"
                                           class="input-small ignore_hidden_errors text-right"
                                           data-bind="value: new_position_restriction_r" step="any" min="0"
                                           required="true" />
                                    <span class="add-on">mm</span>
                                </div>
                                <div class="error_label_container text-error" data-error-for="octolapse_new_position_restriction_r"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox"
                                   data-bind="checked: new_calculate_intersections"
                                   title="Calculate intersections and trigger if an intersection is in position." />Calculate Intersections
                            <a href="https://github.com/FormerLurker/Octolapse/wiki/Position-Restrictions#calculate-intersections" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        </label>
                        <span class="help-inline">
                            When selected, Octolapse will attempt to calculate an intersection between the currently printing line and any position restrictions.  If there are intersections, Octolapse alters the gcode so that a snapshot can trigger at one of the in-position intersections.
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <small>
                            <a href="#" class="btn btn-default"
                               data-bind="click: function(){$data.addPositionRestriction();}">
                                Add Position
                                Restriction
                            </a>
                        </small>
                    </div>
                </div>
                <div class="control-group" data-bind="visible: (position_restrictions().length > 0)">
                    <div class="controls">
                        <div>
                            <div>
                                <h4>
                                    Current Position Restrictions
                                </h4>
                            </div>
                            <table class="table-striped table-hover table-condensed table-hover octolapse-profiles">
                                <thead>
                                    <tr>
                                        <th>
                                            Type
                                        </th>
                                        <th>
                                            Shape
                                        </th>
                                        <th>
                                            X
                                        </th>
                                        <th>
                                            Y
                                        </th>
                                        <th>
                                            X2
                                        </th>
                                        <th>
                                            Y2
                                        </th>
                                        <th>
                                            R
                                        </th>
                                        <th>
                                            Intersect
                                        </th>
                                        <th>
                                            Action
                                        </th>
                                        <th>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody data-bind="foreach: position_restrictions">
                                    <tr>
                                        <td data-bind="text: Type"></td>
                                        <td data-bind="text: Shape"></td>
                                        <td data-bind="text: X"></td>
                                        <td data-bind="text: Y"></td>
                                        <td data-bind="text: (Shape == 'rect' ? X2 : '')"></td>
                                        <td data-bind="text: (Shape == 'rect' ? Y2 : '')"></td>
                                        <td data-bind="text: (Shape == 'circle' ? R : '')"></td>
                                        <td data-bind="text: (CalculateIntersections ? 'True' : 'False')"></td>
                                        <td>
                                            <a href="#" class="btn btn-default"
                                               data-bind="click: function() {$parent.removePositionRestriction($index);}">Remove</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <hr/>
            <div>
                <div><h5>Snaphot Image Removal</h5></div>
                <div class="control-group">
                    <label class="control-label">Clean Snapshots After Rendering</label>
                    <div class="controls">
                        <label class="checkbox" title="Clean temporary snapshots after a timelapse is rendered">
                            <input type="checkbox" data-bind="checked: cleanup_after_render_complete"
                                   title="After timelapse is rendered" />Enabled
                            <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#clean-snapshots-after-rendering" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        </label>
                        <span class="help-inline">
                            <span class="label label-important">Warning</span>&nbsp;Currently this process will delete ALL temporary images, even those taken during a different timelapse.
                        </span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label">Clean Snapshots After Rendering Failure</label>
                    <div class="controls">
                        <label class="checkbox">
                            <input type="checkbox" data-bind="checked: cleanup_after_render_fail"
                                   title="After timelapse fails" />Enabled
                            <a href="https://github.com/FormerLurker/Octolapse/wiki/Snapshot-Profiles#clean-snapshots-after-rendering-failure" title="Get help with this setting." target="_blank" ><span class="fa fa-question-circle fa-lg"></span></a>
                        </label>
                        <span class="help-inline">
                            <span class="label label-important">Warning</span>&nbsp; There are known issues with this setting, but it should not cause any errors.  Currently this process will delete ALL temporary images, even those taken during a different timelapse.
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

{% include "octolapse_profiles_snapshot_slicer_features.jinja2" %}


